<!doctype html>
{% load static %}
<html lang="ja">
<head>
    <title>murachanのブログ</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
     crossorigin="anonymous"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/navbar.css">



</head>

<body>


<div>
    <div>ヘッダー</div>
    <div>ナビゲーション</div>
    <div>メイン画像</div>
    <div>メインコンテンツ</div>
    <div>サイドバー</div>
    <div>フッター</div>
</div>





<div class="container">
  <div class="left-menu">




  </div>

 <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light p-100"> <a class="navbar-brand" href="#">Menu</a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"> <a class="nav-link active" aria-current="page" href="12345">お笑い</a> </li>
            <li class="nav-item"> <a class="nav-link" href="abc">Thinking</a> </li>
            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="abcd" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            仕事
          </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item"> <a class="nav-link disabled" href="child" tabindex="-1" aria-disabled="true">子育て</a> </li>
          </ul>
          <form class="d-flex"> <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> <button class="btn btn-outline-success" type="submit">Search</button> </form>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
      </nav>
    </div>


</div>



  {% block content %}
  {% endblock %}
</body>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->



</html>