/**
 * レイアウト用ボックスを囲む
 */
.container {
    width: 960px;       /* サイトの基本となる横幅 */
    margin-right: auto; /* 右側の余白を自動で調整 */
    margin-left: auto;  /* 左側の余白を自動で調整 */
}

/* ボックスの構造を分かりやすくするため */
.layout {
    background-color: #dedede;
    padding: 10px;
    border: 1px solid #949494;
    margin-bottom: 10px;
}

/* ヘッダー画像*/

div.title {
  width: 1000px;
  display: flex;
  line-height: 150px;

}

/*背景色*/
body{
    background-color:#EEEEEE;
}

/*区切り選*/

.hr_stripe{
  background: repeating-linear-gradient(45deg, red , red 10px,  white 10px, white 20px, green 20px, green 30px, white 30px, white 40px);
  background-color: gray;
  width: auto;
  height: 6px;
  margin: 0;

}

/* メインコンテンツ */
.main {
    float: left;
    width: 650px;
    margin: 0;
}

/* サイドバー */
.sidebar {
    float: left;
    width: 200px;
    font-family: "Hannari";
    margin:20px;
}

/*人気記事　タイトル付き（見出しボックス）*/
.box71{
margin: 2em auto; /* ボックスの余白 */
background-color: #fff; /* ボックス背景色 */
padding: 5em 2em 2em; /* ボックス内側余白 */
position:relative; /*配置(ここを基準に)*/
box-shadow: 0px 1px 5px rgba(0,0,0,0.1);/*ボックス影*/
width:255px;/*横幅最大幅 */

}

.box71 .box-title {
background-color: #A7B4AF; /* タイトル背景色 */
font-size: 1.4em;/* タイトル文字の大きさ */
color: #fff; /* タイトル文字色 */
padding:10px;/*タイトル余白*/
text-align: center;	/* タイトル中央寄せ */
position:absolute;	/* 配置(ここを動かす) */
top:0;	/*上から(0px)に配置 */
left:0; /*左から(0px)に配置 */
width:300px;/*横幅最大幅 */
}



/* クリアフィックス */
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    margin: 0;
    font-family: "Hannari";

}

/* --------------------------
 * ヘッダー
 * --------------------------
 */
header h1 {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    font-family: "Hannari";

}

header p span {
    font-size: 24px;
    font-weight: bold;
    margin:0;


}

header p {
    font-size: 24px;
    margin:0;
    font-family: "Hannari";
}
.description {
    margin-bottom: 0px;
}

/* --------------------------
 * ナビゲーション
 * --------------------------
 */
nav ul li {
    float: left;
    width: 18%;
    text-align: center;
    font-size:16px;
    margin:0;
    font-family: "Hannari";

}
nav {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin:0;

}
nav ul li a:hover {
    color: #fff;
    background-color: #16a765;
    margin-bottom: -1px;
    border-bottom: 1px solid #16a765;
    margin:0;
}
nav ul li a {
    display: block;
    padding: 15px;
    border-left: 1px dotted #D6D6D6;
    margin:0;

}
nav ul li:last-child {
    border-right: 1px dotted #D6D6D6;
    margin:0;
}
nav ul .active a {
    color: #fff;
    background-color: #16a765;
    border-bottom: 1px solid #16a765;
    margin-bottom: -1px;
    margin:0;
}

/* --------------------------
 * メイン画像
 * --------------------------
 */
.main-img  {
    margin 0;
    display:flex;

}
.main-img p  {
    font-size:18px;
    vertical-align:middle;
    padding:70px 0;
    margin:0;
    font-family: "Hannari";

}

/* --------------------------
 * ボタン
 * --------------------------
 */
.button {
    color: black;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 2px;
    font-family: "Hannari";

}
.button:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* --------------------------
 * 見出し
 * --------------------------
 */
.heading {
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-top: 2px solid #16a765;
    margin-bottom: 15px;
    padding: 8px 15px;
    font-family: "Hannari";

}

/* --------------------------
 * フッター
 * --------------------------
 */
.footer-left {
    float: left;
    width: 300px;
    margin-left: 40px;
}
.footer-right {
    float: right;
    width: 600px;
}
footer ul li {
    float: left;
    margin-bottom: 10px;
    padding: 0 7px 0 8px;
    font-size: 11px;
    border-right: 1px solid #b6b6b6;
    font-family: "Hannari";
}
.copyright {
    text-align: center;
    color: #666;
    font-size: 11px;
    margin: 20px 0;
}
footer {
    border-top: 1px solid #ddd;
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Hannari";
}
.footer-logo {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    font-family: "Hannari";
}
footer ul li a:hover {
    text-decoration: underline;
}

/* --------------------------
 * PRエリア
 * --------------------------
 */
.pr-area {
    margin-bottom: 10px;
    width: 600px;
    margin-top:0;
}
.pr-area li {
    float: left;
    margin: 0 10px;
    width: 200px;
    margin-bottom: 10px;
}
.pr-area li h2 {
    border-left: 5px solid #16a765;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 5px 0;
    padding-left: 10px;
    margin-top:0;
    font-family: "Hannari";
}
.pr-area .shadow {
    width: 100%;
    overflow: hidden;
    margin-top:0;
}
.pr-area .shadow:hover {
    opacity: 0.6;
}
.pr-area .trim-img {
    width: 100%;
    overflow: hidden;
}
.pr-area p {
    font-size: 13px;
    line-height: 1.8;
    padding: 5px;
    font-family: "Hannari";
}
.pr-area a p:hover {
    color: #16a765;
    text-decoration: underline;
}

/* --------------------------
 * ブログ
 * --------------------------
 */
/*
.blog {
    margin-bottom: 50px;
}
.blog p {
    font-size: 14px;
    margin-bottom: 15px;
}
.blog li {
    border-bottom: 1px dotted #ddd;
    padding: 15px 5px;
}
.blog .blog-img {
    float: left;
}
.blog .blog-img:hover {
    opacity: 0.8;
}
.blog .blog-info {
    margin-left: 115px;
}
.blog .blog-info h3 a {
    color: #16a765;
    font-size: 18px;
    font-weight: bold;
}
.blog .blog-info h3 a:hover {
    text-decoration: underline;
}
.blog .blog-info span {
    color: #666;
    font-size: 13px;
    margin-bottom: 10px;
}
.blog .blog-info p {
    font-size: 14px;
    margin-bottom: 15px;
}
*/

/* --------------------------
 * SNSリスト
 * --------------------------
 */
.share {
    margin-bottom: 50px;
    margin-top:0;
}
.share ul {
    border-top: 1px dotted #ddd;
    margin-top:0;
}
.share ul li {
    border-bottom: 1px dotted #ddd;
    margin-top:0;
}
.share ul li a {
    display: block;
    text-align: center;

}
.share ul li a:hover {
    background-color: #eee;
    opacity: 0.8;

}

