<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/diary_230110.css?v=9">
    <title>不細工サラリーマンの日記</title>
</head>


<body>
<div class="container">

        <header class="test">
                <a href="index.html">
                    <h1>不細工サラリーマンの日記</h1>
                </a>
            <script src="{% static 'js/test.js' %}"></script>
        </header>

<article>
<h2>３連休最後の休日</h2>


  <footer>執筆：<time datetime="2023-1-10T10:17-0900">令和5年10月23日午後3時23分</time></footer>

<h3>
    <p>今日は朝から嫁と小僧が、実家へ帰っているため家で独り。</p>
<p>
パチンコにでも行こうかと思ったが、勝てる気がしないしお金に余裕もないので家で執筆。
ジブリのオルゴールを聴きながら。
    </p>
<p>
嫁と小僧が居ないため、羽を伸ばせるチャンスだが特にすることない現実。
</p>

<p>今日は成人式、あれから12年経過。
12年経った今、成長が全く感じられない。
</p>

<p>皆さんは如何でしょうか。
成人式の自分と今の自分を比べてみて、成長を感じることができましたでしょうか。
</p>
何かを変える、成し遂げることは全て自分次第です。

その考えを常に持って、日々精進していきましょう。
</h3>
</article>
</div>
<div class="footer01">

  <p class="copyright">
    &copy; My Site
  </p>
</div>
</body>



</html>