<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/diary_230114.css?v=7">
    <title>不細工サラリーマンの日記</title>
</head>


<body>
<div class="container">

        <header class="test">
                <a href="index.html">
                    <h1>不細工サラリーマンの日記</h1>
                </a>
            <script src="{% static 'js/test.js' %}"></script>
        </header>

<article>
<h2>休日出勤＆共通テスト</h2>


  <footer>執筆：<time datetime="2023-1-14T13:23-0900">令和5年1月14日午後13時23分</time></footer>

    <p>本日は休日出勤でございます。</p>
<p>
昨晩、大学の友人とオンライン麻雀を1時まで行っていたため眠いです。
</p>
<p>
そういえば、今日は共通テスト（旧センター試験）です。
</p>

<p>皆さんは受けられましたか？私は受けました。そして時計を忘れるという失敗をしました。
</p>

<p>それでも、第二志望の大学へ入学することが出来たので結果オーライです。
</p>
<p>ここで32歳から1つお伝えしたいのは、共通テストへ失敗し希望大学に入学出来なくても
    全く人生問題ない、無傷ということです。</p>

<p>私も当時は、センター試験をミスして希望大学へ入学出来ないと「人生積む」と思っておりました。</p>

<p>しかし、これからの人生は長くどうとでもなります。
全て自分次第でどうにでも変えることが出来るのです。</p>

    <p>だからと言って、勉強をサボっても言い訳ではありません。
希望大学に入るために、この上なく努力した経験がとても重要だと思います。
これからの人生の糧になります。</p>

    <p>仮に結果が伴わなかったとしても、それも人生の難しさを味わうことが出来た経験値となります。</p>

    <p>つらつら書きましたが、今日の日記はここまでとします。
お読みいただきありがとうございました。</p>

</article>
</div>
<div class="footer01">

  <p class="copyright">
    &copy; My Site
  </p>
</div>
</body>



</html>