<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
     crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/diary_230115.css?v=7">
    <title>不細工サラリーマンの日記</title>
</head>


<body>
<div class="container">

        <header class="test">
                <a href="index.html">
                    <h1>不細工サラリーマンの日記</h1>
                </a>
            <script src="{% static 'js/test.js' %}"></script>
        </header>

<article>
<h2>1人の休日</h2>


  <footer>執筆：<time datetime="2023-1-15T12:23-0900">令和5年1月15日午後12時23分</time></footer>

    <p>本日は嫁と子供がお出掛けしているため
家で独りまったり過ごします。</p>

<p>
昨晩は前職の同期と飲み会であったので、帰宅したのが朝の4時。
</p>
<p>
子供に7時に叩き起こされたので、睡眠時間2時間弱。
</p>

<p>
ただ全く眠くないので、パチンコへ出陣。
</p>

<p>ぼろ負けしました。（嫁には内緒）
</p>
<p>そこから帰り道に1500円カットで散髪、その帰り道にコンビニに立ち寄りカップラーメンを購入。</p>

<p>嫁が帰宅する前に、洗濯物をたたみ、お風呂を沸かす。</p>

<p>そしてまたゴロゴロ（合間にたばこ）。</p>

    <p>本当に怠けた1日でした。</p>

    <p>ただ、昨晩の飲み会は色々刺激を貰える飲み会だったため
そこでの悔しさを思い出し自分のモチベーションに繋げていました。</p>

    <p>人生上手いこと行かないですね。 本当に難しい。 ただそれが人生。 それをどうにかしようと考えて行動し、藻掻くことが楽しいと思えればいいんですが。</p>
<p>皆さんもショックなことは日々ありますか？</p>
    <p>恥ずかしめを受ける、馬鹿にされる、劣等感など味わっていますでしょうか。</p>
    <p>その時にどれだけ今後のモチベーションに繋げられるかが重要だと思っています。</p>
    <p>くよくよしていてもしょうがない、「見返してやる」などの反骨精神で頑張っていきましょう。</p>
<p>※自分はくよくよしてしまいますが、、、</p>
<p>以上、今後とも宜しくお願いいたします。</p>

</article>
</div>
<div class="footer01">

  <p class="copyright">
    &copy; My Site
  </p>
</div>
</body>



</html>