<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    　<title>モテる眼鏡メンズブランド5選</title>
    <link rel="stylesheet" href="/static/css/fashion_master.css?v=28">

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
     crossorigin="anonymous"></script>

</head>

<body>

<!--▽▽ヘッダー▽▽-->
<header class="header">

    <!--▽▽ヘッダーロゴ▽▽-->
    <div class="logo">
        <a href="{% url 'blog:index' %}">ユーモアな館</a>
    </div>
    <!--△△ヘッダーロゴ△△-->

    <!--▽▽ヘッダーリスト▽▽-->
    <nav>
        <ul>
            <li><a href="humor_summary1">ユーモア語録</a></li>
            <li><a href="life_summary1">ユーモア小道具</a></li>
            <li><a href="trivia_summary1">ユーモア豆知識</a></li>
            <li><a href="fashion_summary1">ユーモア身嗜み</a></li>
        </ul>
    </nav>
    <!--△△ヘッダーリスト△△-->

</header>


<!--ルートディレクトリ-->
<div class="root">
    <div class="rootp">
        <a href="{% url 'blog:index' %}">Home<</a><a href="fashion_summary1">ユーモア身嗜み①<</a><div class="roota">
        <a href="fashion_glasses1">モテる眼鏡メンズブランド5選</a></div>
    </div>
    </div>


<!--メイン画像-->

<div class="globalNavigation">
    <div class="main-img">
        <img src="{% static 'media_local/fashion1.jpg'%}">
        <h1>モテる眼鏡 <br><br>
            メンズブランド5選。<br><br>の巻</h1>
    </div>
</div>


<!--△△記事△△-->
<main>

    <div class="content">
  <ul class="table_content">
        <p>目次</p>
        <li>Ray-Ban(レイバン)</li>
        <li>TOM FORD(トムフォード)</li>
        <li>OLIVER PEOPLES(オリバーピープルズ)</li>
        <li>金子眼鏡店</li>
        <li>白山眼鏡店</li>
    </ul>

<div class="pr-area">



       <div class="text2">
                　　　　　　　<h2>①Ray-Ban/レイバン</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/rayban.png'%}">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐⭐️⭐️</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>20代〜50代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>
                        最大の強みは米軍ミリタリースペックを実現する高性能レンズ。過酷な耐久テストに合格したものだけを選び抜き、用途に応じてUVカットやブルーライトカット、偏光、反射防止などの機能を備えています。タフな使用シーンを想定した防水・防油コーティングを施されたモデルがあるのも、正真正銘のミルスペックグラスが原点のRay-Banならでは。
                        さらに多機能なレンズだけでなく、その後に続くサングラスのオリジンとなったオーセンティックなデザインも、Ray-Banの魅力です。時代を超えた普遍的なスタイルは、やがてサングラスの代名詞としての存在を確立しています。
                    </td>
                </tr>
                <tr>
                    <td>デザイン</td>　

                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fglassmania%2Frx5345d-2000%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fglassmania%2Fi%2F10014921%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/glassmania/cabinet/00804161/rayban_rx/rayban_rx2/rx5345d2000_0.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>
                        　　　　　　　　　　
                </tr>
                <tr>
                    <td>価格帯</td>
                    <td>20,000円〜50,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://www.ray-ban.com/japan?cid=PM-SGA_300419-1.JP-RayBan-JA-B-Core-Exact_Trademark-EN_ray-ban&s_kwcid=AL!16196!3!634923267795!e!!g!!ray-ban!14048451252!123877992223&gclid=Cj0KCQjwocShBhCOARIsAFVYq0j4UJXWRxA-iMH32PdfIqWjJnahEsWjp8jZZgTVt5o8-JxXp_bEp9caApx_EALw_wcB&gclsrc=aw.ds">Ray-Ban公式ストア</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>


            <div class="box77">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6GFR+DB9YR6+4PGK+5Z6WX" rel="nofollow">
                    <img border="0" width="468" height="60" alt=""
                         src="https://www28.a8.net/svt/bgt?aid=230408631805&wid=001&eno=01&mid=s00000021962001004000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T6GFR+DB9YR6+4PGK+5Z6WX"
                     alt="">


            </div>

<hr class="hr3">

            <div class="text2">
                　　　　　　　<h2>②TOM FORD/トムフォード</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/tomford.jpg'%}" width="300px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐⭐️⭐️</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>20代〜60代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>ラグジュアリーブランド『GUCCI(グッチ』、『YVES SAINT LAURENT(イブサンローラン)』のクリエイティブディレクターを経て、2005年に誕生したブランド『TOM
                        FORD』。力強く、タフでしかもセクシーであるべき』というコンセプトで生み出されるトムフォードのアイウェアは瞬く間に世界中のセレブが愛用し、ここ日本でも一気にトップブランドへと駆け上がりました。
                        ブランドの象徴と言える『T』マークがフロントサイドにデザインされたトムフォードの眼鏡。丁寧に埋め込まれ、一切の凹凸もないように磨き込まれています。
                        太く大胆なラインで描かれたモデルでも、逆に細く繊細なデザインでもこの『T』マークがあることで一気にラグジュアリーな雰囲気へと変貌します。
                    </td>
                </tr>
                <tr>
                    <td>デザイン</td>　

                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fglassmaster%2Ftomf01-00115%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fglassmaster%2Fi%2F10052534%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/glassmaster/cabinet/m01/tomf/tomf01-00115-m01.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>
                        　　　　　　　　　　
                </tr>
                <tr>
                    <td>価格帯</td>
                    <td>20,000円〜300,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://tomford.jp">TOM FORD公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>


            <div class="box77">
                <a href="https://px.a8.net/svt/ejp?a8mat=3T6GFR+CV79F6+3VWO+HVV0H" rel="nofollow">
                    <img border="0" width="468" height="60" alt=""
                         src="https://www26.a8.net/svt/bgt?aid=230408631778&wid=001&eno=01&mid=s00000018132003004000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T6GFR+CV79F6+3VWO+HVV0H"
                     alt="">

            </div>

            <hr class="hr3">

            <div class="text2">
                　　　　　　　<h2>③OLIVER PEOPLES/オリバーピープルズ</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/oliver.png'%}" width="300px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐⭐️✳︎</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>20代〜30代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>
                        最たる魅力は、創業者であり、今もなお現場の最先端に立つクリエイティブ・ディレクターのラニー・レイト氏が提案した“ラグジュアリーヴィンテージ”。クラシックなコンビネーションフレームをモダンに魅せる繊細なデザイン力と、職人的な仕上げによる圧倒的な美しさは、視力矯正の道具をファッションアイテムのひとつとして昇華させています。
                        アイテム単体の良さだけではなく、クラシック志向が高まる大人の気分にマッチするのも『オリバーピープルズ』の長所。ベーシックな着こなしを大人らしく、今らしく彩る顔周りのアイテムとしてはうってつけ。
                    </td>
                </tr>
                <tr>
                    <td>デザイン</td>　

                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fsunglassoutlet%2Fov1186-5036%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fsunglassoutlet%2Fi%2F10046711%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/sunglassoutlet/cabinet/ov/ov1186-5036.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>
                        　　　　　　　　　　
                </tr>
                <tr>
                    <td>価格帯</td>
                    <td>35,000円〜50,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://www.oliverpeoples.com/japan">OLIVER PEOPLES公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>
            <div class="box77">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6DAU+4TULF6+3OGW+5ZMCH" rel="nofollow">
                    <img border="0" width="468" height="60" alt=""
                         src="https://www20.a8.net/svt/bgt?aid=230404566292&wid=001&eno=01&mid=s00000017168001006000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T6DAU+4TULF6+3OGW+5ZMCH"
                     alt="">

            </div>

            <hr class="hr3">

            <div class="text2">
                　　　　　　　<h2>④金子眼鏡</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/kaneko.jpg'%}" width="300px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐⭐✳︎</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>30代〜40代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>
                        メガネの卸商をスタートさせてから、60年の歴史を誇る日本の眼鏡メーカーです。世界最高峰の技術を持った職人によって作られた代表ブランド「職人シリーズ」を展開しています。
                        職人が丹精込めて作り上げたメガネはもはや芸術品。一度購入すれば長年にわたって使い続けることができます。フレームのデザインは、近年再び注目を集める「日本のヴィンテージ」。男らしささえ感じられるような骨太なデザインの中にも、手作りの温かさが伝わり、使い込むほどに愛着が湧きます。
                    </td>
                </tr>
                <tr>
                    <td>デザイン</td>　

                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fdirect-glass-labo%2Fec003-brs%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fdirect-glass-labo%2Fi%2F10001775%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/direct-glass-labo/cabinet/common/item5/ec003-brs_s.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>
                        　　　　　　　　　　
                </tr>
                <tr>
                    <td>価格帯</td>
                    <td>20,000円〜40,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://www.kaneko-optical.co.jp">金子眼鏡公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>

            <div class="box77">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6DAU+679KMQ+523A+5ZU29" rel="nofollow">
                    <img border="0" width="468" height="60" alt=""
                         src="https://www26.a8.net/svt/bgt?aid=230404566375&wid=001&eno=01&mid=s00000023599001007000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T6DAU+679KMQ+523A+5ZU29"
                     alt="">

            </div>

            <hr class="hr3">

            <div class="text2">
                　　　　　　　<h2>⑤白山眼鏡</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/hakusan.png'%}" width="300px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐✳︎✳︎</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>50代〜60代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>
                        1883年の白山眼鏡店（しらやまめがねてん）をルーツに持つ、老舗の中の老舗。日本製にこだわったフレームを展開しています。長い歴史の中で培われてきたメガネ作りの高い技術は世界中で評価されています。「デザインしすぎない」ことをコンセプトにしたフレームは、かけた人の顔に馴染むナチュラルな形。どのようなファッションにも合わせやすく、1本持っているだけでコーディネートの幅がグッと広がります。高品質な日本製のメガネにこだわる大人に手にとっていただきたいメガネブランドです。

                </tr>
                <tr>
                    <td>デザイン</td>　

                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Ffoolsjudge%2F20758194%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Ffoolsjudge%2Fi%2F10086491%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/foolsjudge/cabinet/230224/20758194.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>
                        　　　　　　　　　　
                </tr>
                <tr>
                    <td>価格帯</td>
                    <td>25,000円〜40,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="http://hakusan-megane.co.jp">白山眼鏡公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>

            <div class="box77">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6DAU+9W18J6+41C8+609HT" rel="nofollow">
                    <img border="0" width="468" height="60" alt=""
                         src="https://www25.a8.net/svt/bgt?aid=230404566598&wid=001&eno=01&mid=s00000018836001009000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T6DAU+9W18J6+41C8+609HT"
                     alt="">
            </div>


        </div>


    </div>

    <!--△△右側サイドバー△△-->
    <div class="ad">

        <!--自己紹介-->


        <!--人気記事-->
        <div class="sidebar">
            <h2>人気記事</h2>
            <div class="popular-articles">
                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/nosehair.png'%}" alt=""></div>
                    <div class="text">
                        <a href="humor_nosehair">鼻毛が出ている人に対するユーモアな指摘</a>
                    </div>
                </div>

                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/hobby.png'%}" alt=""></div>
                    <div class="text">
                        <a href="humor_hobby">趣味を聞かれた時のユーモア溢れる回答</a>
                    </div>
                </div>

                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/cinema.jpg'%}" alt=""></div>
                    <div class="text">
                        <a href="humor_cinema">好きな映画聞かれた時の返しがユーモア溢れる回答選手権</a>
                    </div>
                </div>

                <!-- 追加の人気記事をここに追加 -->
            </div>
        </div>
  <!--広告-->
        <div class="sidebarx">
            <h2>ユーモア商材</h2>
            <div class="popular-articlesx">

<a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+2GPLWY+2TI6+62MDD" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www26.a8.net/svt/bgt?aid=230409643149&wid=001&eno=01&mid=s00000013155001020000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T6H7V+2GPLWY+2TI6+62MDD" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+2KA7JM+3732+609HT" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230409643155&wid=001&eno=01&mid=s00000014915001009000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3T6H7V+2KA7JM+3732+609HT" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+40OCS2+2FQ2+61Z81" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www20.a8.net/svt/bgt?aid=230409643243&wid=001&eno=01&mid=s00000011369001017000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3T6H7V+40OCS2+2FQ2+61Z81" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+84XAEQ+4FOC+61RI9" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www22.a8.net/svt/bgt?aid=230304058492&wid=001&eno=01&mid=s00000020694001016000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=3T47QY+84XAEQ+4FOC+61RI9" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+4G5MIA+3732+C0YF5" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www22.a8.net/svt/bgt?aid=230409643269&wid=001&eno=01&mid=s00000014915002020000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T6H7V+4G5MIA+3732+C0YF5" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+2OG8S2+4XVM+60OXD" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www25.a8.net/svt/bgt?aid=230409643162&wid=001&eno=01&mid=s00000023053001011000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T6H7V+2OG8S2+4XVM+60OXD" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+21TRSI+50R8+60H7L" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www28.a8.net/svt/bgt?aid=230409643124&wid=001&eno=01&mid=s00000023426001010000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T6H7V+21TRSI+50R8+60H7L" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6VEN+7B5M5U+580C+5ZU29" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www28.a8.net/svt/bgt?aid=230428031442&wid=001&eno=01&mid=s00000024366001007000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T6VEN+7B5M5U+580C+5ZU29" alt="">


<a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+2RFESY+537A+5ZU29" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www25.a8.net/svt/bgt?aid=230409643167&wid=001&eno=01&mid=s00000023743001007000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3T6H7V+2RFESY+537A+5ZU29" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QX+1VA04Y+51JK+60H7L" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www27.a8.net/svt/bgt?aid=230304057113&wid=001&eno=01&mid=s00000023528001010000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3T47QX+1VA04Y+51JK+60H7L" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+3K07UA+4H90+BXIYP" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www28.a8.net/svt/bgt?aid=230409643215&wid=001&eno=01&mid=s00000020898002004000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3T6H7V+3K07UA+4H90+BXIYP" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+2TT582+1JHI+1NRX4X" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230409643171&wid=001&eno=01&mid=s00000007191010040000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3T6H7V+2TT582+1JHI+1NRX4X" alt="">



                <!-- 追加の人気記事をここに追加 -->
            </div>
        </div>

        <!--タグ-->
        <div class="tag">
            <h2>タグ一覧</h2>
            <a href="#">お仕事</a>
            <a href="#">お酒</a>
            <a href="#">お笑い</a>
            <a href="#">お友達</a>
            <a href="#">お金</a>
            <a href="#">モテモテ</a>
            <a href="#">身嗜み</a>
            <a href="#">心の健康</a>
            <a href="#">定石</a>
        </div>


    </div>
</main>


<footer class="footer">
    <p class="copyright">ユーモア溢れる世界を作りたい　byむらちゃん</p>

</footer>

</body>