<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    　<title>モテるTシャツメンズブランド5選</title>
    <link rel="stylesheet" href="/static/css/fashion_master.css?v=28">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
     crossorigin="anonymous"></script>
<meta name="google-site-verification" content="0VtXnJ27yzGz0CEiPOL2d8_mVlvpZCxg6tq3uoYw35Y" />
</head>

<body>

<!--▽▽ヘッダー▽▽-->
<header class="header">

    <!--▽▽ヘッダーロゴ▽▽-->
    <div class="logo">
        <a href="{% url 'blog:index' %}">ユーモアな館</a>
    </div>
    <!--△△ヘッダーロゴ△△-->

    <!--▽▽ヘッダーリスト▽▽-->
    <nav>
        <ul>
            <li><a href="humor_summary1">ユーモア語録</a></li>
            <li><a href="life_summary1">ユーモア小道具</a></li>
            <li><a href="trivia_summary1">ユーモア豆知識</a></li>
            <li><a href="fashion_summary1">ユーモア身嗜み</a></li>
        </ul>
    </nav>
    <!--△△ヘッダーリスト△△-->

</header>

<!--ルートディレクトリ-->
<div class="root">
    <div class="rootp">
        <a href="{% url 'blog:index' %}">Home<</a><a href="fashion_summary1">ユーモア身嗜み①<</a><div class="roota">
        <a href="fashion_tshirt1">モテるTシャツメンズブランド5選</a></div>
    </div>
    </div>

<!--メイン画像-->

<div class="globalNavigation">
    <div class="main-img">
        <img src="{% static 'media_local/fashion1.jpg'%}">
        <h1>モテるTシャツ <br><br>
            メンズブランド5選。<br><br>の巻</h1>
    </div>
</div>


<!--△△記事△△-->
<main>

    <div class="content">
  <ul class="table_content">
        <p>目次</p>
        <li>ABERCROMBIE&FITCH(アバクロンビーアンドフィッチ)</li>
        <li>Champion(チャンピオン)</li>
        <li>Maison kitsune(メゾンキツネ)</li>
        <li>carhartt(カーハート) </li>
        <li>THE NORTH FACE(ザ ノースフェイス)</li>
    </ul>

<div class="pr-area">



         <div class="text2">
                　　　　　　　<h2>①ABERCROMBIE&FITCH/アバクロンビーアンドフィッチ</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/fitch.jpg'%}" width="250px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐⭐️⭐️</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>20代〜30代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>アバクロの愛称で親しまれているアメリカのカジュアルブランドは、ヴィンテージ感のある独特のデザインと男らしさを感じさせる雰囲気でワイルドな男子たちから絶大な人気を集めています。海外セレブが着用していることで日本でも高い人気を誇ります。夏に欠かせないTシャツは同ブランドの人気アイテムの1つで、タイト目なデザインで男の色気をアピールするにはうってつけ。</td>
                </tr>
                <tr>
                    <td>デザイン</td>　

                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fntrl%2F10020739%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fntrl%2Fi%2F10020739%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/ntrl/cabinet/08895560/imgrc0112574129.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>
                        　　　　　　　　　　
                </tr>

                <tr>
                    <td>価格帯</td>
                    <td>5,000円〜15,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://www.abercrombie.com/shop/am-ja">ABERCROMBIE&FITCH公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>


            <div class="box77">
               <a href="//af.moshimo.com/af/c/click?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502&url=https%3A%2F%2Fshopping.yahoo.co.jp%2Fsearch%3FX%3D3%26brandid%3D174%26p%3DABERCROMBIE%252526FITCH%2Bt%25E3%2582%25B7%25E3%2583%25A3%25E3%2583%2584%26kspec%3DE413%26ss_first%3D1%26tab_ex%3Dcommerce%26sc_i%3Dshp_pc_search_brand_slctim%26area%3D13%26used%3D2%26b%3D1%26view%3Dfg" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">Yahoo!ショッピング　ABERCROMBIE&amp;FITCH</a><img src="//i.moshimo.com/af/i/impression?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502" width="1" height="1" style="border:none;" alt="">
                <br>
                <a href="//af.moshimo.com/af/c/click?a_id=3926107&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fsearch.rakuten.co.jp%2Fsearch%2Fmall%2FABERCROMBIE%252526FITCH%2525E3%252580%252580T%25E3%2582%25B7%25E3%2583%25A3%25E3%2583%2584%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">楽天市場　ABERCROMBIE&amp;FITCH</a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&p_id=54&pc_id=54&pl_id=616" width="1" height="1" style="border:none;" alt="">
                 </div>

            <hr class="hr3">

            <div class="text2">
                　　　　　　　<h2>②Champion/チャンピオン</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/champion.png'%}" width="400px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐⭐️⭐️</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>20代〜50代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>世界中の人々から愛されてきたChampion Tシャツ。1960年代から使用されている袖のCマークワッペンが特徴で、シンプルなものからおしゃれなものまで、カラーバリエーション豊富なので様々なおしゃれコーデを楽しめる。着用するたびに味が出てくるので長年に渡りご愛用いただけます。</td>
                </tr>

                <tr>
                    <td>デザイン</td>　
                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fasty-shop%2Fb0-crl9knz8bk-0236%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fasty-shop%2Fi%2F25579577%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/asty-shop/cabinet/njyjp00e2/b0-crl9knz8bk-0236.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>　　　　　　　　　　
                </tr>

                <tr>
                    <td>価格帯</td>
                    <td>2,000円~10,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://www.championusa.jp">Champion公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>


            <div class="box77">
             <a href="//af.moshimo.com/af/c/click?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502&url=https%3A%2F%2Fshopping.yahoo.co.jp%2Fsearch%3Ffirst%3D1%26ss_first%3D1%26ts%3D1681622536%26mcr%3Dbda0282308b2e763c6f9202ec44812c3%26X%3D3%26kspec%3DE413%26tab_ex%3Dcommerce%26used%3D2%26area%3D13%26astk%3D%26aq%3D6%26oq%3Dchampion%2Bt%25E3%2582%25B7%25E3%2583%25A3%25E3%2583%2584%26p%3Dchampion%2Bt%25E3%2582%25B7%25E3%2583%25A3%25E3%2583%2584%26sc_i%3Dshp_pc_search_searchBox_suggest%26sretry%3D0" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">Yahoo!ショッピング　Champion</a><img src="//i.moshimo.com/af/i/impression?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502" width="1" height="1" style="border:none;" alt="">
               <br>
             <a href="//af.moshimo.com/af/c/click?a_id=3926107&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fsearch.rakuten.co.jp%2Fsearch%2Fmall%2FChampion%2525E3%252580%252580T%25E3%2582%25B7%25E3%2583%25A3%25E3%2583%2584%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">楽天市場　Champion</a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&p_id=54&pc_id=54&pl_id=616" width="1" height="1" style="border:none;" alt="">
                   </div>

            <hr class="hr3">

            <div class="text2">
                　　　　　　　<h2>③Maison kitsune/メゾンキツネ</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/maison.png'%}" width="300px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐⭐️✳︎</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>20代〜40代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>MAISON KITSUNEのTシャツは、他のガーメント同様にシンプルでミニマムなデザインが多いことが特徴です。アイコニックであるトリコロールのキツネのワッペンをあしらったシンプルなポケットTシャツやトレンドのロゴTシャツ、ボーダーTシャツは定番であり人気アイテムです。</td>
                </tr>
                 <tr>
                    <td>デザイン</td>　
                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fdiva-closet%2Fmi-5743184906-031%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fdiva-closet%2Fi%2F10425388%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/diva-closet/cabinet/imgrc-20201219001729/imgrc3296546-1.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>　　　　　　　　　　
                </tr>
                <tr>
                    <td>価格帯</td>
                    <td>10,000円〜50,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://maisonkitsune.com/jp/">Maison kitsune公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>
            <div class="box77">
               <a href="//af.moshimo.com/af/c/click?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502&url=https%3A%2F%2Fshopping.yahoo.co.jp%2Fsearch%3Ffirst%3D1%26ss_first%3D1%26ts%3D1681622957%26mcr%3D68003f3b9b41778cd8406cce742d4f7f%26X%3D3%26kspec%3DE413%26tab_ex%3Dcommerce%26used%3D2%26area%3D13%26astk%3D%26aq%3D%26oq%3D%26p%3DMaison%2Bkitsune%2Bt%25E3%2582%25B7%25E3%2583%25A3%25E3%2583%2584%26sc_i%3Dshp_pc_search_searchBox_2%26sretry%3D0" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">Yahoo!ショッピング　Maison kitsune</a><img src="//i.moshimo.com/af/i/impression?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502" width="1" height="1" style="border:none;" alt="">
                <br>
               <a href="//af.moshimo.com/af/c/click?a_id=3926107&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fsearch.rakuten.co.jp%2Fsearch%2Fmall%2FMaison%2Bkitsune%2525E3%252580%252580T%25E3%2582%25B7%25E3%2583%25A3%25E3%2583%2584%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">楽天市場　Maison kitsune</a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&p_id=54&pc_id=54&pl_id=616" width="1" height="1" style="border:none;" alt="">
                 </div>

            <hr class="hr3">

            <div class="text2">
                　　　　　　　<h2>④carhartt/カーハート</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/carhartt.png'%}" width="200px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐⭐✳︎</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>35代〜50代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>130年もの歴史を誇る「carhartt(カーハート)」。有名なのが、左胸に大きめの胸ポケットとカーハートのロゴをオンした「ポケットロゴT」。厚みのあるタフな生地感と適度なシャリ感のある素材が特徴で、洗うほどにヴィンテージ感が増していくのも男心をくすぐるポイント。ほどよくゆとりのあるシルエットを採用し、こなれた印象に仕上がるドロップショルダー、長めの着丈と袖丈など、ストリート感を強めてくれる今どきなアイテムに仕上がっている。ベーシックなカラーに加え、こなれた雰囲気を醸し出す絶妙な色味のアースカラーを展開。デニムに合わせて王道のストリートコーデをつくるもよし、スラックスなどと合わせた都会的なコーデも楽しめる1枚だ。</td>
                </tr>
                <tr>
                    <td>デザイン</td>　
                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fre-vida%2F15-04000181914650%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fre-vida%2Fi%2F18827901%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/re-vida/cabinet/15img100/15-04000181914650.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>　　　　　　　　　　
                </tr>
                <tr>
                    <td>価格帯</td>
                    <td>8,000円〜80,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://carhartt-wip.jp">carhartt公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>

            <div class="box77">
             <a href="//af.moshimo.com/af/c/click?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502&url=https%3A%2F%2Fshopping.yahoo.co.jp%2Fsearch%3Ffirst%3D1%26ss_first%3D1%26ts%3D1681623065%26mcr%3Df63df3773735be799b92bdac4b663dc0%26X%3D3%26kspec%3DE413%26tab_ex%3Dcommerce%26sretry%3D0%26used%3D2%26area%3D13%26astk%3D%26aq%3D%26oq%3D%26p%3Dcarhartt%2Bt%25E3%2582%25B7%25E3%2583%25A3%25E3%2583%2584%26sc_i%3Dshp_pc_search_searchBox_2" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">Yahoo!ショッピング　carhartt</a><img src="//i.moshimo.com/af/i/impression?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502" width="1" height="1" style="border:none;" alt="">
                <br>
            <a href="//af.moshimo.com/af/c/click?a_id=3926107&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fsearch.rakuten.co.jp%2Fsearch%2Fmall%2Fcarhartt%2525E3%252580%252580T%25E3%2582%25B7%25E3%2583%25A3%25E3%2583%2584%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">楽天市場　carhartt</a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&p_id=54&pc_id=54&pl_id=616" width="1" height="1" style="border:none;" alt="">
            </div>

            <hr class="hr3">

            <div class="text2">
                　　　　　　　<h2>⑤THE NORTH FACE(ザ ノースフェイス)</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/face.jpg'%}"width="200px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐✳︎✳︎</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>20代〜60代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>高い人気を誇る「THE NORTH FACE(ザ ノースフェイス)」のシンプルなロゴTシャツ。ザ ノースフェイスを象徴するハーフドームのロゴを左胸にプリントしたシンプルな1枚だ。このハーフドームは、アメリカ カリフォルニア州にあるヨセミテ国立公園のシンボルであるハーフドームをモチーフにしたもので、3本のラインは世界三大北壁であるスイスのアイガー北壁とマッターホルン北壁、フランスのグランジョラス北壁をイメージ。肌触りのいい滑らかな素材を採用し、1枚でも快適に着られるTシャツに仕上がっている。カラー展開はベーシックなカラーに加えて、イエローやライトブルーなどのアクセントになるカラーや、カモフラ柄など幅広いカラー展開も魅力。縦長効果を生む着丈長めのシルエットで、スマートな印象に導いてくれるだろう。</td>
                </tr>
                <tr>
                    <td>デザイン</td>　
                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fmodescape%2F1-240001072281%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fmodescape%2Fi%2F10237833%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/modescape/cabinet/ladies_056/1240001072281_1.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>　　　　　　　　　　
                </tr>

                <tr>
                    <td>価格帯</td>
                    <td>3,000円〜20,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://www.goldwin.co.jp/ap/s/s?fq=bd:GDW01&sort=rk+desc,fsdt+desc&xadid=a011020153750867167514&gclid=Cj0KCQjwlumhBhClARIsABO6p-z9ItLJHO9J2PSJN-eYTlasImqpd9A1MGd-fjf4RA4IStVP_Cak5zgaAnlwEALw_wcB">THE NORTH FACE公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>

            <div class="box77">
              <a href="//af.moshimo.com/af/c/click?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502&url=https%3A%2F%2Fshopping.yahoo.co.jp%2Fsearch%3Fbrandid%3D801%26X%3D3%26p%3DTHE%2BNORTH%2BFACE%2Bt%25E3%2582%25B7%25E3%2583%25A3%25E3%2583%2584%26kspec%3DE413%26ss_first%3D1%26tab_ex%3Dcommerce%26area%3D13%26used%3D2%26sc_i%3Dshp_pc_search_brand_slctim" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">Yahoo!ショッピング　THE NORTH FACE</a><img src="//i.moshimo.com/af/i/impression?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502" width="1" height="1" style="border:none;" alt="">
                <br>
           <a href="//af.moshimo.com/af/c/click?a_id=3926107&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fsearch.rakuten.co.jp%2Fsearch%2Fmall%2FTHE%2BNORTH%2BFACE%2525E3%252580%252580T%25E3%2582%25B7%25E3%2583%25A3%25E3%2583%2584%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">楽天市場　THE NORTH FACE</a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&p_id=54&pc_id=54&pl_id=616" width="1" height="1" style="border:none;" alt="">
            </div>


        </div>


    </div>

    <!--△△右側サイドバー△△-->
    <div class="ad">

        <!--自己紹介-->


        <!--人気記事-->
        <div class="sidebar">
            <h2>人気記事</h2>
            <div class="popular-articles">
                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/nosehair.png'%}" alt=""></div>
                    <div class="text">
                        <a href="humor_nosehair">鼻毛が出ている人に対するユーモアな指摘</a>
                    </div>
                </div>

                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/hobby.png'%}" alt=""></div>
                    <div class="text">
                        <a href="humor_hobby">趣味を聞かれた時のユーモア溢れる回答</a>
                    </div>
                </div>

                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/cinema.jpg'%}" alt=""></div>
                    <div class="text">
                        <a href="humor_cinema">好きな映画聞かれた時の返しがユーモア溢れる回答選手権</a>
                    </div>
                </div>

                <!-- 追加の人気記事をここに追加 -->
            </div>
        </div>
  <!--広告-->
        <div class="sidebarx">
            <h2>ユーモア商材</h2>
            <div class="popular-articlesx">

<a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+2GPLWY+2TI6+62MDD" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www26.a8.net/svt/bgt?aid=230409643149&wid=001&eno=01&mid=s00000013155001020000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T6H7V+2GPLWY+2TI6+62MDD" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+2KA7JM+3732+609HT" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230409643155&wid=001&eno=01&mid=s00000014915001009000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3T6H7V+2KA7JM+3732+609HT" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+40OCS2+2FQ2+61Z81" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www20.a8.net/svt/bgt?aid=230409643243&wid=001&eno=01&mid=s00000011369001017000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3T6H7V+40OCS2+2FQ2+61Z81" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+84XAEQ+4FOC+61RI9" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www22.a8.net/svt/bgt?aid=230304058492&wid=001&eno=01&mid=s00000020694001016000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=3T47QY+84XAEQ+4FOC+61RI9" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+4G5MIA+3732+C0YF5" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www22.a8.net/svt/bgt?aid=230409643269&wid=001&eno=01&mid=s00000014915002020000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T6H7V+4G5MIA+3732+C0YF5" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+2OG8S2+4XVM+60OXD" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www25.a8.net/svt/bgt?aid=230409643162&wid=001&eno=01&mid=s00000023053001011000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T6H7V+2OG8S2+4XVM+60OXD" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+21TRSI+50R8+60H7L" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www28.a8.net/svt/bgt?aid=230409643124&wid=001&eno=01&mid=s00000023426001010000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T6H7V+21TRSI+50R8+60H7L" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6VEN+7B5M5U+580C+5ZU29" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www28.a8.net/svt/bgt?aid=230428031442&wid=001&eno=01&mid=s00000024366001007000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T6VEN+7B5M5U+580C+5ZU29" alt="">


<a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+2RFESY+537A+5ZU29" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www25.a8.net/svt/bgt?aid=230409643167&wid=001&eno=01&mid=s00000023743001007000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3T6H7V+2RFESY+537A+5ZU29" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QX+1VA04Y+51JK+60H7L" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www27.a8.net/svt/bgt?aid=230304057113&wid=001&eno=01&mid=s00000023528001010000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3T47QX+1VA04Y+51JK+60H7L" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+3K07UA+4H90+BXIYP" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www28.a8.net/svt/bgt?aid=230409643215&wid=001&eno=01&mid=s00000020898002004000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3T6H7V+3K07UA+4H90+BXIYP" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+2TT582+1JHI+1NRX4X" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230409643171&wid=001&eno=01&mid=s00000007191010040000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3T6H7V+2TT582+1JHI+1NRX4X" alt="">



                <!-- 追加の人気記事をここに追加 -->
            </div>
        </div>

        <!--タグ-->
        <div class="tag">
            <h2>タグ一覧</h2>
            <a href="#">お仕事</a>
            <a href="#">お酒</a>
            <a href="#">お笑い</a>
            <a href="#">お友達</a>
            <a href="#">お金</a>
            <a href="#">モテモテ</a>
            <a href="#">身嗜み</a>
            <a href="#">心の健康</a>
            <a href="#">定石</a>
        </div>


    </div>
</main>


<footer class="footer">
    <p class="copyright">ユーモア溢れる世界を作りたい　byむらちゃん</p>

</footer>

</body>