<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/fashion_sneakers.css?2347">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <title>モテるスニーカー メンズブランド5選</title>
</head>
<body>

<div class="container">

    <nav>
        <a href="{% url 'blog:index' %}">表紙</a>
        <a href="humor_summary">ユーモア語録</a>
        <a href="life_summary">ユーモア小道具</a>
        <a href="trivia_summary">ユーモア豆知識</a>
        <a href="fashion_summary">ユーモア身嗜み</a>
        <div class="animation start-home"></div>
    </nav>


    <div class="main-img">
        <img src="{% static 'media_local/sneaker.png'%}" width="100%">
        　　　　<h1>モテるスニーカー <br>メンズブランド5選</h1>
        　　　　　　　<p>Hello</p>
    </div>

    <!--吹き出しはじまり-->
    <div class="balloon5">
        <div class="faceicon">
            <img src="{% static 'media_local/cat.jpg'%}">
        </div>
        <div class="chatting">
            <div class="says">
                <p>こんにちは村ちゃんです。今回はモテるスニーカー メンズブランド5選をまとめました。
                    参考にしてください。</div>
        </div>
    </div>
    <!--吹き出し終わり-->


    <p class="sample_h_4">モテるスニーカー メンズブランド5選</p>


    <ul class="table_content">
        <p>目次</p>
        <li>new balance(ニューバランス)</li>
        <li>Reabok(リーボック)</li>
        <li>TOD'S(トッズ)</li>
        <li>diadora(ディアドラ)</li>
        <li>LACOSTE(ラコステ)</li>
    </ul>

    <hr class="cp_hr10"/>
    <div class="flex">
        <div class="pr-area">

            <div class="text">
                　　　　　　　<h2>①new balance/ニューバランス</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/newbalance.png'%}">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐⭐️⭐️</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>20代〜40代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>New Balanceはボストン発祥のシューズブランドです。矯正靴の製造ノウハウを生かし機能性を大切にしたシューズを作っています。
                        伝統を守りつつ最新テクノロジーも使った製造方法が特徴。ランニングシューズをはじめ、サッカーやテニスなどのスポーツシューズ、アウトドアや日常向けスニーカーなど、さまざまなアイテムがあります。どのシューズもシンプルなものから色使いのカラフルなものまで、カラー展開も豊富です
                </tr>
                <tr>
                    <td>デザイン</td>　

                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fasty-shop%2Fk0-njvudmhg7s-3873%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fasty-shop%2Fi%2F30525520%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/asty-shop/cabinet/nxtfm01e2/k0-njvudmhg7s-3873.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>
                        　　　　　　　　　　
                </tr>

                <tr>
                    <td>価格帯</td>
                    <td>10,000円〜30,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://www.championusa.jp">newbalance公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>


            <div class="box77">
                <a href="//af.moshimo.com/af/c/click?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502&url=https%3A%2F%2Fshopping.yahoo.co.jp%2Fsearch%3Ffirst%3D1%26tab_ex%3Dcommerce%26fr%3Dshp-prop%26mcr%3D3e8c5b1e1895b9aa06a1c8b866b4f133%26ts%3D1681135399%26sretry%3D1%26p%3Dnew%2520balance%26sc_i%3Dshp_pc_top_searchBox_suggest_category%26aq%3D0%26oq%3Dnew%2520balance%26cid%3D22901%26area%3D13" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">Yahoo!ショッピング　newbalance</a><img src="//i.moshimo.com/af/i/impression?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502" width="1" height="1" style="border:none;" alt="">
                <br>
<a href="//af.moshimo.com/af/c/click?a_id=3926107&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fsearch.rakuten.co.jp%2Fsearch%2Fmall%2Fnew%2Bbalance%2F206878%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">楽天市場　new balance</a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&p_id=54&pc_id=54&pl_id=616" width="1" height="1" style="border:none;" alt="">
            </div>

            <hr class="hr3">

            <div class="text">
                　　　　　　　<h2>②Reebok/リーボック</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/reebok.png'%}" width="200px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐⭐️⭐️</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>20代〜30代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>リーボックは陸上選手だったJ・W・フォスターが設立したイギリス生まれのスポーツ用品ブランドで、フィットネスやランニング関連の商品を多く販売しています。
                        リーボックのスニーカーの中でも世界的な大ヒットとなったのが「フリースタイル」です。エアロビクス用のスニーカーとして発売されましたが、その近未来的で斬新なデザインが多くのスニーカーファンを魅了しました。
                        ハイテクスニーカーの定番であるリーボックは、ポンプシステムをスニーカーに搭載し、ポンプをプシュプシュと押すことで空気を入れ、フィット感が増す、他社にない独創的なのスニーカー「ポンプ
                        フューリー」を販売しています。
                </tr>

                <tr>
                    <td>デザイン</td>　
                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fskymarketplus%2Fb07t5mpkqj%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fskymarketplus%2Fi%2F10276007%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/skymarketplus/cabinet/20220602-3-1/b07t5mpkqj.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>　　　　　　　　　　
                </tr>

                <tr>
                    <td>価格帯</td>
                    <td>5,000円~20,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://www.russelljapan.co.jp">Reebok公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>


            <div class="box77">
               <a href="//af.moshimo.com/af/c/click?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502&url=https%3A%2F%2Fshopping.yahoo.co.jp%2Fsearch%3Ffirst%3D1%26ss_first%3D1%26ts%3D1681136713%26mcr%3D257020918af834f165ceb7123dfb8ebf%26tab_ex%3Dcommerce%26sretry%3D0%26area%3D13%26astk%3D%26aq%3D%26oq%3D%26p%3Dreebok%2B%25E3%2582%25B9%25E3%2583%258B%25E3%2583%25BC%25E3%2582%25AB%25E3%2583%25BC%26sc_i%3Dshp_pc_search_searchBox_2" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">Yahoo!ショッピング　Reebok</a><img src="//i.moshimo.com/af/i/impression?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502" width="1" height="1" style="border:none;" alt="">
                <br>
                <a href="//af.moshimo.com/af/c/click?a_id=3926107&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fsearch.rakuten.co.jp%2Fsearch%2Fmall%2Freebok%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">楽天市場  Reebok</a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&p_id=54&pc_id=54&pl_id=616" width="1" height="1" style="border:none;" alt="">
            </div>

            <hr class="hr3">

            <div class="text">
                　　　　　　　<h2>③TOD'S/トッズ</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/tods.png'%}" width="300px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐⭐️✳︎</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>30代〜50代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>
                        トッズ（TOD’S）は靴やバッグを扱うブランドとして、1979年に誕生しました。イタリアのシューズメーカーだったEMA社がトッズの前身で、後にトッズに社名を変更しています。トッズの靴は品質の高さと履きやすさ、エレガントなデザインですぐに支持を集め、現在もファンを増やしています。シャロン・ストーンやデンゼル・ワシントンといったハリウッドスターもトッズの靴の愛用者と言われています。トッズの靴は、非常に多い工程を経て商品として届けられます。その工程の数は、多いものでは120以上になるそうです。そして、職人による手作りの製法を生かしつつ、工業ラインを組み立てることで、靴の効率的な製造を可能にしました。
                        トッズといえば、スタイリッシュなデザインでも有名です。正統派で機能性を損なわないのにエレガントでモダンなデザインのシューズは、イタリアだけでなく世界中で人気を得ています。トッズはそのデザインが認められ、以前は「カルバン・クライン（Calvin
                        Klein）」や「クリスチャン・ラクロワ（Christian
                        Lacroix）」などのブランドとライセンス契約を結び、靴を供給していました。現在では、他のブランドに供給することは特別な例外を除いてはなく、トッズのみに集中して展開を行っています。
                    </td>
                </tr>
                 <tr>
                    <td>デザイン</td>　
                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fretro%2Fre-tod-sn-m-00007%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fretro%2Fi%2F10097970%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/retro/cabinet/i/252/re-tod-sn-m-00007.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1"></div></td>　　　　　　　　　　
                </tr>
                <tr>
                    <td>価格帯</td>
                    <td>20,000円〜60,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://www.loopwheeler.co.jp">TOD'S公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>
            <div class="box77">
                <a href="//af.moshimo.com/af/c/click?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502&url=https%3A%2F%2Fshopping.yahoo.co.jp%2Fsearch%3Ffirst%3D1%26ss_first%3D1%26ts%3D1681160234%26mcr%3D8f5fc7f6284da60765cbd9514fd53714%26tab_ex%3Dcommerce%26sretry%3D1%26area%3D13%26astk%3D%26aq%3D%26oq%3D%26p%3Dtod%252527s%2B%25E3%2582%25B9%25E3%2583%258B%25E3%2583%25BC%25E3%2582%25AB%25E3%2583%25BC%2B%25E3%2583%25A1%25E3%2583%25B3%25E3%2582%25BA%26sc_i%3Dshp_pc_search_searchBox_2" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">Yahoo!ショッピング　TOD&#39;S</a><img src="//i.moshimo.com/af/i/impression?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502" width="1" height="1" style="border:none;" alt="">
                  <br>
                <a href="//af.moshimo.com/af/c/click?a_id=3926107&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fsearch.rakuten.co.jp%2Fsearch%2Fmall%2FTOD%25E2%2580%2599S%2B%25E3%2583%25A1%25E3%2583%25B3%25E3%2582%25BA%2525E3%252580%252580%25E3%2582%25B9%25E3%2583%258B%25E3%2583%25BC%25E3%2582%25AB%25E3%2583%25BC%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">楽天市場　TOD&#39;S</a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&p_id=54&pc_id=54&pl_id=616" width="1" height="1" style="border:none;" alt="">
             </div>

            <hr class="hr3">

            <div class="text">
                　　　　　　　<h2>④diadora/ディアドラ</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/diadora.png'%}" width="300px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐⭐✳︎</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>20代〜30代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>
                        1948年にイタリアで創業したスポーツブランドである『ディアドラ』は、靴工房として登山靴の製造からスタートしました。イタリアらしい洗練されたデザインに加え、高い技術力と品質が本国で高い評価を獲得。1960年代後半にはスポーツ界への進出を意図し、世界の五大陸を意味する新しいブランドロゴ「ファイブボール」を発表。1970年代に入ってからはスポーツ界のトップアスリートたちとの契約で、『ディアドラ』の名は世界で知られるように。2002年には「ヘリテージライン」が誕生し、洒落者からも多くの支持を集めるようになった
                    </td>
                </tr>
                <tr>
                    <td>デザイン</td>　
                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fjordan23%2F25_75849815_2%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fjordan23%2Fi%2F38041972%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/jordan23/cabinet/25/93/25_75849815_1_1.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>　　　　　　　　　　
                </tr>
                <tr>
                    <td>価格帯</td>
                    <td>9,000円〜30,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwj-5qeVjZz-AhX110wCHWT_DXcYABAAGgJ0bQ&ohost=www.google.co.jp&cid=CAESauD2k2Lonh703_lrCenP5Bcn5Zc_oAr41CW6DyzVNeAk64pxFNS0QXWuqb1uUGl20ri2A9g4ZHD2aLQModMK64B0Ye45EC6MzAcmkf8iAFRL0lOZ7yROUrymjC4yj2v10_isB_bz8YdyPwY&sig=AOD64_2Mp86FBqOT5tmS50Pqz_co8CKJ2w&q&adurl&ved=2ahUKEwiq16CVjZz-AhVLslYBHTpgDrgQ0Qx6BAgGEAE&nis=8">diadora公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>

            <div class="box77">
               <a href="//af.moshimo.com/af/c/click?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502&url=https%3A%2F%2Fshopping.yahoo.co.jp%2Fsearch%3Ffirst%3D1%26ss_first%3D1%26ts%3D1681136618%26mcr%3D3a4f0e5e118030ddeadbd6fccd7ac10c%26tab_ex%3Dcommerce%26sretry%3D0%26area%3D13%26astk%3D%26aq%3D0%26oq%3Ddiadora%26p%3Ddiadora%26sc_i%3Dshp_pc_search_searchBox_suggest_category%26cid%3D22901" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">Yahoo!ショッピング　diadora</a><img src="//i.moshimo.com/af/i/impression?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502" width="1" height="1" style="border:none;" alt="">

                <br>

              <a href="//af.moshimo.com/af/c/click?a_id=3926107&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fsearch.rakuten.co.jp%2Fsearch%2Fmall%2Fdiadora%2F558885%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">楽天市場  diaspora</a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&p_id=54&pc_id=54&pl_id=616" width="1" height="1" style="border:none;" alt="">
            </div>

            <hr class="hr3">

            <div class="text">
                　　　　　　　<h2>LACOSTE/ラコステ</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/lacoste.png'%}">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐✳︎✳︎</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>20代〜60代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>
                        『ラコステ』は、1933年にフランスで設立されたブランドで、ポロシャツのメーカーとして有名です。創業者のルネ・ラコステ氏はテニスプレイヤーとしても有名で、粘り続けるプレイスタイルが“かみついたら離さないワニ”と呼ばれていたことからブランドロゴはワニになりました。
                        夏のトレードマークといっても過言ではない『ラコステ』ですが、ポロシャツだけでなく、スニーカーもシンプルで使い勝手のいいものがたくさんあります。
                    </td>
                </tr>
                <tr>
                    <td>デザイン</td>　
                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fbeautyfive%2Fsr5059862122103%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fbeautyfive%2Fi%2F11730839%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/beautyfive/cabinet/img552/sr5059862122103.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>　　　　　　　　　　
                </tr>

                <tr>
                    <td>価格帯</td>
                    <td>10,000円〜20,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://remiinc.net">REMI RELIEF公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>

            <div class="box77">
                <a href="//af.moshimo.com/af/c/click?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502&url=https%3A%2F%2Fshopping.yahoo.co.jp%2Fsearch%3Ffirst%3D1%26ss_first%3D1%26ts%3D1681137025%26mcr%3Db184ba8cee580e5e4605e797dad36e70%26tab_ex%3Dcommerce%26sretry%3D0%26area%3D13%26astk%3D%26aq%3D2%26oq%3Dlacoste%26p%3Dlacoste%26sc_i%3Dshp_pc_search_searchBox_suggest_category%26cid%3D22901" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">Yahoo!ショッピング　Lacoste</a><img src="//i.moshimo.com/af/i/impression?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502" width="1" height="1" style="border:none;" alt="">
                <br>
                <a href="//af.moshimo.com/af/c/click?a_id=3926107&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fsearch.rakuten.co.jp%2Fsearch%2Fmall%2FLacoste%2B%25E3%2583%25A1%25E3%2583%25B3%25E3%2582%25BA%2525E3%252580%252580%25E3%2582%25B9%25E3%2583%258B%25E3%2583%25BC%25E3%2582%25AB%25E3%2583%25BC%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">楽天市場  Lacoste</a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&p_id=54&pc_id=54&pl_id=616" width="1" height="1" style="border:none;" alt="">

            </div>


        </div>

        <div class="sidebar">
            <div class="box71">
                <div class="box-title">🌀ユーモアな商材🌀</div>

               <a href="https://px.a8.net/svt/ejp?a8mat=3T6I0F+1B19KI+328C+2BE6PD" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www26.a8.net/svt/bgt?aid=230410671079&wid=001&eno=01&mid=s00000014286014007000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T6I0F+1B19KI+328C+2BE6PD" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+4V1GMQ+2TOK+1BNJ9D" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www21.a8.net/svt/bgt?aid=230409643294&wid=001&eno=01&mid=s00000013178008004000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T6H7V+4V1GMQ+2TOK+1BNJ9D" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+2YKM2A+2YVI+62U35" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www28.a8.net/svt/bgt?aid=230409643179&wid=001&eno=01&mid=s00000013851001021000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3T6H7V+2YKM2A+2YVI+62U35" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6DAU+9QOC36+4HYA+5ZMCH" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www22.a8.net/svt/bgt?aid=230404566589&wid=001&eno=01&mid=s00000020989001006000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T6DAU+9QOC36+4HYA+5ZMCH" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6DAU+7DJCKY+2TOK+3YX3RL" rel="nofollow">
<img border="0" width="240" height="120" alt="" src="https://www23.a8.net/svt/bgt?aid=230404566446&wid=001&eno=01&mid=s00000013178024005000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T6DAU+7DJCKY+2TOK+3YX3RL" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QX+1VA04Y+51JK+60H7L" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www20.a8.net/svt/bgt?aid=230304057113&wid=001&eno=01&mid=s00000023528001010000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3T47QX+1VA04Y+51JK+60H7L" alt="">




            </div>


            <div class="box71">
                <div class="box-title">🌀人気記事Top3🌀</div>
                　　　　　　
                <div class="div_design006">
                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/busaiku.jpg'%}">
                        <a href="humor_busaiku">ブスと言われたときのユーモアな返し7選</a>
                    </div>

                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/ikemen.jpg'%}">
                        <a href="humor_smart">モテる男の条件7選</a>
                    </div>

                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/nickname.jpg'%}">
                        <a href="humor_nickname">ユーモアなあだな11選</a>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
<footer class="footer">

    <p>ユーモアな館</p>
    <ul class="md-flex">
        <li><a href="{% url 'blog:index' %}">表紙</a></li>
        <li><a href="humor_summary">ユーモア語録</a></li>
        <li><a href="life_summary">ユーモア小道具</a></li>
        <li><a href="trivia_summary">ユーモア豆知識</a></li>
        <li><a href="diary_summary">ユーモア日記</a></li>
    </ul>
</footer>

</body>
</html>