<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    　<title>【モテたい人必見】モテるユーモアな身嗜み</title>
    <link rel="stylesheet" href="/static/css/fashion_summary2.css?v=13">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
     crossorigin="anonymous"></script>
<meta name="google-site-verification" content="0VtXnJ27yzGz0CEiPOL2d8_mVlvpZCxg6tq3uoYw35Y" />
</head>

<body>

<!--▽▽ヘッダー▽▽-->
<header class="header">

    <!--▽▽ヘッダーロゴ▽▽-->
    <div class="logo">
        <a href="{% url 'blog:index' %}">>ユーモアな館</a>
    </div>
    <!--△△ヘッダーロゴ△△-->

    <!--▽▽ヘッダーリスト▽▽-->
    <nav>
        <ul>
            <li><a href="humor-summary1">ユーモア語録</a></li>
            <li><a href="life-summary1">ユーモア小道具</a></li>
            <li><a href="trivia-summary1">ユーモア豆知識</a></li>
            <li><a href="fashion-summary1">ユーモア身嗜み</a></li>
        </ul>
    </nav>
    <!--△△ヘッダーリスト△△-->

</header>

<!--ルートディレクトリ-->
<div class="root">
    <div class="rootp">
        <a href="{% url 'blog:index' %}">Home<</a>
        <div class="roota"><a href="fashion-summary1">ユーモア身嗜み①</a></div>
    </div>
    </div>

<!--メイン画像-->

<div class="globalNavigation">
    <div class="main-img">
        <img src="{% static 'media_local/monster.jpg'%}">
        <h1>ユーモア身嗜み(humor fashion)とは・・・<br><br>
            ドレスコードから一目置かれる。<br>圧倒的なファッションセンス。<br>その場で一際輝きを放つユーモア怪獣牧場である。</h1>
    </div>
</div>


<!--△△記事△△-->
<main>

    <div class="content">

        <div class="card-media">
                <!-- media container -->
                <div class="card-media-object-container">
                    <div class="card-media-object"
                         style="background-image: url(../static/media_local/glasses.jpg);"></div>
                </div>
                <!-- body container -->
                <div class="card-media-body">
                    <div class="card-media-body-top">
                        <div class="card-media-body-top-icons u-float-right">
                        </div>
                    </div>
                    <span class="card-media-body-heading"><a href="fashion-glasses1">モテる眼鏡ブランド5選</a></span>

                </div>
            </div>

            <div class="card-media">
                <!-- media container -->
                <div class="card-media-object-container">
                    <div class="card-media-object"
                         style="background-image: url(../static/media_local/trainer.jpg);"></div>
                </div>
                <!-- body container -->
                <div class="card-media-body">
                    <div class="card-media-body-top">
                        <div class="card-media-body-top-icons u-float-right">
                        </div>
                    </div>
                    <span class="card-media-body-heading"><a href="fashion-trainer1">モテるトレーナー メンズブランド5選</a></span>

                </div>
            </div>

            <div class="card-media">
                <!-- media container -->
                <div class="card-media-object-container">
                    <div class="card-media-object"
                         style="background-image: url(../static/media_local/sneaker.png);"></div>
                </div>
                <!-- body container -->
                <div class="card-media-body">
                    <div class="card-media-body-top">
                        <div class="card-media-body-top-icons u-float-right">
                        </div>
                    </div>
                    <span class="card-media-body-heading"><a href="fashion-sneaker1">モテるスニーカー メンズブランド5選</a></span>

                </div>
            </div>

            <div class="card-media">
                <!-- media container -->
                <div class="card-media-object-container">
                    <div class="card-media-object"
                         style="background-image: url(../static/media_local/jeans.jpg);"></div>
                </div>
                <!-- body container -->
                <div class="card-media-body">
                    <div class="card-media-body-top">
                        <div class="card-media-body-top-icons u-float-right">
                        </div>
                    </div>
                    <span class="card-media-body-heading"><a href="fashion-jeans1">モテるジーパン メンズブランド5選</a></span>

                </div>
            </div>



            <div class="card-media">
                <!-- media container -->
                <div class="card-media-object-container">
                    <div class="card-media-object"
                         style="background-image: url(../static/media_local/poro.png);"></div>
                </div>
                <!-- body container -->
                <div class="card-media-body">
                    <div class="card-media-body-top">
                        <div class="card-media-body-top-icons u-float-right">
                        </div>
                    </div>
                    <span class="card-media-body-heading"><a href="fashion-poro1">モテるポロシャツ メンズブランド5選</a></span>

                </div>
            </div>

            <div class="card-media">
                <!-- media container -->
                <div class="card-media-object-container">
                    <div class="card-media-object"
                         style="background-image: url(../static/media_local/Tshirt.png);"></div>
                </div>
                <!-- body container -->
                <div class="card-media-body">
                    <div class="card-media-body-top">
                        <div class="card-media-body-top-icons u-float-right">
                        </div>
                    </div>
                    <span class="card-media-body-heading"><a href="fashion-tshirt1">モテるTシャツ メンズブランド5選</a></span>

                </div>
            </div>

            <div class="card-media">
                <!-- media container -->
                <div class="card-media-object-container">
                    <div class="card-media-object"
                         style="background-image: url(../static/media_local/parka.png);"></div>
                </div>
                <!-- body container -->
                <div class="card-media-body">
                    <div class="card-media-body-top">
                        <div class="card-media-body-top-icons u-float-right">
                        </div>
                    </div>
                    <span class="card-media-body-heading"><a href="fashion-parka1">モテるパーカ メンズブランド5選</a></span>

                </div>
            </div>

            <div class="card-media">
                <!-- media container -->
                <div class="card-media-object-container">
                    <div class="card-media-object"
                         style="background-image: url(../static/media_local/under.jpg);"></div>
                </div>
                <!-- body container -->
                <div class="card-media-body">
                    <div class="card-media-body-top">
                        <div class="card-media-body-top-icons u-float-right">
                        </div>
                    </div>
                    <span class="card-media-body-heading"><a href="fashion-under1">モテるアンダーウェア メンズブランド5選</a></span>

                </div>
            </div>

            <div class="card-media">
                <!-- media container -->
                <div class="card-media-object-container">
                    <div class="card-media-object"
                         style="background-image: url(../static/media_local/cap.png);"></div>
                </div>
                <!-- body container -->
                <div class="card-media-body">
                    <div class="card-media-body-top">
                        <div class="card-media-body-top-icons u-float-right">
                        </div>
                    </div>
                    <span class="card-media-body-heading"><a href="fashion-cap1">モテる帽子　メンズブランド5選</a></span>

                </div>
            </div>

            <div class="card-media">
                <!-- media container -->
                <div class="card-media-object-container">
                    <div class="card-media-object"
                         style="background-image: url(../static/media_local/socks.png);"></div>
                </div>
                <!-- body container -->
                <div class="card-media-body">
                    <div class="card-media-body-top">
                        <div class="card-media-body-top-icons u-float-right">
                        </div>
                    </div>
                    <span class="card-media-body-heading"><a href="fashion-socks1">モテる靴下　メンズブランド5選</a></span>

                </div>
            </div>


    </div>


    <!--△△右側サイドバー△△-->
    <div class="ad">

        <!--自己紹介-->
        <div class="profile-card">
            <div class="profile-card__inner">
                <div class="profile-thumb">
                    <img src="{% static 'media_local/mei.jpg'%}" alt="" width="50px">
                </div>
                <div class="profile-content">
                    <span class="profile-name">おぶり</span>
                    <span class="profile-job">家と職場の往復 会社員</span>
                    <span class="profile-intro">ユーモアな雰囲気大好きな会社員です。外出苦手、家に籠りがちです。ユーモアな世界観に突出したブログ書いてます</span>
                </div>
            </div>
        </div>

        <!--人気記事-->
        <div class="sidebar">
            <h2>人気記事</h2>
            <div class="popular-articles">
                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/nosehair.png'%}" alt=""></div>
                     <div class="text">
                         <a href="humor-nosehair1">鼻毛が出ている人に対するユーモアな指摘</a>
                     </div>
                </div>

                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/hobby.png'%}" alt=""></div>
                     <div class="text">
                         <a href="humor-hobby1">趣味を聞かれた時のユーモア溢れる回答</a>
                     </div>
                </div>

                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/cinema.jpg'%}" alt=""></div>
                     <div class="text">
                         <a href="humor-cinema1">好きな映画聞かれた時の返しがユーモア溢れる回答選手権</a>
                     </div>
                </div>

                <!-- 追加の人気記事をここに追加 -->
            </div>
        </div>


        <!--タグ-->
        <div class="tag">
            <h2>タグ一覧</h2>
            <a href="#">お仕事</a>
            <a href="#">お酒</a>
            <a href="#">お笑い</a>
            <a href="#">お友達</a>
            <a href="#">お金</a>
            <a href="#">モテモテ</a>
            <a href="#">身嗜み</a>
            <a href="#">心の健康</a>
            <a href="#">定石</a>
        </div>


    </div>
</main>


<div class="pager">
  <ul class="pagination">
      <li class="pre"><a href="fashion-summary1"><span>«</span></a></li>
      <li><a href="fashion-summary1" class="active"><span>1</span></a></li>
      <li><a href="fashion-summary2"><span>2</span></a></li>
      <li><a href="fashion-summary3"><span>3</span></a></li>

      <li class="next"><a href="fashion-summary2"><span>»</span></a></li>
  </ul>
  </div>

<footer class="footer">
    <p class="copyright">ユーモア溢れる世界を作りたい　byむらちゃん</p>

</footer>

</body>