<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    　<title>ユーモアな館</title>
    <link rel="stylesheet" href="/static/css/fashion_master.css?v=27">

</head>

<body>

<!--▽▽ヘッダー▽▽-->
<header class="header">

    <!--▽▽ヘッダーロゴ▽▽-->
    <div class="logo">
        <a href="{% url 'blog:index' %}">ユーモアな館</a>
    </div>
    <!--△△ヘッダーロゴ△△-->

    <!--▽▽ヘッダーリスト▽▽-->
    <nav>
        <ul>
            <li><a href="humor_summary1">ユーモア語録</a></li>
            <li><a href="life_summary1">ユーモア小道具</a></li>
            <li><a href="trivia_summary1">ユーモア豆知識</a></li>
            <li><a href="fashion_summary1">ユーモア身嗜み</a></li>
        </ul>
    </nav>
    <!--△△ヘッダーリスト△△-->

</header>


<!--ルートディレクトリ-->
<div class="root">
    <div class="rootp">
        <a href="{% url 'blog:index' %}">Home<</a><a href="fashion_summary1">ユーモア身嗜み<</a><div class="roota">
        <a href="fashion_parka1">モテるパーカメンズブランド5選</a></div>
    </div>
    </div>

<!--メイン画像-->

<div class="globalNavigation">
    <div class="main-img">
        <img src="{% static 'media_local/fashion1.jpg'%}">
        <p>モテるパーカ <br><br>
            メンズブランド5選。<br><br>の巻</p>
    </div>
</div>


<!--△△記事△△-->
<main>

    <div class="content">
  <ul class="table_content">
        <p>目次</p>
        <li>MONCLER(モンクレール)</li>
        <li>STONE ISLAND(ストーンアイランド)</li>
        <li>Acne Studios(アクネストゥディオス)</li>
        <li>Paul Smith(ポールスミス)</li>
        <li>THE NORTH FACE(ザ ノースフェイス)</li>
    </ul>

<div class="pr-area">



        <div class="text2">
                　　　　　　　<h2>①MONCLER/モンクレール</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/moncler.jpg'%}" width="250px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐⭐️⭐️</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>20代〜40代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>ダウンで定評のある同ブランドですが、パーカーも充実しており機能性のみならずデザイン性にも秀でているというのが大きな特徴です。もこもこのフリース素材や、暖かなニット地を採用したものなど、ブランドならではのこだわりを感じられる素材感が人気の理由。お馴染みのロゴパッチやブランドネームを施した、アイコニックな見た目のアイテムが勢揃い。</td>
                </tr>
                <tr>
                    <td>デザイン</td>　

                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Ffashionplate%2Fmoncler-ladys-0355%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Ffashionplate%2Fi%2F10009582%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/fashionplate/cabinet/item_pic/saitouroku/moncler_ladys/moncler-ladys-03551.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>
                        　　　　　　　　　　
                </tr>

                <tr>
                    <td>価格帯</td>
                    <td>30,000円〜60,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://www.moncler.com/ja-jp/men-clothing-and-coats.html?tp=67844&ds_rl=1290725&ds_rl=1290725&gclid=CjwKCAjwue6hBhBVEiwA9YTx8MjP6iV5_vKGpFvJPZkN-fyOtyIaSTeWzFloDPNiOocf6-FCu0_eoBoCDdAQAvD_BwE&gclsrc=aw.ds">MONCLER公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>


            <div class="box77">
               <a href="//af.moshimo.com/af/c/click?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502&url=https%3A%2F%2Fshopping.yahoo.co.jp%2Fsearch%3Ffirst%3D1%26ss_first%3D1%26ts%3D1681639718%26mcr%3Dc9cae43c08823c9c64a40e0775ff546a%26tab_ex%3Dcommerce%26sretry%3D1%26area%3D13%26astk%3D%26aq%3D%26oq%3D%26p%3DMONCLER%2B%25E3%2583%2591%25E3%2583%25BC%25E3%2582%25AB%25E3%2583%25BC%26sc_i%3Dshp_pc_search_searchBox_2" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">Yahoo!ショッピング　MONCLER</a><img src="//i.moshimo.com/af/i/impression?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502" width="1" height="1" style="border:none;" alt="">
                <br>
               <a href="//af.moshimo.com/af/c/click?a_id=3926107&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fsearch.rakuten.co.jp%2Fsearch%2Fmall%2FMONCLER%2525E3%252580%252580%25E3%2583%2591%25E3%2583%25BC%25E3%2582%25AB%25E3%2583%25BC%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">楽天市場　MONCLER</a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&p_id=54&pc_id=54&pl_id=616" width="1" height="1" style="border:none;" alt="">
                 </div>

            <hr class="hr3">

            <div class="text2">
                　　　　　　　<h2>②STONE ISLAND/ストーンアイランド</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/island.png'%}" width="400px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐⭐️⭐️</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>30代〜40代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>ミリタリーな要素に今風のストリート感を組み合わせた唯一無二のテイストで、近年人気が再燃している同ブランド。どんなコーデにも合わせやすいシンプルなデザインに、お馴染みのコンパスロゴがワンポイントで配されているというのが特徴。</td>
                </tr>

                <tr>
                    <td>デザイン</td>　
                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fre-vida%2F81-3067519-terraco%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fre-vida%2Fi%2F18017161%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/re-vida/cabinet/81img157/81-3067519-terraco.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>　　　　　　　　　　
                </tr>

                <tr>
                    <td>価格帯</td>
                    <td>20,000円~180,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://www.stoneisland.com/jp?gclid=CjwKCAjwue6hBhBVEiwA9YTx8BN6HzzKjOYltYWBAS73S7rduj-TYWqZjOZh6oC5p_UMCqXp1yn1lhoC-KAQAvD_BwE">STONE ISLAND公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>


            <div class="box77">
            <a href="//af.moshimo.com/af/c/click?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502&url=https%3A%2F%2Fshopping.yahoo.co.jp%2Fsearch%3Ffirst%3D1%26ss_first%3D1%26ts%3D1681639726%26mcr%3D3df879c2b319a1f0e4756e9c51e52fd1%26tab_ex%3Dcommerce%26sretry%3D0%26area%3D13%26astk%3D%26aq%3D%26oq%3D%26p%3DSTONE%2BISLAND%2B%25E3%2583%2591%25E3%2583%25BC%25E3%2582%25AB%25E3%2583%25BC%26sc_i%3Dshp_pc_search_searchBox_2" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">Yahoo!ショッピング　STONE ISLAND</a><img src="//i.moshimo.com/af/i/impression?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502" width="1" height="1" style="border:none;" alt="">
               <br>
            <a href="//af.moshimo.com/af/c/click?a_id=3926107&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fsearch.rakuten.co.jp%2Fsearch%2Fmall%2FSTONE%2BISLAND%2525E3%252580%252580%25E3%2583%2591%25E3%2583%25BC%25E3%2582%25AB%25E3%2583%25BC%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">楽天市場　STONE ISLAND</a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&p_id=54&pc_id=54&pl_id=616" width="1" height="1" style="border:none;" alt="">
                   </div>

            <hr class="hr3">

            <div class="text2">
                　　　　　　　<h2>③Acne Studios/アクネストゥディオス</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/acne.png'%}" width="300px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐⭐️✳︎</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>20代〜40代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>近ごろメンズで人気が再燃しているアクネでは、フロント部分のミニロゴがワンポイントになったシンプルかつクリーンなパーカーが注目を集めています。裾にあえて絞りを入れないことで、ストンと落ちたようなシルエットになっているというのが特徴で、ゆるっと今風に着こなしていただけるアイテム。厚手のしっかりとした生地を採用しているので、ゆるめでありながら程よいきちんと感も演出出来るのもおすすめしたい点。</td>
                </tr>
                 <tr>
                    <td>デザイン</td>　
                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fmb%2Ffn-mn-swea000282%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fmb%2Fi%2F10241715%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/mb/cabinet/img536/fn-mn-swea00028201.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>　　　　　　　　　　
                </tr>
                <tr>
                    <td>価格帯</td>
                    <td>20,000円〜150,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href=https://www.acnestudios.com/jp/ja/home?gclid=CjwKCAjwue6hBhBVEiwA9YTx8O5Dktsc7i4Hu7mv_TqJbpycSuickqYWqc_nwuVtaClZXE_YZegpVxoCO6IQAvD_BwE">Acne Studios公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>
            <div class="box77">
               <a href="//af.moshimo.com/af/c/click?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502&url=https%3A%2F%2Fshopping.yahoo.co.jp%2Fsearch%3Ffirst%3D1%26ss_first%3D1%26ts%3D1681639811%26mcr%3D0438f409f497c5b766e253f060b45b01%26tab_ex%3Dcommerce%26sretry%3D0%26area%3D13%26astk%3D%26aq%3D%26oq%3D%26p%3DAcne%2BStudios%2B%25E3%2583%2591%25E3%2583%25BC%25E3%2582%25AB%25E3%2583%25BC%26sc_i%3Dshp_pc_search_searchBox_2" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">Yahoo!ショッピング　Acne Studios</a><img src="//i.moshimo.com/af/i/impression?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502" width="1" height="1" style="border:none;" alt="">
                <br>
               <a href="//af.moshimo.com/af/c/click?a_id=3926107&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fsearch.rakuten.co.jp%2Fsearch%2Fmall%2FAcne%2BStudios%2525E3%252580%252580%25E3%2583%2591%25E3%2583%25BC%25E3%2582%25AB%25E3%2583%25BC%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">楽天市場　Acne Studios</a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&p_id=54&pc_id=54&pl_id=616" width="1" height="1" style="border:none;" alt="">
                 </div>

            <hr class="hr3">

            <div class="text2">
                　　　　　　　<h2>④Paul Smith/ポールスミス</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/paul.png'%}" width="200px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐⭐✳︎</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>35代〜50代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>ポール・スミスの特徴は、何といってもウィットに富んだデザインです。クラシックな雰囲気にポップな色使いをプラスして、さりげないおしゃれを演出しています。ポール・スミスのストライプ柄は有名で、無地にストライプのワンポイントを入れたデザインが定番。</td>
                </tr>
                <tr>
                    <td>デザイン</td>　
                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fbeegle%2Fp12100383%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fbeegle%2Fi%2F10204215%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/beegle/cabinet/item20230107/p12100383-a.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>　　　　　　　　　　
                </tr>
                <tr>
                    <td>価格帯</td>
                    <td>10,000円〜80,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="hhttps://www.paulsmith.co.jp/paul-smith-mens?gclid=CjwKCAjwue6hBhBVEiwA9YTx8GwaZQUvCFSYjiOfQ-WNyeHT9Osof4I-nogc60NXdOOhj3I01qnRgxoC6MoQAvD_BwE">Paul Smith公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>

            <div class="box77">
             <a href="//af.moshimo.com/af/c/click?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502&url=https%3A%2F%2Fshopping.yahoo.co.jp%2Fsearch%3Ffirst%3D1%26ss_first%3D1%26ts%3D1681639894%26mcr%3Dee861b3bf043f8111e2fb010bc79f520%26tab_ex%3Dcommerce%26sretry%3D0%26area%3D13%26astk%3D%26aq%3D%26oq%3D%26p%3DPaul%2BSmith%2B%25E3%2583%2591%25E3%2583%25BC%25E3%2582%25AB%25E3%2583%25BC%26sc_i%3Dshp_pc_search_searchBox_2" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">Yahoo!ショッピング　Paul Smith</a><img src="//i.moshimo.com/af/i/impression?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502" width="1" height="1" style="border:none;" alt="">
                <br>
            <a href="//af.moshimo.com/af/c/click?a_id=3926107&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fsearch.rakuten.co.jp%2Fsearch%2Fmall%2FPaul%2BSmith%2525E3%252580%252580%25E3%2583%2591%25E3%2583%25BC%25E3%2582%25AB%25E3%2583%25BC%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">楽天市場　Paul Smith</a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&p_id=54&pc_id=54&pl_id=616" width="1" height="1" style="border:none;" alt="">
            </div>

            <hr class="hr3">

            <div class="text2">
                　　　　　　　<h2>⑤THE NORTH FACE(ザ ノースフェイス)</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/face.jpg'%}"width="200px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐✳︎✳︎</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>20代〜60代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>ザ・ノース・フェイスのパーカーは、本格的なアウトドアアクティビティに打ち込む人だけでなく、アウトドアとあまり身近でない層からも高い人気を誇るアイテム。その理由は、都会的なカジュアルスタイルにも馴染むスタイリッシュなデザインにあります。 どのパーカーもデザインはごくシンプルかつ洗練された印象。アウトドアウェアにありがちな機能性に特化した雰囲気とはかけ離れた、ファッション性の高いアイテムが揃います。</td>
                </tr>
                <tr>
                    <td>デザイン</td>　
                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2F0101marui%2Fcc005560710101%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2F0101marui%2Fi%2F12060259%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/0101marui/cabinet/cc005/560/71cc005-56071-01b.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>　　　　　　　　　　
                </tr>

                <tr>
                    <td>価格帯</td>
                    <td>10,000円〜30,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://www.goldwin.co.jp/ap/s/s?fq=bd:GDW01&sort=rk+desc,fsdt+desc&xadid=a011020153750867167514&gclid=CjwKCAjwue6hBhBVEiwA9YTx8DbFcsZKFLdBrnbbfHsF9gPxGATprjCDcUcDOqEw33kDLwOKycvIABoCpw4QAvD_BwE">THE NORTH FACE公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>

            <div class="box77">
              <a href="//af.moshimo.com/af/c/click?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502&url=https%3A%2F%2Fshopping.yahoo.co.jp%2Fsearch%3Ffirst%3D1%26ss_first%3D1%26ts%3D1681640072%26mcr%3Dcb059e35f5add17aacd6d0c3aa565ffe%26tab_ex%3Dcommerce%26sretry%3D0%26area%3D13%26astk%3D%26aq%3D%26oq%3D%26p%3DTHE%2BNORTH%2BFACE%2B%25E3%2583%2591%25E3%2583%25BC%25E3%2582%25AB%25E3%2583%25BC%26sc_i%3Dshp_pc_search_searchBox_2" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">Yahoo!ショッピング　THE NORTH FACE</a><img src="//i.moshimo.com/af/i/impression?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502" width="1" height="1" style="border:none;" alt="">
                <br>
          　　<a href="//af.moshimo.com/af/c/click?a_id=3926107&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fsearch.rakuten.co.jp%2Fsearch%2Fmall%2FTHE%2BNORTH%2BFACE%2525E3%252580%252580%25E3%2583%2591%25E3%2583%25BC%25E3%2582%25AB%25E3%2583%25BC%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">楽天市場　THE NORTH FACE</a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&p_id=54&pc_id=54&pl_id=616" width="1" height="1" style="border:none;" alt="">
            </div>


        </div>




    </div>

    <!--△△右側サイドバー△△-->
    <div class="ad">

        <!--自己紹介-->


        <!--人気記事-->
        <div class="sidebar">
            <h2>人気記事</h2>
            <div class="popular-articles">
                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/nosehair.png'%}" alt=""></div>
                    <div class="text">
                        <a href="humor_nosehair">鼻毛が出ている人に対するユーモアな指摘</a>
                    </div>
                </div>

                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/hobby.png'%}" alt=""></div>
                    <div class="text">
                        <a href="humor_hobby">趣味を聞かれた時のユーモア溢れる回答</a>
                    </div>
                </div>

                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/cinema.jpg'%}" alt=""></div>
                    <div class="text">
                        <a href="humor_cinema">好きな映画聞かれた時の返しがユーモア溢れる回答選手権</a>
                    </div>
                </div>

                <!-- 追加の人気記事をここに追加 -->
            </div>
        </div>


        <!--タグ-->
        <div class="tag">
            <h2>タグ一覧</h2>
            <a href="#">お仕事</a>
            <a href="#">お酒</a>
            <a href="#">お笑い</a>
            <a href="#">お友達</a>
            <a href="#">お金</a>
            <a href="#">モテモテ</a>
            <a href="#">身嗜み</a>
            <a href="#">心の健康</a>
            <a href="#">定石</a>
        </div>


    </div>
</main>


<footer class="footer">
    <p class="copyright">ユーモア溢れる世界を作りたい　byむらちゃん</p>

</footer>

</body>