<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    　<title>モテるポロシャツメンズブランド5選</title>
    <link rel="stylesheet" href="/static/css/fashion_master.css?v=28">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
     crossorigin="anonymous"></script>

</head>

<body>

<!--▽▽ヘッダー▽▽-->
<header class="header">

    <!--▽▽ヘッダーロゴ▽▽-->
    <div class="logo">
        <a href="{% url 'blog:index' %}">ユーモアな館</a>
    </div>
    <!--△△ヘッダーロゴ△△-->

    <!--▽▽ヘッダーリスト▽▽-->
    <nav>
        <ul>
            <li><a href="humor_summary1">ユーモア語録</a></li>
            <li><a href="life_summary1">ユーモア小道具</a></li>
            <li><a href="trivia_summary1">ユーモア豆知識</a></li>
            <li><a href="fashion_summary1">ユーモア身嗜み</a></li>
        </ul>
    </nav>
    <!--△△ヘッダーリスト△△-->

</header>


<!--ルートディレクトリ-->
<div class="root">
    <div class="rootp">
        <a href="{% url 'blog:index' %}">Home<</a><a href="fashion_summary1">ユーモア身嗜み①<</a><div class="roota">
        <a href="fashion_poro1">モテるポロシャツメンズブランド5選</a></div>
    </div>
    </div>

<!--メイン画像-->

<div class="globalNavigation">
    <div class="main-img">
        <img src="{% static 'media_local/fashion1.jpg'%}">
        <h1>モテるポロシャツ <br><br>
            メンズブランド5選。<br><br>の巻</h1>
    </div>
</div>


<!--△△記事△△-->
<main>

    <div class="content">
  <ul class="table_content">
        <p>目次</p>
        <li>FRED PERRY JAPAN(フレッドペリージャパン)</li>
        <li>JOHN SMEDLEY(ジョンスメドレー)</li>
        <li>Burberry(バーバリー)</li>
        <li>Ralph Lauren(ラルフローレン)</li>
        <li>LACOSTE(ラコステ)</li>
    </ul>

<div class="pr-area">



        <div class="text2">
                　　　　　　　<h2>①FRED PERRY JAPAN/フレッドペリージャパン</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/fred.jpg'%}" width="300px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐⭐️⭐️</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>30代〜45代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>イギリス生まれの『フレッドペリー』は、1952年にテニスウェアブランドとしてスタート。当時テニス界では、ゆったりとしたフォルムのスポーツシャツが主流でしたが、体にフィットするシャツを生み出し、その革新的なシルエットはテニスプレイヤーたちの間で話題となり、一気に世に知れ渡りました。機能性に加え、スポーティでスタイリッシュなデザインが人気となり、スポーツ＆ファッションウェアブランドとして多くの人に支持されています。

</td>
                </tr>
                <tr>
                    <td>デザイン</td>　

                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fdonna1992%2Fm12-f79%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fdonna1992%2Fi%2F10014388%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/donna1992/cabinet/mens/fredperry/m12-f79.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>
                        　　　　　　　　　　
                </tr>

                <tr>
                    <td>価格帯</td>
                    <td>10,000円〜30,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://www.fredperry.jp">FRED PERRY JAPAN公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>


            <div class="box77">
               <a href="//af.moshimo.com/af/c/click?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502&url=https%3A%2F%2Fshopping.yahoo.co.jp%2Fsearch%3Ffirst%3D1%26tab_ex%3Dcommerce%26fr%3Dshp-prop%26mcr%3D1e8d0bfaefc066bac2103f3ca4e97d49%26ts%3D1681537264%26sretry%3D1%26p%3DFRED%252520PERRY%252520JAPAN%252520%25E3%2583%259D%25E3%2583%25AD%25E3%2582%25B7%25E3%2583%25A3%25E3%2583%2584%26sc_i%3Dshp_pc__searchBox%26area%3D13" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">Yahoo!ショッピング　FRED PERRY JAPAN </a><img src="//i.moshimo.com/af/i/impression?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502" width="1" height="1" style="border:none;" alt="">
                <br>
                <a href="//af.moshimo.com/af/c/click?a_id=3926107&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fsearch.rakuten.co.jp%2Fsearch%2Fmall%2FFRED%2BPERRY%2BJAPAN%2525E3%252580%252580%25E3%2583%259D%25E3%2583%25AD%25E3%2582%25B7%25E3%2583%25A3%25E3%2583%2584%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">楽天市場　FRED PERRY JAPAN</a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&p_id=54&pc_id=54&pl_id=616" width="1" height="1" style="border:none;" alt="">
                 </div>

            <hr class="hr3">

            <div class="text2">
                　　　　　　　<h2>②JOHN SMEDLEY/ジョンスメドレー</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/john.png'%}" width="200px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐⭐️⭐️</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>20代〜40代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>1784年にイギリスで創業し、英国の伝統を脈々と引き継ぐ老舗ニットブランド、 JOHN SMEDLEY（ジョン スメドレー）。英国王室御用達にもなっており、ただ古いだけではなく、定番のラインナップはもちろんのこと、新たなセンスも時代ごとに取り入れながら発展し続けています。「ニット界のロールスロイス」とも言われています。 もともとは、着心地を追求したきめ細かなファインゲージニットをシンプルかつノーブルなデザインで仕上げることが特徴ですが、今季の新作モダンフィットは身幅とアームホールにゆとりを持たせた、今どきのシルエットが特徴となっています。</td>
                </tr>

                <tr>
                    <td>デザイン</td>　
                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fkrunch%2F212025%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fkrunch%2Fi%2F10001434%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/krunch/cabinet/08046315/imgrc0078287431.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>　　　　　　　　　　
                </tr>

                <tr>
                    <td>価格帯</td>
                    <td>12,000円~110,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwigsZO7nav-AhXPo5YKHTuQAAMYABAAGgJ0bA&ohost=www.google.co.jp&cid=CAESauD2xDH0Yv5V_6Kxqb5zQqn-UX-zerZW5jIjAUIIoQizG1LKQmbxUq0_oRtwlyGIU429bhjk0VCehH-7HPWgm7cbaEgEHytOqYNkQRI9EPB17EMPRZpv3fSW-jzRRKKofmL0XcQabZkg2FY&sig=AOD64_2-6zEDHHXcmBFxeOCrUbo8z2CEHg&q&adurl&ved=2ahUKEwi_34u7nav-AhWEp1YBHdYiCmUQ0Qx6BAgJEAM&nis=8">JOHN SMEDLEY公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>


            <div class="box77">
              <a href="//af.moshimo.com/af/c/click?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502&url=https%3A%2F%2Fshopping.yahoo.co.jp%2Fsearch%3Ffirst%3D1%26ss_first%3D1%26ts%3D1681537285%26mcr%3D0e38877d7372cce5a5cd23df0c8fa166%26tab_ex%3Dcommerce%26sretry%3D0%26area%3D13%26astk%3D%26aq%3D%26oq%3D%26p%3DJOHN%2BSMEDLEY%2B%25E3%2583%259D%25E3%2583%25AD%25E3%2582%25B7%25E3%2583%25A3%25E3%2583%2584%26sc_i%3Dshp_pc_search_searchBox_2" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">Yahoo!ショッピング　JOHN SMEDLEY</a><img src="//i.moshimo.com/af/i/impression?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502" width="1" height="1" style="border:none;" alt="">
                <br>
             <a href="//af.moshimo.com/af/c/click?a_id=3926107&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fsearch.rakuten.co.jp%2Fsearch%2Fmall%2FJOHN%2BSMEDLEY%2525E3%252580%252580%25E3%2583%259D%25E3%2583%25AD%25E3%2582%25B7%25E3%2583%25A3%25E3%2583%2584%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">楽天市場　JOHN SMEDLEY</a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&p_id=54&pc_id=54&pl_id=616" width="1" height="1" style="border:none;" alt="">
                   </div>

            <hr class="hr3">

            <div class="text2">
                　　　　　　　<h2>③Burberry/(バーバリー)</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/burberry.png'%}" width="300px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐⭐️✳︎</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>25代〜50代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>クセの少ないシンプルなデザインが多いBURBERRYのポロシャツ。着回しに使いやすいデザインのポロシャツが多いのが特徴で、左胸にはBURBERRYのロゴが施されていて、上品な雰囲気を漂わせています。カジュアルな着こなしも、BURBERRYのポロシャツだと洗練された着こなしに変身することができます。1枚で着ても、インナーとしても活躍できるでしょう。値段相応の質で、ラグジュアリーな雰囲気はさすがと言ったところです。</td>
                </tr>
                 <tr>
                    <td>デザイン</td>　
                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fmb%2F8037049-white%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fmb%2Fi%2F10236160%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/mb/cabinet/img493/8037049-white01.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>　　　　　　　　　　
                </tr>
                <tr>
                    <td>価格帯</td>
                    <td>5,000円〜180,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://jp.burberry.com">Burberry公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>
            <div class="box77">
                <a href="//af.moshimo.com/af/c/click?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502&url=https%3A%2F%2Fshopping.yahoo.co.jp%2Fsearch%3Fp%3DBurberry%2B%25E3%2583%259D%25E3%2583%25AD%25E3%2582%25B7%25E3%2583%25A3%25E3%2583%2584%26first%3D1%26ss_first%3D1%26tab_ex%3Dcommerce%26sc_i%3Dshp_pc_search_searchBox_2%26ts%3D1681537384%26mcr%3Dff41356868d134e125d5870e828f5079%26sretry%3D0%26area%3D13%26b%3D1%26view%3Dfg" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">Yahoo!ショッピング　Burberry</a><img src="//i.moshimo.com/af/i/impression?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502" width="1" height="1" style="border:none;" alt="">
                <br>
               <a href="//af.moshimo.com/af/c/click?a_id=3926107&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fsearch.rakuten.co.jp%2Fsearch%2Fmall%2FBurberry%2525E3%252580%252580%25E3%2583%259D%25E3%2583%25AD%25E3%2582%25B7%25E3%2583%25A3%25E3%2583%2584%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">楽天市場　Burberry</a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&p_id=54&pc_id=54&pl_id=616" width="1" height="1" style="border:none;" alt="">
                 </div>

            <hr class="hr3">

            <div class="text2">
                　　　　　　　<h2>④Ralph Lauren/ラルフローレン</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/ralph.png'%}" width="200px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐⭐✳︎</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>20代〜60代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>世界的な成功を収めたラルフ・ローレン氏だが、彼のつくったアイテムのなかでもブランドのネームバリューを高めたのは、ポロシャツだろう。「ポロ ラルフローレン」の名のもとで、お洒落さを見た目から感じさせるシルエットとその絶妙なラインから醸す上品さをもつポロシャツ。窮屈さのない上流階級の余裕さえ感じさせ、それでいてロゴやカラーリングからも茶目っ気も併せ持つという全方位的に合格のアイテムだ。カジュアルシーンやゴルフウェアとしても人気が高い。</td>
                </tr>
                <tr>
                    <td>デザイン</td>　
                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fbeef%2Fprm-p-506%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fbeef%2Fi%2F10017605%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/beef/cabinet/r210418/prm-p-506.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>　　　　　　　　　　
                </tr>
                <tr>
                    <td>価格帯</td>
                    <td>5,000円〜60,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://www.ralphlauren.co.jp">Ralph Lauren公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>

            <div class="box77">
              <a href="//af.moshimo.com/af/c/click?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502&url=https%3A%2F%2Fshopping.yahoo.co.jp%2Fsearch%3Ffirst%3D1%26ss_first%3D1%26ts%3D1681537451%26mcr%3D4de885a1313e954705b66435bcdcaa1e%26tab_ex%3Dcommerce%26sretry%3D0%26area%3D13%26astk%3D%26aq%3D%26oq%3D%26p%3DRalph%2BLauren%2B%25E3%2583%259D%25E3%2583%25AD%25E3%2582%25B7%25E3%2583%25A3%25E3%2583%2584%26sc_i%3Dshp_pc_search_searchBox_2" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">Yahoo!ショッピング　Ralph Lauren</a><img src="//i.moshimo.com/af/i/impression?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502" width="1" height="1" style="border:none;" alt="">
                <br>
            <a href="//af.moshimo.com/af/c/click?a_id=3926107&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fsearch.rakuten.co.jp%2Fsearch%2Fmall%2FRalph%2BLauren%2525E3%252580%252580%25E3%2583%259D%25E3%2583%25AD%25E3%2582%25B7%25E3%2583%25A3%25E3%2583%2584%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">楽天市場　Ralph Lauren</a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&p_id=54&pc_id=54&pl_id=616" width="1" height="1" style="border:none;" alt="">
            </div>

            <hr class="hr3">

            <div class="text2">
                　　　　　　　<h2>⑤LACOSTE/ラコステ</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/lacoste.png'%}">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐✳︎✳︎</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>20代〜60代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>ラコステの創業当時、テニスウェアといえば長袖で下までボタンが付いたいわゆる日本語で表現するところのワイシャツで、激しく俊敏なテニスの動きに到底対応できるものではなかった。そこでラコステが開発したのが、軽くて吸汗性に優れ、伸縮性も抜群の半袖ニットウェア。L1212の製品名が与えられた世界初のこのポロシャツは、当時から袖口のリブや裾のスリットが設けられており、80年以上経った今でも基本デザインをほとんど変えずに世界中の老若男女に愛用されている。
                        </td>
                </tr>
                <tr>
                    <td>デザイン</td>　
                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fstylife%2Ffj2062%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fstylife%2Fi%2F13562357%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/stylife/cabinet/item/062/fj2062-05_1.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>　　　　　　　　　　
                </tr>

                <tr>
                    <td>価格帯</td>
                    <td>5,000円〜100,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://www.lacoste.jp/?utm_source=google&utm_medium=cpc&utm_campaign=g01_brand&utm_term=G002&utm_content=G0076722&gclid=CjwKCAjw8-OhBhB5EiwADyoY1SrRO5HVznFBvvdtEsyQefPRiSeDvTBV5qp4FRPTZ2hGNPTGgrVx3BoCr8oQAvD_BwE&gclsrc=aw.ds">LACOSTE公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>

            <div class="box77">
               <a href="//af.moshimo.com/af/c/click?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502&url=https%3A%2F%2Fshopping.yahoo.co.jp%2Fsearch%3Ffirst%3D1%26ss_first%3D1%26ts%3D1681537535%26mcr%3D5a509b80e4461d645baaa73b73e1f267%26tab_ex%3Dcommerce%26sretry%3D0%26area%3D13%26astk%3D%26aq%3D%26oq%3D%26p%3DLACOSTE%2B%25E3%2583%259D%25E3%2583%25AD%25E3%2582%25B7%25E3%2583%25A3%25E3%2583%2584%26sc_i%3Dshp_pc_search_searchBox_2" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">Yahoo!ショッピング　LACOSTE</a><img src="//i.moshimo.com/af/i/impression?a_id=3926202&p_id=1225&pc_id=1925&pl_id=18502" width="1" height="1" style="border:none;" alt="">
                <br>
            <a href="//af.moshimo.com/af/c/click?a_id=3926107&p_id=54&pc_id=54&pl_id=616&url=https%3A%2F%2Fsearch.rakuten.co.jp%2Fsearch%2Fmall%2FLACOSTE%2525E3%252580%252580%25E3%2583%259D%25E3%2583%25AD%25E3%2582%25B7%25E3%2583%25A3%25E3%2583%2584%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade">楽天市場　LACOSTE</a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&p_id=54&pc_id=54&pl_id=616" width="1" height="1" style="border:none;" alt="">
            </div>


        </div>

    <!--△△右側サイドバー△△-->
    <div class="ad">

        <!--自己紹介-->


        <!--人気記事-->
        <div class="sidebar">
            <h2>人気記事</h2>
            <div class="popular-articles">
                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/nosehair.png'%}" alt=""></div>
                    <div class="text">
                        <a href="humor_nosehair">鼻毛が出ている人に対するユーモアな指摘</a>
                    </div>
                </div>

                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/hobby.png'%}" alt=""></div>
                    <div class="text">
                        <a href="humor_hobby">趣味を聞かれた時のユーモア溢れる回答</a>
                    </div>
                </div>

                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/cinema.jpg'%}" alt=""></div>
                    <div class="text">
                        <a href="humor_cinema">好きな映画聞かれた時の返しがユーモア溢れる回答選手権</a>
                    </div>
                </div>

                <!-- 追加の人気記事をここに追加 -->
            </div>
        </div>
  <!--広告-->
        <div class="sidebarx">
            <h2>ユーモア商材</h2>
            <div class="popular-articlesx">

<a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+2GPLWY+2TI6+62MDD" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www26.a8.net/svt/bgt?aid=230409643149&wid=001&eno=01&mid=s00000013155001020000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T6H7V+2GPLWY+2TI6+62MDD" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+2KA7JM+3732+609HT" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230409643155&wid=001&eno=01&mid=s00000014915001009000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3T6H7V+2KA7JM+3732+609HT" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+40OCS2+2FQ2+61Z81" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www20.a8.net/svt/bgt?aid=230409643243&wid=001&eno=01&mid=s00000011369001017000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3T6H7V+40OCS2+2FQ2+61Z81" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+84XAEQ+4FOC+61RI9" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www22.a8.net/svt/bgt?aid=230304058492&wid=001&eno=01&mid=s00000020694001016000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=3T47QY+84XAEQ+4FOC+61RI9" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+4G5MIA+3732+C0YF5" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www22.a8.net/svt/bgt?aid=230409643269&wid=001&eno=01&mid=s00000014915002020000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T6H7V+4G5MIA+3732+C0YF5" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+2OG8S2+4XVM+60OXD" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www25.a8.net/svt/bgt?aid=230409643162&wid=001&eno=01&mid=s00000023053001011000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T6H7V+2OG8S2+4XVM+60OXD" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+21TRSI+50R8+60H7L" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www28.a8.net/svt/bgt?aid=230409643124&wid=001&eno=01&mid=s00000023426001010000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T6H7V+21TRSI+50R8+60H7L" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6VEN+7B5M5U+580C+5ZU29" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www28.a8.net/svt/bgt?aid=230428031442&wid=001&eno=01&mid=s00000024366001007000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T6VEN+7B5M5U+580C+5ZU29" alt="">


<a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+2RFESY+537A+5ZU29" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www25.a8.net/svt/bgt?aid=230409643167&wid=001&eno=01&mid=s00000023743001007000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3T6H7V+2RFESY+537A+5ZU29" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QX+1VA04Y+51JK+60H7L" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www27.a8.net/svt/bgt?aid=230304057113&wid=001&eno=01&mid=s00000023528001010000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3T47QX+1VA04Y+51JK+60H7L" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+3K07UA+4H90+BXIYP" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www28.a8.net/svt/bgt?aid=230409643215&wid=001&eno=01&mid=s00000020898002004000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3T6H7V+3K07UA+4H90+BXIYP" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+2TT582+1JHI+1NRX4X" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230409643171&wid=001&eno=01&mid=s00000007191010040000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3T6H7V+2TT582+1JHI+1NRX4X" alt="">



                <!-- 追加の人気記事をここに追加 -->
            </div>
        </div>

        <!--タグ-->
        <div class="tag">
            <h2>タグ一覧</h2>
            <a href="#">お仕事</a>
            <a href="#">お酒</a>
            <a href="#">お笑い</a>
            <a href="#">お友達</a>
            <a href="#">お金</a>
            <a href="#">モテモテ</a>
            <a href="#">身嗜み</a>
            <a href="#">心の健康</a>
            <a href="#">定石</a>
        </div>

</div>
    </div>
</main>


<footer class="footer">
    <p class="copyright">ユーモア溢れる世界を作りたい　byむらちゃん</p>

</footer>

</body>