<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/humor_ladytalk.css?v=9">
    <title>ユーモアなプロポーズの言葉7選</title>
</head>


<body>

<article>
<h1>ユーモアなプロポーズの言葉7選</h1>
<p>皆さんこんちには、murachanです。</p>

<p>今回は、ユーモアなプロポーズの言葉をまとめてみました。ユーモアさには自信がある
murachanが考えたプロポーズを参考にしてください。。
<br>※結果は自己責任です</p>
    <ol>
        <li>「生まれ変わっても、あなたともう一回付き合いたいです。僕と結婚してください。」</li>
        <li>「毎日味噌汁を作って下さい。赤だしがいいです。僕と結婚してください。」</li>
        <li>「家は積水ハイムの3階建てで考えています。僕と結婚してください。」</li>
        <li>「あなたと150歳まで生きたいです。一緒にギネス載りましょう。僕と結婚してください。」</li>
        <li>「おばあちゃんになったあなたも愛したいです。僕と結婚してください。」</li>
        <li>「あなたの白髪染めは僕にやらしてください。僕と結婚してください。」</li>
        <li>「あなたの介護は僕にやらせてください。僕と結婚してください。」</li>
    </ol>

<div class="footer01">

  <p class="copyright">
    &copy; My Site
  </p>
</div>
    </article>
</body>



</html>