
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
     crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/css/humor_nickname.css?2224">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat" >
    <title>ユーモアなあだな11選</title>
</head>
<body>

<div class="container">

<nav>
  <a href="humor_summary">Humor</a>
  <a href="humor_summary">Top Page</a>
  <a href="life_summary">Life</a>
  <a href="trivia_summary">Trivia</a>
  <a href="diary_summary">Diary</a>
  <div class="animation start-home"></div>
</nav>


 <div class="main-img">
            <img src="{% static 'media_local/Image.jpg'%}"width="100%">
    　　　　<h1>ユーモアなあだな11選</h1>
　　　　　　　<p>Hello</p>
        </div>






<p>ユーモアあるあだ名をまとめてみました。ユーモアさには自信がある
murachanが考えた返しを参考にしてください。<br>※切れられても自己責任です</p>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/1.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「ジャイアン」</h2>
            <p class="card-description">オレンジ色の服を着た人に対して</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/2.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「足の裏」</h2>
            <p class="card-description">顔が長い人に対して</p>
        </div>
    </div>
</a>

 <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/3.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「インディアン」</h2>
            <p class="card-description">長髪でパーマの人に対して</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/4.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「alwaysオフサイドさん」</h2>
            <p class="card-description">鼻毛が出ている人に対して</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/5.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「しずかちゃん」</h2>
            <p class="card-description">綺麗な人に対して</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/6.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「竹内力」</h2>
            <p class="card-description">強面の人に対して</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/7.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「ラクダ」</h2>
            <p class="card-description">顔が濃い人に対して</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/8.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「ダチョウ」</h2>
            <p class="card-description">まつげが長い人に対して</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/9.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「除霊師」</h2>
            <p class="card-description">ネイルがは派手な人に対して</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/No10.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「細木数子」</h2>
            <p class="card-description">おつぼねさんに対して</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/11.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「ガンダム」</h2>
            <p class="card-description">青色の服を着た人に対して</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/12.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「サンシャイン」</h2>
            <p class="card-description">スキンヘッドの人に対して</p>
        </div>
    </div>
</a>


</div>


</body>
      </html>