<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/humor_life.css?22238">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <title>人生を楽しくする方法7選</title>
</head>
<body>

<div class="container">

    <nav>
        <a href="{% url 'blog:index' %}">表紙</a>
        <a href="humor_summary">ユーモア語録</a>
        <a href="life_summary">ユーモア小道具</a>
        <a href="trivia_summary">ユーモア豆知識</a>
        <a href="fashion_summary">ユーモア身嗜み</a>
        <div class="animation start-home"></div>
    </nav>


    <div class="main-img">
        <img src="{% static 'media_local/Image.jpg'%}" width="100%">
        　　　　<h1>人生を楽しくする方法7選</h1>
        　　　　　　　<p>Hello</p>
    </div>

    <!--吹き出しはじまり-->
    <div class="balloon5">
        <div class="faceicon">
            <img src="{% static 'media_local/cat.jpg'%}">
        </div>
        <div class="chatting">
            <div class="says">
                <p>皆さんこんちには、murachanです。今回は、人生が楽しくない・パッとしないと思い始めた人たちへ「人生を楽しくする方法7選」
                    をまとめました。せっかくの人生ですので、楽しんで使いきれるよう参考にして下さい。</p>
            </div>
        </div>
    </div>
    <!--吹き出し終わり-->


    <div class="flex">
        <div class="pr-area">
            <p class="sample_h_4">人生を楽しくする方法7選</p>
            <a href="#" class="card-link" target="_blank">
                <div class="card pic-image">
                    <img class="card-image" src="{% static 'media_local/1.jpg'%}">
                    <div class="card-box">
                        <h2 class="card-title">人に期待しない。</h2>
                        <p class="card-description">〇〇のせいで失敗したなど、他責マインドの場合ですと物事は好転しません。
                            どんなことであれ、その人の行動次第で自分が影響受けてしまう構成にしている自分の比を考えましょう。
                            そうすることで、過度な期待による落胆も無くなり、必然的に自分の能力UPも必要となり
                            良い方向に進んでいくと思います。</p>
                    </div>
                </div>
            </a>

            <a href="#" class="card-link" target="_blank">
                <div class="card pic-image">
                    <img class="card-image" src="{% static 'media_local/2.jpg'%}">
                    <div class="card-box">
                        <h2 class="card-title">景色を見る。</h2>
                        <p class="card-description">何かに悩み込むと、そのことしか考えられず柔軟な考え方が出来なくなります。
                            定期的に家の外の風景、電車からの風景、車からの風景を見る癖をつけましょう。
                            広い景色を見ることで、色々抱えている課題の1つが実はあまり重要でなかったり無視できたりします。
                            また、違う視点からも捉えることができ優先順位付け、取捨選択を行うことが出来ます。</p>
                    </div>
                </div>
            </a>

            <a href="#" class="card-link" target="_blank">
                <div class="card pic-image">
                    <img class="card-image" src="{% static 'media_local/3.jpg'%}">
                    <div class="card-box">
                        <h2 class="card-title">ルーティンを作る。</h2>
                        <p class="card-description">人生ほとんど上手く行きません。
                            そんな中でも何か1つルーティンを作り、1ヵ月や1年と自分の中で期間を決めてやり切りましょう。
                            やり切ったときには、自分の中での成功体験となり自信になります。
                            また、継続して努力する癖がつきます。</p>
                    </div>
                </div>
            </a>

            <a href="#" class="card-link" target="_blank">
                <div class="card pic-image">
                    <img class="card-image" src="{% static 'media_local/4.jpg'%}">
                    <div class="card-box">
                        <h2 class="card-title">成功体験を具体的に想像する。</h2>
                        <p class="card-description">脳は想像と実体験の区別がつきません。
                            成功した後の自分の暮らしがどのようになっているか、周りにはどんな人がいるか、
                            その時は どんな感情かを具体的に想像しましょう。
                            そうすることで、脳は実体験と勘違いし自分はこういう人間であると自信に満ち溢れることが出来ます。
                            また、目標に向かうモチベーション維持にもなります。</p>
                    </div>
                </div>
            </a>

            <a href="#" class="card-link" target="_blank">
                <div class="card pic-image">
                    <img class="card-image" src="{% static 'media_local/5.jpg'%}">
                    <div class="card-box">
                        <h2 class="card-title">映画鑑賞、読書をする。</h2>
                        <p class="card-description">色々な物語、色々な人の人生を知ることで憧れ、目標、夢が芽生えます。
                            新しい「なりたい自分」が見つかることで、人生が活性化し明るくなります。</p>
                    </div>
                </div>
            </a>

            <a href="#" class="card-link" target="_blank">
                <div class="card pic-image">
                    <img class="card-image" src="{% static 'media_local/6.jpg'%}">
                    <div class="card-box">
                        <h2 class="card-title">自分に投資する。</h2>
                        <p class="card-description">英会話に通う、ボイトレに通う、ジムに通うなど自分の能力UPに投資しましょう。
                            自分の市場価値を上げましょう。</p>
                    </div>
                </div>
            </a>

            <a href="#" class="card-link" target="_blank">
                <div class="card pic-image">
                    <img class="card-image" src="{% static 'media_local/7.jpg'%}">
                    <div class="card-box">
                        <h2 class="card-title">先ずはやってみましょう。</h2>
                        <p class="card-description">悩むくらいであれば、先ずはやってみましょう。
                            そのあと、意味があることか判断し取捨選択すればいいです。
                            やらなきゃ良かったの後悔も人生の経験値となります。</p>
                    </div>
                </div>
            </a>
<!--広告　-->
            <script async
                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
                    crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-format="autorelaxed"
                 data-ad-client="ca-pub-7095790727260609"
                 data-ad-slot="2203879905"></ins>
            <script>
     (adsbygoogle = window.adsbygoogle || []).push({});

            </script>
　　　　　　　 <!--広告　-->

        </div>


        <div class="sidebar">
            <div class="box71">
                <div class="box-title">🌀ユーモアな商材🌀</div>

             <a href="https://px.a8.net/svt/ejp?a8mat=3NL52J+40OCS2+1WP2+65EOH" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www26.a8.net/svt/bgt?aid=221016043243&wid=001&eno=01&mid=s00000008903001033000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3NL52J+40OCS2+1WP2+65EOH"
                     alt="">


                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+BOXHGY+2GMK+ZTFR5" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www22.a8.net/svt/bgt?aid=230304058707&wid=001&eno=01&mid=s00000011486006016000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3T47QY+BOXHGY+2GMK+ZTFR5"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+AQZRZM+2GMK+61C2P" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www26.a8.net/svt/bgt?aid=230304058650&wid=001&eno=01&mid=s00000011486001014000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3T47QY+AQZRZM+2GMK+61C2P"
                     alt="">


                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+BUADWY+6HW+3T0HG1" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www20.a8.net/svt/bgt?aid=230304058716&wid=001&eno=01&mid=s00000000842023013000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3T47QY+BUADWY+6HW+3T0HG1"
                     alt="">


                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+67V08I+1WP2+NX735" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www26.a8.net/svt/bgt?aid=230308128376&wid=001&eno=01&mid=s00000008903004018000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3T4AW0+67V08I+1WP2+NX735"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QZ+1FSQEQ+2J9U+5ZMCH" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www28.a8.net/svt/bgt?aid=230304059087&wid=001&eno=01&mid=s00000011829001006000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3T47QZ+1FSQEQ+2J9U+5ZMCH"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+65H9TE+3OP8+HX5B5" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www20.a8.net/svt/bgt?aid=230308128372&wid=001&eno=01&mid=s00000017198003010000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T4AW0+65H9TE+3OP8+HX5B5"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+4QVFEA+ONS+68EPD" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www28.a8.net/svt/bgt?aid=230308128287&wid=001&eno=01&mid=s00000003196001047000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T4AW0+4QVFEA+ONS+68EPD"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+662PF6+4LV4+61JSH" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www22.a8.net/svt/bgt?aid=230308128373&wid=001&eno=01&mid=s00000021496001015000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3T4AW0+662PF6+4LV4+61JSH"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+64AELU+53AC+614CX" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www29.a8.net/svt/bgt?aid=230308128370&wid=001&eno=01&mid=s00000023754001013000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T4AW0+64AELU+53AC+614CX"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+4YM29E+1IRY+25J2E9" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www28.a8.net/svt/bgt?aid=230308128300&wid=001&eno=01&mid=s00000007099013022000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T4AW0+4YM29E+1IRY+25J2E9"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+4WTRG2+11FS+67Z9T" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www27.a8.net/svt/bgt?aid=230308128297&wid=001&eno=01&mid=s00000004852001045000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T4AW0+4WTRG2+11FS+67Z9T"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+4VMW8I+34QW+BYDTT" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www24.a8.net/svt/bgt?aid=230308128295&wid=001&eno=01&mid=s00000014612002008000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T4AW0+4VMW8I+34QW+BYDTT"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QZ+42GNLE+3SJ0+609HT" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www29.a8.net/svt/bgt?aid=230304059246&wid=001&eno=01&mid=s00000017694001009000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3T47QZ+42GNLE+3SJ0+609HT"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QZ+BWOVM+408S+5ZU29" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www25.a8.net/svt/bgt?aid=230304059020&wid=001&eno=01&mid=s00000018694001007000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T47QZ+BWOVM+408S+5ZU29"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+CSTJ02+4RNG+60WN5" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www22.a8.net/svt/bgt?aid=230304058774&wid=001&eno=01&mid=s00000022246001012000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T47QY+CSTJ02+4RNG+60WN5"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QX+36B8XE+ONS+TTDZ5" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www23.a8.net/svt/bgt?aid=230304057192&wid=001&eno=01&mid=s00000003196005008000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T47QX+36B8XE+ONS+TTDZ5"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QX+IGGJ6+53AC+ZRALD" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www21.a8.net/svt/bgt?aid=230304057031&wid=001&eno=01&mid=s00000023754006006000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T47QX+IGGJ6+53AC+ZRALD"
                     alt="">


            </div>


            <div class="box71">
                <div class="box-title">🌀人気記事Top3🌀</div>
                　　　　　　　　　　
                <div class="div_design006">
                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/busaiku.jpg'%}">
                        <a href="humor_busaiku">ブスと言われたときのユーモアな返し7選</a>
                    </div>

                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/ikemen.jpg'%}">
                        <a href="humor_smart">モテる男の条件7選</a>
                    </div>

                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/nickname.jpg'%}">
                        <a href="humor_nickname">ユーモアなあだな11選</a>
                    </div>
                </div>

            </div>

            <!--
            <div class="box72">
                <div class="box-title">🌀カテゴリ一覧🌀</div>
                <a href="" class="btn_04">名言</a>
                <a href="" class="btn_04">お金</a>
                <a href="" class="btn_04">お金</a>
                <a href="" class="btn_04">aaaaaaaaa</a>
                <a href="" class="btn_04">お金</a>
                <a href="" class="btn_04">お金</a>
            </div> -->

        </div>


    </div>
    <footer class="footer">

        <p>ユーモアな館</p>
        <ul class="md-flex">
            <li><a href="{% url 'blog:index' %}">表紙</a></li>
            <li><a href="humor_summary">ユーモア語録</a></li>
            <li><a href="life_summary">ユーモア小道具</a></li>
            <li><a href="trivia_summary">ユーモア豆知識</a></li>
            <li><a href="diary_summary">ユーモア日記</a></li>
        </ul>
    </footer>

</div>
</body>
</html>