<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/humor_seiza.css?2228">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <title>星座性格占い</title>
</head>
<body>

<div class="container">

    <nav>
        <a href="{% url 'blog:index' %}">表紙</a>
        <a href="humor_summary">ユーモア語録</a>
        <a href="life_summary">ユーモア小道具</a>
        <a href="trivia_summary">ユーモア豆知識</a>
        <a href="fashion_summary">ユーモア身嗜み</a>
        <div class="animation start-home"></div>
    </nav>


    <div class="main-img">
        <img src="{% static 'media_local/Image.jpg'%}" width="100%">
        　　　　<h1>星座性格占い</h1>
        　　　　　　　<p>Hello</p>
    </div>

    <!--吹き出しはじまり-->
    <div class="balloon5">
        <div class="faceicon">
            <img src="{% static 'media_local/cat.jpg'%}">
        </div>
        <div class="chatting">
            <div class="says">
                <p>皆さんこんちには、murachanです。今回は星座別の性格をまとめてみました。参考にして下さい。</p>
            </div>
        </div>
    </div>
    <!--吹き出し終わり-->


    <div class="flex">
        <div class="pr-area">
            <p class="sample_h_4">星座性格占い</p>
            <a href="#" class="card-link" target="_blank">
                <div class="card pic-image">
                    <img class="card-image" src="{% static 'media_local/ohitsuji.jpg'%}">
                    <div class="card-box">
                        <h2 class="card-title">牡羊座（おひつじ座）3/21~4/19</h2>
                        <p class="card-description">「勇敢さ」が特徴な星座。リーダーシップがあり衝動的で攻撃的です。</p>
                    </div>
                </div>
            </a>

            <a href="#" class="card-link" target="_blank">
                <div class="card pic-image">
                    <img class="card-image" src="{% static 'media_local/ousi.jpg'%}">
                    <div class="card-box">
                        <h2 class="card-title">牡牛座(おうし座）4/20~5/20</h2>
                        <p class="card-description">「忍耐力」が特徴な星座。これと決めたら持てるもの全てを注ぎ込みます。</p>
                    </div>
                </div>
            </a>

            <a href="#" class="card-link" target="_blank">
                <div class="card pic-image">
                    <img class="card-image" src="{% static 'media_local/futago.png'%}">
                    <div class="card-box">
                        <h2 class="card-title">双子座（ふたご座）5/21~6/21</h2>
                        <p class="card-description">「社交性の高さ」が特徴な星座。社交を生き甲斐とする人脈作りの達人</p>
                    </div>
                </div>
            </a>

            <a href="#" class="card-link" target="_blank">
                <div class="card pic-image">
                    <img class="card-image" src="{% static 'media_local/kani.jpg'%}">
                    <div class="card-box">
                        <h2 class="card-title">蟹座（かに座）6/22~7/22</h2>
                        <p class="card-description">「感受性の高さ」が特徴な星座。気持ちに共感し、気分の浮き沈みを一緒に経験する。</p>
                    </div>
                </div>
            </a>

            <a href="#" class="card-link" target="_blank">
                <div class="card pic-image">
                    <img class="card-image" src="{% static 'media_local/shishi.jpg'%}">
                    <div class="card-box">
                        <h2 class="card-title">獅子座（しし座）7/23~8/22</h2>
                        <p class="card-description">「情の厚さ」が特徴な星座。何を愛するかを他社と共有する。</p>
                    </div>
                </div>
            </a>

            <a href="#" class="card-link" target="_blank">
                <div class="card pic-image">
                    <img class="card-image" src="{% static 'media_local/otome.jpg'%}">
                    <div class="card-box">
                        <h2 class="card-title">乙女座（おとめ座）8/23~9/22</h2>
                        <p class="card-description">「洞察力の高さ」が特徴な星座。合理的な評価を下せる。</p>
                    </div>
                </div>
            </a>

            <a href="#" class="card-link" target="_blank">
                <div class="card pic-image">
                    <img class="card-image" src="{% static 'media_local/tenbin.jpg'%}">
                    <div class="card-box">
                        <h2 class="card-title">天秤座（てんびん座）9/23~10/23</h2>
                        <p class="card-description">「バランスの良さ」が特徴な星座。真の平和と調和を見つけ出す。</p>
                    </div>
                </div>
            </a>

                <a href="#" class="card-link" target="_blank">
                <div class="card pic-image">
                    <img class="card-image" src="{% static 'media_local/sasori.png'%}">
                    <div class="card-box">
                        <h2 class="card-title">蠍座（さそり座）10/24~11/22</h2>
                        <p class="card-description">「情鉄的」が特徴な星座。頭も心も魂もパワフル。</p>
                    </div>
                </div>
            </a>

            <a href="#" class="card-link" target="_blank">
                <div class="card pic-image">
                    <img class="card-image" src="{% static 'media_local/ite.jpg'%}">
                    <div class="card-box">
                        <h2 class="card-title">射手座（いて座）11/23~12/21</h2>
                        <p class="card-description">「自由な精神」が特徴な星座。探究心が旺盛で、新たな領域や冒険を追い求める。</p>
                    </div>
                </div>
            </a>

             <a href="#" class="card-link" target="_blank">
                <div class="card pic-image">
                    <img class="card-image" src="{% static 'media_local/yagi.jpg'%}">
                    <div class="card-box">
                        <h2 class="card-title">山羊座（やぎ座）12/22~1/19</h2>
                        <p class="card-description">「建設的さ」が特徴な星座。カオスのなかに不変性をもたらす。</p>
　　　　　　　　　　</div>
                </div>
            </a>

             <a href="#" class="card-link" target="_blank">
                <div class="card pic-image">
                    <img class="card-image" src="{% static 'media_local/mizugame.jpg'%}">
                    <div class="card-box">
                        <h2 class="card-title">水瓶座（みずがめ座）1/20~2/18</h2>
                        <p class="card-description">「知性」が特徴な星座。頭で分析し、本質を考え抜く。</p>
                    </div>
                </div>
            </a>

             <a href="#" class="card-link" target="_blank">
                <div class="card pic-image">
                    <img class="card-image" src="{% static 'media_local/uo.png'%}">
                    <div class="card-box">
                        <h2 class="card-title">魚座（うお座）2/19~3/20</h2>
                        <p class="card-description">「想像力の豊さ」が特徴な星座。豊かな内面世界に恵まれた人</p>
                    </div>
                </div>
            </a>
<!--広告　-->
            <script async
                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
                    crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-format="autorelaxed"
                 data-ad-client="ca-pub-7095790727260609"
                 data-ad-slot="2203879905"></ins>
            <script>
     (adsbygoogle = window.adsbygoogle || []).push({});

            </script>
　　　　　　　 <!--広告　-->


        </div>


        <div class="sidebar">
            <div class="box71">
                <div class="box-title">🌀ユーモアな商材🌀</div>

             <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+C2MGDU+53BG+5ZU29" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www29.a8.net/svt/bgt?aid=230304058730&wid=001&eno=01&mid=s00000023758001007000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T47QY+C2MGDU+53BG+5ZU29" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+BRB7W2+4RJA+5ZU29" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www21.a8.net/svt/bgt?aid=230304058711&wid=001&eno=01&mid=s00000022231001007000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3T47QY+BRB7W2+4RJA+5ZU29" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+D4Q73M+53CU+61Z81" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230304058794&wid=001&eno=01&mid=s00000023763001017000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3T47QY+D4Q73M+53CU+61Z81" alt="">


            <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+BMJR1U+48YY+BY641" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www20.a8.net/svt/bgt?aid=230304058703&wid=001&eno=01&mid=s00000019825002007000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3T47QY+BMJR1U+48YY+BY641" alt="">


            <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+BLYBG2+48YY+61JSH" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230304058702&wid=001&eno=01&mid=s00000019825001015000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T47QY+BLYBG2+48YY+61JSH" alt="">

            <a href="https://px.a8.net/svt/ejp?a8mat=3T47QZ+ZQ12Q+2PEO+6C9LD" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www22.a8.net/svt/bgt?aid=230304059060&wid=001&eno=01&mid=s00000012624001065000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3T47QZ+ZQ12Q+2PEO+6C9LD" alt="">

<a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+DPKD9U+352U+6BU5T" rel="nofollow">
<img border="0" width="224" height="33" alt="" src="https://www20.a8.net/svt/bgt?aid=230304058829&wid=001&eno=01&mid=s00000014655001063000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3T47QY+DPKD9U+352U+6BU5T" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+C4ER76+4PWE+BXYE9" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www29.a8.net/svt/bgt?aid=230304058733&wid=001&eno=01&mid=s00000022019002006000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3T47QY+C4ER76+4PWE+BXYE9" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+C210S2+3SKE+62MDD" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www28.a8.net/svt/bgt?aid=230304058729&wid=001&eno=01&mid=s00000017699001020000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T47QY+C210S2+3SKE+62MDD" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+C08PYQ+2PEO+C465T" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www26.a8.net/svt/bgt?aid=230304058726&wid=001&eno=01&mid=s00000012624002035000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3T47QY+C08PYQ+2PEO+C465T" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+BZ1UR6+2PEO+1BUTLT" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www21.a8.net/svt/bgt?aid=230304058724&wid=001&eno=01&mid=s00000012624008038000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3T47QY+BZ1UR6+2PEO+1BUTLT" alt="">

<a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+B8US4Y+2XGO+60OXD" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www20.a8.net/svt/bgt?aid=230304058680&wid=001&eno=01&mid=s00000013668001011000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3T47QY+B8US4Y+2XGO+60OXD" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3NLCVR+6NXPKI+4N6C+C2101" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www25.a8.net/svt/bgt?aid=221026167403&wid=001&eno=01&mid=s00000021666002025000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3NLCVR+6NXPKI+4N6C+C2101" alt="">




                   </div>

            <div class="box71">
                <div class="box-title">🌀人気記事Top3🌀</div>
                　　　　　　　　　　
                <div class="div_design006">
                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/busaiku.jpg'%}">
                        <a href="humor_busaiku">ブスと言われたときのユーモアな返し7選</a>
                    </div>

                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/ikemen.jpg'%}">
                        <a href="humor_smart">モテる男の条件7選</a>
                    </div>

                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/nickname.jpg'%}">
                        <a href="humor_nickname">ユーモアなあだな11選</a>
                    </div>
                </div>

            </div>

            <!--
            <div class="box72">
                <div class="box-title">🌀カテゴリ一覧🌀</div>
                <a href="" class="btn_04">名言</a>
                <a href="" class="btn_04">お金</a>
                <a href="" class="btn_04">お金</a>
                <a href="" class="btn_04">aaaaaaaaa</a>
                <a href="" class="btn_04">お金</a>
                <a href="" class="btn_04">お金</a>
            </div> -->

        </div>


    </div>
    <footer class="footer">

        <p>ユーモアな館</p>
        <ul class="md-flex">
            <li><a href="{% url 'blog:index' %}">表紙</a></li>
            <li><a href="humor_summary">ユーモア語録</a></li>
            <li><a href="life_summary">ユーモア小道具</a></li>
            <li><a href="trivia_summary">ユーモア豆知識</a></li>
            <li><a href="diary_summary">ユーモア日記</a></li>
        </ul>
    </footer>

</div>
</body>
</html>