<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/humor_bye.css?22238">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <link rel="icon" type="image/ico" href="{% static 'media_local/favicon.ico'%}">
    <title>遅刻した時のユーモア溢れる言い訳選手権</title>
</head>
<body>

<div class="container">

    <nav>
        <a href="{% url 'blog:index' %}">表紙</a>
        <a href="humor_summary">ユーモア語録</a>
        <a href="life_summary">ユーモア小道具</a>
        <a href="trivia_summary">ユーモア豆知識</a>
        <a href="fashion_summary">ユーモア身嗜み</a>
        <div class="animation start-home"></div>
    </nav>


    <div class="main-img">
        <img src="{% static 'media_local/Image.jpg'%}" width="100%">
        　　　　<h1>遅刻した時のユーモア溢れる言い訳選手権</h1>
        　　　　　　　<p>Hello</p>
    </div>

<!--吹き出しはじまり-->
<div class="balloon5">
  <div class="faceicon">
    <img src="{% static 'media_local/cat.jpg'%}">
  </div>
  <div class="chatting">
    <div class="says">
      <p>皆さんこんちには、murachanです。遅刻した時のユーモア溢れる言い訳選手権をまとめました。
遅刻したことしかないmurachanが考えた言葉を参考にしてください。</p>
    </div>
  </div>
</div>
<!--吹き出し終わり-->


    <div class="flex">
        <div class="pr-area">
        <p class="sample_h_4">遅刻した時のユーモア溢れる言い訳選手権</p>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/1.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「すいません、自転車に乗り遅れました。」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/2.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「自転車のサドルがブロッコリーになってまして」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

 <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/3.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「おばあちゃん担いで階段登ってまして」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/4.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「金縛りで縛られてました」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/5.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「おはスタ観てました」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

            <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/6.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「途中でクロックス履いてることに気付きまして」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

              <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/7.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「好きな女優の新作観てました」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

            <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/8.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「前髪がなかなか決まらなくて（坊主）」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

            <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/9.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「おしっこのキレが悪くて」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>



             <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/10.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「7度寝しちゃいました」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>


             <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/11.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「髭抜いてました」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<!--広告　-->
            <script async
                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
                    crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-format="autorelaxed"
                 data-ad-client="ca-pub-7095790727260609"
                 data-ad-slot="2203879905"></ins>
            <script>
     (adsbygoogle = window.adsbygoogle || []).push({});

            </script>
　　　　　　　 <!--広告　-->

        </div>


        <div class="sidebar">
            <div class="box71">
                <div class="box-title">🌀ユーモアな商材🌀</div>

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6I0F+25EDF6+3IE0+1BQYPT" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www28.a8.net/svt/bgt?aid=230410671130&wid=001&eno=01&mid=s00000016380008020000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3T6I0F+25EDF6+3IE0+1BQYPT" alt="">


<a href="https://px.a8.net/svt/ejp?a8mat=3T6QO5+FHAIA+3IE0+HWPVL" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www23.a8.net/svt/bgt?aid=230421893026&wid=001&eno=01&mid=s00000016380003008000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T6QO5+FHAIA+3IE0+HWPVL" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6I0F+1IRWFM+3IE0+66H9D" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www27.a8.net/svt/bgt?aid=230410671092&wid=001&eno=01&mid=s00000016380001038000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3T6I0F+1IRWFM+3IE0+66H9D" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T8VI1+5KN3N6+1KO+3SZEV5" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www21.a8.net/svt/bgt?aid=230521465337&wid=001&eno=01&mid=s00000000204023008000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3T8VI1+5KN3N6+1KO+3SZEV5" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6I0F+XCANM+1KO+3YXQWX" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www26.a8.net/svt/bgt?aid=230410671056&wid=001&eno=01&mid=s00000000204024008000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3T6I0F+XCANM+1KO+3YXQWX" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QX+5R6VAQ+1KO+4ATZKX" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www22.a8.net/svt/bgt?aid=230304057348&wid=001&eno=01&mid=s00000000204026006000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T47QX+5R6VAQ+1KO+4ATZKX" alt="">

            </div>


            <div class="box71">
                <div class="box-title">🌀人気記事Top3🌀</div>
                　　　　　　　　　　
                <div class="div_design006">
                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/busaiku.jpg'%}">
                        <a href="humor_busaiku">ブスと言われたときのユーモアな返し7選</a>
                    </div>

                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/ikemen.jpg'%}">
                        <a href="humor_smart">モテる男の条件7選</a>
                    </div>

                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/nickname.jpg'%}">
                        <a href="humor_nickname">ユーモアなあだな11選</a>
                    </div>
                </div>

            </div>

            <!--
            <div class="box72">
                <div class="box-title">🌀カテゴリ一覧🌀</div>
                <a href="" class="btn_04">名言</a>
                <a href="" class="btn_04">お金</a>
                <a href="" class="btn_04">お金</a>
                <a href="" class="btn_04">aaaaaaaaa</a>
                <a href="" class="btn_04">お金</a>
                <a href="" class="btn_04">お金</a>
            </div> -->

        </div>


    </div>
    <footer class="footer">

        <p>ユーモアな館</p>
        <ul class="md-flex">
            <li><a href="{% url 'blog:index' %}">表紙</a></li>
            <li><a href="humor_summary">ユーモア語録</a></li>
            <li><a href="life_summary">ユーモア小道具</a></li>
            <li><a href="trivia_summary">ユーモア豆知識</a></li>
            <li><a href="diary_summary">ユーモア日記</a></li>
        </ul>
    </footer>

</div>
</body>
</html>