
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
     crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/css/humor_ladytalk.css?2223">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat" >
    <title>女性と話す時のネタ20選</title>
</head>
<body>

<div class="container">

<nav>
  <a href="humor_summary">Humor</a>
  <a href="humor_summary">Top Page</a>
  <a href="life_summary">Life</a>
  <a href="trivia_summary">Trivia</a>
  <a href="diary_summary">Diary</a>
  <div class="animation start-home"></div>
</nav>


 <div class="main-img">
            <img src="{% static 'media_local/Image.jpg'%}"width="100%">
    　　　　<h1>女性と話す時のネタ20選</h1>
　　　　　　　<p>Hello</p>
        </div>






<p>今回は、女性と話すときに沈黙を避けたい男性へ「女性との話のネタ集」をまとめましたので
参考にしてください。<br>※ただ、質問攻めは嫌われるのでお気を付けください。</p>


<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/1.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">血液型は何型ですか？</h2>
            <p class="card-description"> →性格の話に繋げる</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/2.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">好きな食べ物TOP3は何ですか？</h2>
            <p class="card-description">→可能な限り共感すること</p>
        </div>
    </div>
</a>

 <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/3.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">兄弟がいますか？</h2>
            <p class="card-description">→しっかり者、甘えんぼなどの話に繋げる</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/4.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">趣味は何ですか？</h2>
            <p class="card-description">→自分の趣味も忘れずに</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/5.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">何の仕事してるんですか？</h2>
            <p class="card-description">→職業当てゲームに繋げるも良し</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/6.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">何かスポーツされてるんですか？</h2>
            <p class="card-description">→部活当てゲームに繋げるも良し</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/7.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">休日は何されてるんですか？</h2>
            <p class="card-description">→性格の話に繋げる</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/8.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">どういう人がタイプ何ですか？</h2>
            <p class="card-description">→自分のこと言ってますかとボケるのも良し</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/9.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">何てお呼びすればいいですか？</h2>
            <p class="card-description">→エリザベスでいいですかとボケるのも良し</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/10.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">〇色が好きなんですか？</h2>
            <p class="card-description">→服の色を見て</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/11.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">○○さんに似てるって言われません？</h2>
            <p class="card-description">→かわいい芸能人</p>
        </div>
    </div>
</a>
　
<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/12.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">段お酒は飲まれるんですか？（居酒屋での会話）</h2>
            <p class="card-description">→飲むのであれば、「何のお酒が好きですか？」</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/13.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">彼氏はいるんですか？</h2>
            <p class="card-description">→最近別れた場合は、「振っちゃったんですか？」に繋げる</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/14.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">出身は何処ですか？</h2>
            <p class="card-description">→イントネーションに癖があれば</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/15.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">カラオケとか行くんですか？（自分が歌に自信があれば）</h2>
            <p class="card-description">→「誰の曲歌うんですか？」に繋げる</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/16.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">ですか？Sですか？</h2>
            <p class="card-description">→下ネタの話になれば</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/17.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">甘えたいか、甘えられたいかどちらですか？</h2>
            <p class="card-description">→仲が深まれば</p>
        </div>
    </div>
</a>

    <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/18.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">何かスマホゲームやってますか？</h2>
            <p class="card-description">→お勧めのスマホゲームを知っていれば</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/19.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">アニメ観ますか？</h2>
            <p class="card-description">→お勧めのアニメを知っていれば</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/20.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">漫画読みますか？</h2>
            <p class="card-description">→お勧めの漫画を知っていれば</p>
        </div>
    </div>
</a>


</div>


</body>
      </html>