<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/humor_ladytalk.css?v=9">
    <title>ユーモアなあだな11選</title>
</head>


<body>

<article>
<h1>ユーモアなあだな11選</h1>
<p>皆さんこんちには、murachanです。</p>

<p>ユーモアあるあだ名をまとめてみました。ユーモアさには自信がある
murachanが考えた返しを参考にしてください。<br>※切れられても自己責任です</p>
    <ol>
        <li>「ジャイアン」<br>
             →オレンジ色の服を着た人に対して</li>
        <li>「足の裏」<br>
             →顔が長い人に対して</li>
        <li>「インディアン」<br>
             →長髪でパーマの人に対して</li>
        <li>「alwaysオフサイドさん」<br>
             →鼻毛が出ている人に対して</li>
        <li>「しずかちゃん」<br>
             →綺麗な人に対して</li>
        <li>「竹内力」<br>
             →強面の人に対して</li>
        <li>「ラクダ」<br>
             →顔が濃い人に対して</li>
        <li>「ダチョウ」<br>
             →まつげが長い人に対して</li>
        <li>「除霊師」<br>
             →ネイルがは派手な人に対して</li>
        <li>「細木数子」<br>
             →おつぼねさんに対して</li>
        <li>「ガンダム」<br>
             →青色の服を着た人に対して</li>
        <li>「サンシャイン」<br>
            →スキンヘッドの人に対して</li>

    </ol>

<div class="footer01">

  <p class="copyright">
    &copy; My Site
  </p>
</div>
    </article>
</body>



</html>