<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/humor_ladytalk.css?v=9">
    <title>私が選ぶ松本人志の名言集</title>
</head>


<body>

<article>
<h1>私が選ぶ松本人志の名言集</h1>
<p>皆さんこんちには、murachanです。</p>

<p>今回は私の尊敬する松本人志の名言をまとめました。面白かっこいいのでぜひ見てください。</p>
    <ol>
        <li>「アホ！その子らも腹いっぱいになったら残すわ！」<br>
             世の中には食べられへん子もおるんやで、残したらいけないと親から言われた際の返し。</li>
        <li>「モンゴルからの留学生や」<br>
             →浜田雅功に初めて出会った際に思った言葉。</li>
        <li>「100点は無理かもしれん。でもMAXなら出せるやろ」<br>
             →100点＝全力じゃない</li>
        <li>「笑う事だけが、人間に許された唯一の特権なんや」</li>
        <li>「人生なんて楽しいもんやないんや。だから楽しまなあかんねん」</li>
        <li>「未完成でも一生懸命やったら伝わるもんやなあ」</li>
        <li>「笑いは0円で作れる」</li>
        <li>「オチとプロポーズだけは死んでも噛むな。」</li>
        <li>「殺人鬼を殺しそうな顔やな」</li>

    </ol>

<div class="footer01">

  <p class="copyright">
    &copy; My Site
  </p>
</div>
    </article>
</body>



</html>