<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    　<title>ユーモアな館</title>
    <link rel="stylesheet" href="/static/css/humor_master.css?v=21">

</head>

<body>

<!--▽▽ヘッダー▽▽-->
<header class="header">

    <!--▽▽ヘッダーロゴ▽▽-->
    <div class="logo">
        <a href="{% url 'blog:index' %}">ユーモアな館</a>
    </div>
    <!--△△ヘッダーロゴ△△-->

    <!--▽▽ヘッダーリスト▽▽-->
    <nav>
        <ul>
            <li><a href="humor_summary1">ユーモア語録</a></li>
            <li><a href="life_summary1">ユーモア小道具</a></li>
            <li><a href="trivia_summary1">ユーモア豆知識</a></li>
            <li><a href="fashion_summary1">ユーモア身嗜み</a></li>
        </ul>
    </nav>
    <!--△△ヘッダーリスト△△-->

</header>

<!--ルートディレクトリ-->
<div class="root">
    <div class="rootp">
        <a href="{% url 'blog:index' %}">Home<</a><a href="humor_summary3">ユーモア語録<</a><div class="roota">
        <a href="humor_silent1">無言が気まずい時のユーモアな話題</a></div>
    </div>
    </div>

<!--メイン画像-->

<div class="globalNavigation">
    <div class="main-img">
        <img src="{% static 'media_local/disc.jpg'%}">
        <p>無言が気まずい時の<br><br>
            ユーモアな話題。<br><br>の巻</p>
    </div>
</div>


<!--△△記事△△-->
<main>

    <div class="content">

        <div class="balloon5">
            <div class="faceicon">
                <img src="{% static 'media_local/cat.jpg'%}">
            </div>
            <div class="chatting">
                <div class="says">
                    <p>皆さんこんちには、murachanです。無言が気まずい時のユーモアな話題をまとめました。
                        ユーモアさには定評があるmurachanが考えた言葉を参考にしてください。</p>
                </div>
            </div>
        </div>


        <a href="#" class="card-link" target="_blank">
            <div class="card pic-image">
                <img class="card-image" src="{% static 'media_local/1.png'%}">
                <div class="card-box">
                    <h2 class="card-title">現在の状況に関する話題:
                        現在の場所や出来事について話題を提供することで、気まずさを解消しましょう。「この場所は初めて来たんですが、ここで何かオススメのことってありますか？」と尋ねることで、新たな話題を切り出すことができます。</h2>
                    <p class="card-description"></p>
                </div>
            </div>
        </a>

        <a href="#" class="card-link" target="_blank">
            <div class="card pic-image">
                <img class="card-image" src="{% static 'media_local/2.png'%}">
                <div class="card-box">
                    <h2 class="card-title">趣味や興味に関する話題:
                        相手の趣味や興味について質問したり、自分の趣味について話したりすることで、会話を盛り上げることができます。「最近何か新しい趣味を始めましたか？私は最近料理にハマっていて、新しいレシピを試しています」といった具体的な話題を提供しましょう。</h2>
                    <p class="card-description"></p>
                </div>
            </div>
        </a>

        <a href="#" class="card-link" target="_blank">
            <div class="card pic-image">
                <img class="card-image" src="{% static 'media_local/3.jpg'%}">
                <div class="card-box">
                    <h2 class="card-title">トレンドやニュースに関する話題:
                        最新のトレンドやニュースについて話すことで、会話の幅を広げることができます。「最近、新しい映画やドラマを見ましたか？私は最近話題の作品をチェックしています」といった話題を提供しましょう。</h2>
                    <p class="card-description"></p>
                </div>
            </div>
        </a>

        <a href="#" class="card-link" target="_blank">
            <div class="card pic-image">
                <img class="card-image" src="{% static 'media_local/4.jpg'%}">
                <div class="card-box">
                    <h2 class="card-title">軽いユーモアの話題:
                        軽いユーモアを交えた話題提供も効果的です。「最近、おもしろいエピソードがあったんですけど、聞いてもらってもいいですか？」といった形で、笑いを誘う話題を切り出してみましょう。</h2>
                    <p class="card-description"></p>
                </div>
            </div>
        </a>

        <a href="#" class="card-link" target="_blank">
            <div class="card pic-image">
                <img class="card-image" src="{% static 'media_local/5.jpg'%}">
                <div class="card-box">
                    <h2 class="card-title">最近観た映画やドラマについて話す:
                        「最近面白い映画を観ましたか？私は先日、ある作品を観て感動しました」といった具体的な映画やドラマの話題を提供しましょう。相手も共感できる作品があるかもしれません。</h2>
                    <p class="card-description"></p>
                </div>
            </div>
        </a>

        <a href="#" class="card-link" target="_blank">
            <div class="card pic-image">
                <img class="card-image" src="{% static 'media_local/6.png'%}">
                <div class="card-box">
                    <h2 class="card-title">旅行に関する話題:
                        「最近行った旅行先はどこですか？」や「次に行きたい旅行先はありますか？」といった旅行に関する話題を提供しましょう。旅行は多くの人にとって興味深い話題です。</h2>
                    <p class="card-description"></p>
                </div>
            </div>
        </a>

        <a href="#" class="card-link" target="_blank">
            <div class="card pic-image">
                <img class="card-image" src="{% static 'media_local/7.jpg'%}">
                <div class="card-box">
                    <h2 class="card-title">音楽について話す:
                        「最近新しいアーティストの曲を聴いていますか？」や「お気に入りの音楽ジャンルは何ですか？」といった音楽に関する話題を振ってみましょう。共通の好みや新しい音楽の発見が会話を盛り上げることができます。</h2>
                    <p class="card-description"></p>
                </div>
            </div>
        </a>

        <a href="#" class="card-link" target="_blank">
            <div class="card pic-image">
                <img class="card-image" src="{% static 'media_local/8.png'%}">
                <div class="card-box">
                    <h2 class="card-title">料理や食べ物について話す:
                        「最近新しいレシピを試しましたか？」や「お気に入りのレストランや料理はありますか？」といった料理や食べ物に関する話題を提供しましょう。食べることについて話すことは、多くの人が興味を持つトピックです。</h2>
                    <p class="card-description"></p>
                </div>
            </div>
        </a>

        <a href="#" class="card-link" target="_blank">
            <div class="card pic-image">
                <img class="card-image" src="{% static 'media_local/9.png'%}">
                <div class="card-box">
                    <h2 class="card-title">趣味やスポーツについて話す:
                        自分の趣味やスポーツについて話すことで、相手も自身の趣味やスポーツについて語りやすくなります。「最近新しいホビーを始めましたか？」や「週末はどんなスポーツをすることが多いですか？」など、具体的な趣味やスポーツに関する話題を振ってみましょう。</h2>
                    <p class="card-description"></p>
                </div>
            </div>
        </a> <a href="#" class="card-link" target="_blank">
        <div class="card pic-image">
            <img class="card-image" src="{% static 'media_local/10.png'%}">
            <div class="card-box">
                <h2 class="card-title">イベントやパーティーの話題:
                    「最近、楽しいイベントやパーティーに参加しましたか？」や「次の週末に予定しているイベントはありますか？」といった話題を提供しましょう。相手の予定や興味について知ることができます。</h2>
                <p class="card-description"></p>
            </div>
        </div>
    </a>


        <a href="#" class="card-link" target="_blank">
            <div class="card pic-image">
                <img class="card-image" src="{% static 'media_local/11.png'%}">
                <div class="card-box">
                    <h2 class="card-title">ペットや動物に関する話題:
                        「ペットを飼っていますか？」や「動物の中で好きな動物は何ですか？」といったペットや動物に関する話題を振ってみましょう。多くの人がペットや動物について語りたくなることがあります。</h2>
                    <p class="card-description"></p>
                </div>
            </div>
        </a>

    </div>


    <!--△△右側サイドバー△△-->
    <div class="ad">

        <!--自己紹介-->


        <!--人気記事-->
        <div class="sidebar">
            <h2>人気記事</h2>
            <div class="popular-articles">
                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/nosehair.png'%}" alt=""></div>
                    <div class="text">
                        <a href="humor_nosehair">鼻毛が出ている人に対するユーモアな指摘</a>
                    </div>
                </div>

                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/hobby.png'%}" alt=""></div>
                    <div class="text">
                        <a href="humor_hobby">趣味を聞かれた時のユーモア溢れる回答</a>
                    </div>
                </div>

                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/cinema.jpg'%}" alt=""></div>
                    <div class="text">
                        <a href="humor_cinema">好きな映画聞かれた時の返しがユーモア溢れる回答選手権</a>
                    </div>
                </div>

                <!-- 追加の人気記事をここに追加 -->
            </div>
        </div>


        <!--タグ-->
        <div class="tag">
            <h2>タグ一覧</h2>
            <a href="#">お仕事</a>
            <a href="#">お酒</a>
            <a href="#">お笑い</a>
            <a href="#">お友達</a>
            <a href="#">お金</a>
            <a href="#">モテモテ</a>
            <a href="#">身嗜み</a>
            <a href="#">心の健康</a>
            <a href="#">定石</a>
        </div>


    </div>
</main>


<footer class="footer">
    <p class="copyright">ユーモア溢れる世界を作りたい　byむらちゃん</p>

</footer>

</body>