<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/humor_ladytalk.css?v=9">
    <title>女性に振られても前向きになれる考え方5選</title>
</head>


<body>

<article>
<h1>女性に振られても前向きになれる考え方5選</h1>
<p>皆さんこんちには、murachanです。</p>

<p>女性に振られて落ち込んでいるときに元気が出る考え方をまとめました。
振られた人数数知れずのmurachanが考えたマインドを参考にしてください。
</p>
    <ol>
        <li>「地球上に星の数ほど、女性はいる。」</li>
        <li>「見返してやる。そのために自分磨きをこれから全力で頑張る。」</li>
        <li>「自分の魅力に気付かないとは、対した女性ではない。」</li>
        <li>「世の中にはもっと素敵な人がいるから、その人と付き合えるよう頑張る。」</li>
        <li>「まだ諦めない。もう少し粘ってダメなら諦める。それまで終わりじゃない。」</li>

    </ol>

<div class="footer01">

  <p class="copyright">
    &copy; My Site
  </p>
</div>
    </article>
</body>



</html>