
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/css/humor_propose.css?2224">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat" >
    <title>ユーモアなプロポーズの言葉7選</title>
</head>
<body>

<div class="container">

<nav>
  <a href="humor_summary">Humor</a>
  <a href="humor_summary">Top Page</a>
  <a href="life_summary">Life</a>
  <a href="trivia_summary">Trivia</a>
  <a href="diary_summary">Diary</a>
  <div class="animation start-home"></div>
</nav>


 <div class="main-img">
            <img src="{% static 'media_local/Image.jpg'%}"width="100%">
    　　　　<h1>ユーモアなプロポーズの言葉7選</h1>
　　　　　　　<p>Hello</p>
        </div>






<p>今回は、ユーモアなプロポーズの言葉をまとめてみました。ユーモアさには自信がある
murachanが考えたプロポーズを参考にしてください。 ※結果は自己責任です</p>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/1.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「生まれ変わっても、あなたともう一回付き合いたいです。僕と結婚してください。」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/2.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「毎日味噌汁を作って下さい。赤だしがいいです。僕と結婚してください。」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

 <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/3.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「家は積水ハイムの3階建てで考えています。僕と結婚してください。」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/4.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「あなたと150歳まで生きたいです。一緒にギネス載りましょう。僕と結婚してください。」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/5.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「おばあちゃんになったあなたも愛したいです。僕と結婚してください。」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/6.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「あなたの白髪染めは僕にやらしてください。僕と結婚してください。」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/7.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「あなたの介護は僕にやらせてください。僕と結婚してください。」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>
</div>


</body>
      </html>