
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
     crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/css/humor_busaiku.css?2224">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat" >
    <title>Title</title>
</head>
<body>

<div class="container">

<nav>
  <a href="humor_summary">Humor</a>
  <a href="humor_summary">Top Page</a>
  <a href="life_summary">Life</a>
  <a href="trivia_summary">Trivia</a>
  <a href="diary_summary">Diary</a>
  <div class="animation start-home"></div>
</nav>


 <div class="main-img">
            <img src="{% static 'media_local/Image.jpg'%}"width="100%">
    　　　　<h1>ブスと言われたときのユーモアな返し7選</h1>
　　　　　　　<p>Hello</p>
        </div>


<p>皆さんこんちには、murachanです。<br>今回は、不細工と言われた時のユーモアな返し方をまとめてみました
    面白い切り返しをしたい方は、ぜひ参考にして下さい。</p>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/1.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">No.1</h2>
            <p class="card-description">うるせえ。縄文時代やとモテてるわ。生まれてくるのが遅すぎただけ</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/2.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">No.2</h2>
            <p class="card-description">生まれてくる国を間違えただけ。コンゴ共和国やと多分モテてる</p>
        </div>
    </div>
</a>

 <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/3.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">No.3</h2>
            <p class="card-description">なりふり構わず生きてきた結果、この顔にたどり着いた</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/4.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">No.4</h2>
            <p class="card-description">0歳の時はかっこよかったんやけどな</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/5.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">No.5</h2>
            <p class="card-description">60歳になったらいい感じに味が出てくると信じてる</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/6.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">No.6</h2>
            <p class="card-description">世間のブサイクのハードルが引きすぎるだけや</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/7.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">No.7</h2>
            <p class="card-description">顔交換する？嫉妬？</p>
        </div>
    </div>
</a>
</div>


</body>
      </html>