<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/humor_ladytalk.css?v=9">
    <title>女性と話す時のネタ20選</title>
</head>


<body>

<article>
<h1>ブスと言われたときのユーモアな返し7選</h1>
<p>皆さんこんちには、murachanです。</p>

<p>今回は、ブスと言われた時のユーモアある返しをまとめてみました。ユーモアさには自信がある
murachanが考えた返しを参考にしてください。
<br>※結果は自己責任です</p>
    <ol>
        <li>「うるせえ。縄文時代やとモテてるわ。生まれてくるのが遅すぎただけ」</li>
        <li>「生まれてくる国を間違えただけ。コンゴ共和国やと多分モテてるわ。」</li>
        <li>「なりふり構わず生きてきた結果、この顔にたどり着いた。」</li>
        <li>「0歳の時はかっこよかったんやけどな」</li>
        <li>「60歳になったらいい感じに味が出てくると信じてる。」</li>
        <li>「世間のブサイクのハードルが引きすぎるだけや。」</li>
        <li>「顔交換する？嫉妬？」</li>
    </ol>

<div class="footer01">

  <p class="copyright">
    &copy; My Site
  </p>
</div>
    </article>
</body>



</html>