<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    　<title>ユーモアな館</title>
    <link rel="stylesheet" href="/static/css/humor_master.css?v=20">

</head>

<body>

<!--▽▽ヘッダー▽▽-->
<header class="header">

    <!--▽▽ヘッダーロゴ▽▽-->
    <div class="logo">
        <a href="{% url 'blog:index' %}">ユーモアな館</a>
    </div>
    <!--△△ヘッダーロゴ△△-->

    <!--▽▽ヘッダーリスト▽▽-->
    <nav>
        <ul>
            <li><a href="humor_summary1">ユーモア語録</a></li>
            <li><a href="life_summary1">ユーモア小道具</a></li>
            <li><a href="trivia_summary1">ユーモア豆知識</a></li>
            <li><a href="fashion_summary1">ユーモア身嗜み</a></li>
        </ul>
    </nav>
    <!--△△ヘッダーリスト△△-->

</header>

<!--ルートディレクトリ-->
<div class="root">
    <div class="rootp">
        <a href="{% url 'blog:index' %}">Home<</a><a href="humor_summary6">ユーモア語録<</a><div class="roota">
        <a href="humor_salary14">こいつ仕事出来るなのビジネス用語選手権④</a></div>
    </div>
    </div>

<!--メイン画像-->

<div class="globalNavigation">
    <div class="main-img">
        <img src="{% static 'media_local/disc.jpg'%}">
        <p>こいつ仕事出来るなの<br><br>
            ビジネス用語選手権④。<br><br>の巻</p>
    </div>
</div>


<!--△△記事△△-->
<main>

    <div class="content">

 <div class="balloon5">
        <div class="faceicon">
            <img src="{% static 'media_local/cat.jpg'%}">
        </div>
        <div class="chatting">
            <div class="says">
                <p>皆さんこんちには、murachanです。こいつ仕事出来るなと思われるビジネス用語選手権をまとめました。
言うことは一丁前なmurachanが考えた回答を参考にしてください。</p>
    </div>
        </div>
    </div>


<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/1.png'%}">
        <div class="card-box">
            <h2 class="card-title">「プロアクティブを心掛けます。(事前に計画し行動することを指し、問題解決や機会の創出に重点を置く態度やアプローチ）」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/2.png'%}">
        <div class="card-box">
            <h2 class="card-title">「リターゲティングを用いる(ウェブサイトや広告などで、特定の行動をしたユーザーに対して再度広告を表示すること）」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

 <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/3.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「プレゼンテーションを始めさせていただきます。(情報やアイデアを効果的に伝えるために行われる形式化された演習やスピーチ）」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/4.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「クロージングに時間が掛かりそうです。(商談や取引を最終的に成立させること)」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/5.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「アジャイルを用いる、(変化に柔軟に対応し、迅速な意思決定や適応を重視するプロジェクト管理や開発手法のこと学）」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

            <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/6.png'%}">
        <div class="card-box">
            <h2 class="card-title">「モチベーションをあげる（行動やパフォーマンスを促す要因や動機付けのこと）」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

              <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/7.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「マルチチャネルを駆使する(複数の異なる販売チャネルやコミュニケーション手段を活用すること）」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

            <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/8.png'%}">
        <div class="card-box">
            <h2 class="card-title">「プロクラストスのベッドは好きではないです。（あるアイデアや概念に対して強制的に合わせようとすることで、柔軟性や創造性を制限すること）」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

            <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/9.png'%}">
        <div class="card-box">
            <h2 class="card-title">「ブルーオーシャン戦略が大事です(競争の激しい既存の市場ではなく、新たな市場や需要の創造に焦点を当てる戦略）」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>



             <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/10.png'%}">
        <div class="card-box">
            <h2 class="card-title">「フリーランスを目指します。(自営業者や独立したプロフェッショナルとして、企業やクライアントと契約関係を結びながら仕事をすること）」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>


             <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/11.png'%}">
        <div class="card-box">
            <h2 class="card-title">「パイロットテストの結果です(新しい製品やサービスを限られた範囲で試験的に導入し、結果を評価）」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>
    </div>


    <!--△△右側サイドバー△△-->
    <div class="ad">

        <!--自己紹介-->


        <!--人気記事-->
        <div class="sidebar">
            <h2>人気記事</h2>
            <div class="popular-articles">
                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/nosehair.png'%}" alt=""></div>
                     <div class="text">
                         <a href="humor_nosehair">鼻毛が出ている人に対するユーモアな指摘</a>
                     </div>
                </div>

                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/hobby.png'%}" alt=""></div>
                     <div class="text">
                         <a href="humor_hobby">趣味を聞かれた時のユーモア溢れる回答</a>
                     </div>
                </div>

                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/cinema.jpg'%}" alt=""></div>
                     <div class="text">
                         <a href="humor_cinema">好きな映画聞かれた時の返しがユーモア溢れる回答選手権</a>
                     </div>
                </div>

                <!-- 追加の人気記事をここに追加 -->
            </div>
        </div>


        <!--タグ-->
        <div class="tag">
            <h2>タグ一覧</h2>
            <a href="#">お仕事</a>
            <a href="#">お酒</a>
            <a href="#">お笑い</a>
            <a href="#">お友達</a>
            <a href="#">お金</a>
            <a href="#">モテモテ</a>
            <a href="#">身嗜み</a>
            <a href="#">心の健康</a>
            <a href="#">定石</a>
        </div>


    </div>
</main>




<footer class="footer">
    <p class="copyright">ユーモア溢れる世界を作りたい　byむらちゃん</p>

</footer>

</body>