<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/humor_ladytalk.css?v=9">
    <title>女性と話す時のネタ20選</title>
</head>


<body>

<article>
<h1>女性と話す時のネタ20選</h1>
<p>皆さんこんちには、murachanです。</p>

<p>今回は、女性と話すときに沈黙を避けたい男性へ「女性との話のネタ集」をまとめましたので
参考にしてください。<br>※ただ、質問攻めは嫌われるのでお気を付けください。</p>
    <ol>
        <li>血液型は何型ですか？<br>
             →性格の話に繋げる</li>
        <li>好きな食べ物TOP3は何ですか？<br>
             →可能な限り共感すること</li>
        <li>兄弟がいますか？<br>
             →しっかり者、甘えんぼなどの話に繋げる</li>
        <li>趣味は何ですか？<br>
            </li>
        <li>何の仕事してるんですか？<br>
             →職業当てゲームに繋げるも良し</li>
        <li>何かスポーツされてるんですか？<br>
             →部活当てゲームに繋げるも良し</li>
        <li>休日は何されてるんですか？<br>
             →性格の話に繋げる</li>
        <li>どういう人がタイプ何ですか？<br>
            </li>
        <li>何てお呼びすればいいですか？<br>
             </li>
        <li>〇色が好きなんですか？（服の色を見て）<br>
             </li>
        <li>○○さんに似てるって言われません？（○○：かわいい芸能人）<br>
            </li>
        <li>普段お酒は飲まれるんですか？（居酒屋での会話）<br>
            →飲むのであれば、「何のお酒が好きですか？」</li>
         <li>彼氏はいるんですか？<br>
            →最近別れた場合は、「振っちゃったんですか？」に繋げる</li>
         <li>出身は何処ですか？（イントネーションに癖があれば）<br>
            </li>
         <li>カラオケとか行くんですか？（自分が歌に自信があれば）<br>
            →「誰の曲歌うんですか？」に繋げる</li>
         <li>Mですか？Sですか？（下ネタの話になれば）<br>
            </li>
         <li>甘えたいか、甘えられたいかどちらですか？（仲が深まれば）<br>
            →飲むのであれば、「何のお酒が好きですか？」</li>
        <li>甘えたいか、甘えられたいかどちらですか？（仲が深まれば）<br>
            </li>
        <li>何かスマホゲームやってますか？（お勧めのスマホゲームを知っていれば）<br>
            </li>
        <li>アニメ観ますか？（お勧めのアニメを知っていれば）<br>
            →飲むのであれば、「何のお酒が好きですか？」</li>
        <li>漫画読みますか？（お勧めの漫画を知っていれば）<br>
            </li>
    </ol>

<div class="footer01">

  <p class="copyright">
    &copy; My Site
  </p>
</div>
    </article>
</body>



</html>