<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/humor_party.css?v=9">
    <title>女性と話す時のネタ20選</title>
</head>


<body>

<article>
<h1>合コンで面白い人になれるボケ10選</h1>
<p>皆さんこんちには、murachanです。</p>

<p>今回は、合コンで面白い人になれるボケ集をまとめました。
参考にしてください。</p>
    <ol>
        <li>何の部活をやっていたかを当てる場面<br>
             →マイナーなスポーツを言う。<br>
            例：茶道部、クリケット部、ラクロス部、水球部など
        </li>
        <li>女性の名前を当てる場面<br>
             →マイナーなスポーツを言う。<br>
            例：エリザベス、たけし、らっきょ、足の裏さん、爪垢さん<br>
            ※あまり失礼がないように気を付ける。
        </li>
        <li>好きな異性のタイプを当てる場面<br>
             →面白おかしいタイプを言う<br>
            例：毛深い人、笑った時に鼻毛出てる人、ぬいぐるみと一緒に寝てる人、耳くそはみ出てる人
        </li>
        <li>④乾杯の挨拶<br>
             「かんぱーいだっちゃ」語尾にだっちゃをつける。<br>
            だっちゃが何か聞かれた場合は、最近アラレちゃんの見過ぎが原因と伝える。
        </li>
        <li>⑤出身地を聞かれた場合<br>
             →マイナーな国名を言う（実際に存在しない国名でも可）<br>
            例：パプアニューギニア、ポパイ共和国、コリン星
        </li>
        <li>次のお酒を何飲むか聞かれた場合。<br>
             →白湯（さゆ）ください。<br>
            →母乳（だいぶ打ち解けている場合に限る）
        </li>
        <li>何かつまみ頼むか聞かれた場合。<br>
             →安い駄菓子を答える。<br>
            例：うまい棒、たらたらしてんじゃねーよ、グッピーラムネ
        </li>
    </ol>

<div class="footer01">

  <p class="copyright">
    &copy; My Site
  </p>
</div>
    </article>
</body>



</html>