<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/humor_boss.css?22238">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <link rel="icon" type="image/ico" href="{% static 'media_local/favicon.ico'%}">
    <title>嫌いな後輩とのユーモアな接し方</title>
</head>
<body>

<div class="container">

    <nav>
        <a href="{% url 'blog:index' %}">表紙</a>
        <a href="humor_summary">ユーモア語録</a>
        <a href="life_summary">ユーモア小道具</a>
        <a href="trivia_summary">ユーモア豆知識</a>
        <a href="fashion_summary">ユーモア身嗜み</a>
        <div class="animation start-home"></div>
    </nav>


    <div class="main-img">
        <img src="{% static 'media_local/Image.jpg'%}" width="100%">
        　　　　<h1>嫌いな後輩とのユーモアな接し方</h1>
        　　　　　　　<p>Hello</p>
    </div>

<!--吹き出しはじまり-->
<div class="balloon5">
  <div class="faceicon">
    <img src="{% static 'media_local/cat.jpg'%}">
  </div>
  <div class="chatting">
    <div class="says">
      <p>皆さんこんちには、murachanです。嫌いな後輩とのユーモアな接し方をまとめました。
ユーモアさには定評があるmurachanが考えた言葉を参考にしてください。</p>
    </div>
  </div>
</div>
<!--吹き出し終わり-->


    <div class="flex">
        <div class="pr-area">
        <p class="sample_h_4">嫌いな後輩とのユーモアな接し方</p>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/1.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">コミュニケーションを重視する: まずはお互いの意見や感情をしっかりと伝えることが重要です。コミュニケーションを通じてお互いの理解を深め、問題解決や嫌悪感の軽減につなげましょう。</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/2.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">公平かつ一貫した態度を保つ: 嫌いな後輩に対しても公平な態度を持つことが大切です。特定の人に対して偏見を持ったり、不当な扱いをすることは避けましょう。また、一貫性を持ってルールや規則を適用することも重要です。</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

 <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/3.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">目標を共有する: 共通の目標やプロジェクトに向かって協力することで、チームとしての結束を高めることができます。お互いの役割や責任を明確にし、目標達成に向けて協力しましょう。</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/4.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">プライベートな話題を探る: 仕事以外のプライベートな話題について探りを入れることで、共通の趣味や興味を見つけるチャンスが生まれます。お互いに興味を持つ話題を見つけ、関係性を深めることができます。</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/5.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">アイスブレイク活動: 嫌いな後輩との関係改善のために、アイスブレイク活動を取り入れてみましょう。お互いに興味や趣味、好きな食べ物などについて話し合ったり、チームビルディング活動を行ったりすることで、関係性を築くきっかけを作ることができます。</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

            <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/6.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">共同プロジェクトのリーダーシップ: 嫌いな後輩と共同でプロジェクトに取り組む際には、リーダーシップを発揮してみましょう。明確な指示や目標設定、励ましやサポートを通じて、後輩の成長を促し、信頼関係を築くことができます。</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

              <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/7.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">お互いの強みを活かす: 嫌いな後輩でも、必ず何らかの強みや得意な分野があります。お互いの強みを認め合い、役割分担をすることで、お互いが成果を上げやすくなります。強みを活かすことで、後輩の存在を評価し、関係改善につながることがあります。</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

            <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/8.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">ポジティブなフィードバックを与える: 嫌いな後輩に対しても、彼らの成果や良い行動に対しては適切なフィードバックを与えましょう。彼らの自信を高めることで、自己評価を見直し、行動や態度の改善を促すことができます。</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

            <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/9.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">彼らの意見やアイデアに対してオープンマインドで接する: 嫌いな後輩が自分の意見やアイデアを提案した場合、オープンマインドで受け入れ、真剣に考慮する姿勢を持ちましょう。彼らに対して価値があると感じることで、自己評価を見直し、協力的な態度を示すことができます。</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>       <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/10.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">メンターとしてのサポートを提供する: 嫌いな後輩に対して、メンターとしてサポートを提供することも効果的です。彼らの成長や学びの機会を提供し、自己成長につながる指導やアドバイスを行いましょう。</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>


             <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/11.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">明確なルールや期待を伝える: 嫌いな後輩に対しては、明確なルールや期待を伝えることが重要です。彼らに対してどのような態度や行動が望ましいのかを明確に示し、適切な行動を促すことができます。</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<!--広告　-->
            <script async
                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
                    crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-format="autorelaxed"
                 data-ad-client="ca-pub-7095790727260609"
                 data-ad-slot="2203879905"></ins>
            <script>
     (adsbygoogle = window.adsbygoogle || []).push({});

            </script>
　　　　　　　 <!--広告　-->

        </div>


        <div class="sidebar">
            <div class="box71">
                <div class="box-title">🌀ユーモアな商材🌀</div>

          <a href="https://px.a8.net/svt/ejp?a8mat=3T47QX+247I7M+1B26+IGV6P" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www20.a8.net/svt/bgt?aid=230304057128&wid=001&eno=01&mid=s00000006099003102000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3T47QX+247I7M+1B26+IGV6P" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+9GJYSY+HCG+6C9LD" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www23.a8.net/svt/bgt?aid=230304058572&wid=001&eno=01&mid=s00000002248001065000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3T47QY+9GJYSY+HCG+6C9LD" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T8XVM+B0IPO2+22QA+HZAGX" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www29.a8.net/svt/bgt?aid=230524546666&wid=001&eno=01&mid=s00000009685003020000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3T8XVM+B0IPO2+22QA+HZAGX" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QX+33XIIA+50SM+5ZU29" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www23.a8.net/svt/bgt?aid=230304057188&wid=001&eno=01&mid=s00000023431001007000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3T47QX+33XIIA+50SM+5ZU29" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+9UUDBM+1T5K+15OZHT" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www26.a8.net/svt/bgt?aid=230304058596&wid=001&eno=01&mid=s00000008444007003000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3T47QY+9UUDBM+1T5K+15OZHT" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+A5K67M+42O+C6BBL" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www23.a8.net/svt/bgt?aid=230304058614&wid=001&eno=01&mid=s00000000528002045000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3T47QY+A5K67M+42O+C6BBL" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+9MIAUQ+1KZ4+67C4H" rel="nofollow">
<img border="0" width="236" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230304058582&wid=001&eno=01&mid=s00000007384001042000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3T47QY+9MIAUQ+1KZ4+67C4H" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+A9Q7G2+3QG0+601S1" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www28.a8.net/svt/bgt?aid=230304058621&wid=001&eno=01&mid=s00000017424001008000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3T47QY+A9Q7G2+3QG0+601S1" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+9HQU0I+2M6+TWLPT" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www21.a8.net/svt/bgt?aid=230304058574&wid=001&eno=01&mid=s00000000339005023000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=3T47QY+9HQU0I+2M6+TWLPT" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+9TNI42+JCY+C6QR5" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www27.a8.net/svt/bgt?aid=230304058594&wid=001&eno=01&mid=s00000002509002047000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T47QY+9TNI42+JCY+C6QR5" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+A94RUA+46ZK+60WN5" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230304058620&wid=001&eno=01&mid=s00000019568001012000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T47QY+A94RUA+46ZK+60WN5" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T8XVM+BIZ5F6+32P0+61RI9" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230524546697&wid=001&eno=01&mid=s00000014346001016000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3T8XVM+BIZ5F6+32P0+61RI9" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6BPQ+FKUCMQ+3VV0+61Z81" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www27.a8.net/svt/bgt?aid=230402510942&wid=001&eno=01&mid=s00000018126001017000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T6BPQ+FKUCMQ+3VV0+61Z81" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T8XVM+ATYY0I+1PJA+2BETUP" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230524546655&wid=001&eno=01&mid=s00000007975014010000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T8XVM+ATYY0I+1PJA+2BETUP" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T8XVM+AVR8TU+4HHW+61JSH" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www28.a8.net/svt/bgt?aid=230524546658&wid=001&eno=01&mid=s00000020930001015000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3T8XVM+AVR8TU+4HHW+61JSH" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T8XVM+BGLF02+17R0+5Z6WX" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www20.a8.net/svt/bgt?aid=230524546693&wid=001&eno=01&mid=s00000005670001004000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3T8XVM+BGLF02+17R0+5Z6WX" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+941V3M+32P0+HWI5T" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230409643551&wid=001&eno=01&mid=s00000014346003007000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=3T6H7V+941V3M+32P0+HWI5T" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+9QOC36+38GS+61JSH" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230304058589&wid=001&eno=01&mid=s00000015094001015000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3T47QY+9QOC36+38GS+61JSH" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+9X83QQ+2RIS+5ZU29" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www28.a8.net/svt/bgt?aid=230304058600&wid=001&eno=01&mid=s00000012898001007000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3T47QY+9X83QQ+2RIS+5ZU29" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T8XVM+C8KSFM+3N2M+6T75T" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230524546740&wid=001&eno=01&mid=s00000016987001144000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3T8XVM+C8KSFM+3N2M+6T75T" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+9IXP82+1J1E+5YRHD" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230304058576&wid=001&eno=01&mid=s00000007133001002000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T47QY+9IXP82+1J1E+5YRHD" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+9RV7AQ+FOG+3HBQU9" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www21.a8.net/svt/bgt?aid=230304058591&wid=001&eno=01&mid=s00000002032021050000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3T47QY+9RV7AQ+FOG+3HBQU9" alt="">
                


            </div>


            <div class="box71">
                <div class="box-title">🌀人気記事Top3🌀</div>
                　　　　　　　　　　
                <div class="div_design006">
                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/busaiku.jpg'%}">
                        <a href="humor_busaiku">ブスと言われたときのユーモアな返し7選</a>
                    </div>

                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/ikemen.jpg'%}">
                        <a href="humor_smart">モテる男の条件7選</a>
                    </div>

                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/nickname.jpg'%}">
                        <a href="humor_nickname">ユーモアなあだな11選</a>
                    </div>
                </div>

            </div>

            <!--
            <div class="box72">
                <div class="box-title">🌀カテゴリ一覧🌀</div>
                <a href="" class="btn_04">名言</a>
                <a href="" class="btn_04">お金</a>
                <a href="" class="btn_04">お金</a>
                <a href="" class="btn_04">aaaaaaaaa</a>
                <a href="" class="btn_04">お金</a>
                <a href="" class="btn_04">お金</a>
            </div> -->

        </div>


    </div>
    <footer class="footer">

        <p>ユーモアな館</p>
        <ul class="md-flex">
            <li><a href="{% url 'blog:index' %}">表紙</a></li>
            <li><a href="humor_summary">ユーモア語録</a></li>
            <li><a href="life_summary">ユーモア小道具</a></li>
            <li><a href="trivia_summary">ユーモア豆知識</a></li>
            <li><a href="diary_summary">ユーモア日記</a></li>
        </ul>
    </footer>

</div>
</body>
</html>