<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/humor_friends.css?22238">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <link rel="icon" type="image/ico" href="{% static 'media_local/favicon.ico'%}">
    <title>親と仲直りしたい時のユーモアな接し方</title>
</head>
<body>

<div class="container">

    <nav>
        <a href="{% url 'blog:index' %}">表紙</a>
        <a href="humor_summary">ユーモア語録</a>
        <a href="life_summary">ユーモア小道具</a>
        <a href="trivia_summary">ユーモア豆知識</a>
        <a href="fashion_summary">ユーモア身嗜み</a>
        <div class="animation start-home"></div>
    </nav>


    <div class="main-img">
        <img src="{% static 'media_local/Image.jpg'%}" width="100%">
        　　　　<h1>親と仲直りしたい時のユーモアな接し方</h1>
        　　　　　　　<p>Hello</p>
    </div>

<!--吹き出しはじまり-->
<div class="balloon5">
  <div class="faceicon">
    <img src="{% static 'media_local/cat.jpg'%}">
  </div>
  <div class="chatting">
    <div class="says">
      <p>皆さんこんちには、murachanです。親と仲直りしたい時のユーモアな接し方をまとめました。
ユーモアさには定評があるmurachanが考えた言葉を参考にしてください。</p>
    </div>
  </div>
</div>
<!--吹き出し終わり-->


    <div class="flex">
        <div class="pr-area">
        <p class="sample_h_4">親と仲直りしたい時のユーモアな接し方</p>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/1.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">オープンなコミュニケーションを心掛ける: 相手の気持ちや意見を尊重し、自分の感情や思いを素直に伝えることが重要です。冷静に話し合い、相互理解を深めるために必要な情報を共有しましょう。</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/2.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">謝罪と許しを示す: もし自分が過ちを犯した場合、素直に謝罪しましょう。また、相手からの謝罪を受け入れる姿勢も大切です。互いに過去の出来事を水に流し、新たなスタートを切ることが目標となります。</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

 <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/3.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">共感を示す: 相手の立場や感情に共感し、理解することで関係を修復する一歩となります。相手が抱える問題や悩みに対して関心を示し、支えることで絆を深めることができます。</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/4.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">時間をかけて関係を修復する: 仲直りは一瞬で解決するものではありません。関係の修復には時間がかかる場合もあります。辛抱強く、相手との信頼を取り戻すための努力を続けましょう。</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/5.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">専門家の助けを求める: もし関係修復が難しい場合や深刻な問題がある場合は、家族セラピストやカウンセラーの助けを借りることも考慮してください。専門家は中立的な立場から支援を提供し、円満な関係を築くためのアドバイスをしてくれます。</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

            <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/6.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">経験を共有する: 親との関係を強化するために、自分の経験や思い出を積極的に共有しましょう。過去の出来事や成長の過程について話すことで、相互理解が深まることがあります。</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

              <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/7.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">感謝の気持ちを示す: 親に対して感謝の気持ちを示すことも大切です。感謝の言葉や手紙、小さな贈り物などを通じて、親への感謝の気持ちを表現しましょう。</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

            <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/8.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">自己成長に取り組む: 自分自身の成長に努めることで、親との関係にポジティブな変化をもたらすことがあります。自己啓発や心理的な成長に取り組むことで、より成熟した関係を築くことができます。</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

            <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/9.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">第三者の助けを借りる: 仲裁役や共通の信頼できる友人や親戚に相談し、関係修復のためのサポートを受けることも有効です。中立的な立場からのアドバイスや調停が行われることで、対話が円滑に進む場合があります。</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>       <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/10.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">感情を抑えて冷静に対応する: 紛争や喧嘩が起きた場合、感情的にならず冷静な対応を心掛けましょう。相手との対話を穏やかに行い、問題解決に集中することが重要です。</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>


             <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/11.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">親の立場や苦労に理解を示す: 親が抱える責任やストレスに対して理解を示しましょう。親の立場や苦労を考慮することで、より共感的な関係を築くことができます。</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<!--広告　-->
            <script async
                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
                    crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-format="autorelaxed"
                 data-ad-client="ca-pub-7095790727260609"
                 data-ad-slot="2203879905"></ins>
            <script>
     (adsbygoogle = window.adsbygoogle || []).push({});

            </script>
　　　　　　　 <!--広告　-->

        </div>


        <div class="sidebar">
            <div class="box71">
                <div class="box-title">🌀ユーモアな商材🌀</div>

          <a href="https://px.a8.net/svt/ejp?a8mat=3T47QX+247I7M+1B26+IGV6P" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www20.a8.net/svt/bgt?aid=230304057128&wid=001&eno=01&mid=s00000006099003102000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3T47QX+247I7M+1B26+IGV6P" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+9GJYSY+HCG+6C9LD" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www23.a8.net/svt/bgt?aid=230304058572&wid=001&eno=01&mid=s00000002248001065000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3T47QY+9GJYSY+HCG+6C9LD" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T8XVM+B0IPO2+22QA+HZAGX" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www29.a8.net/svt/bgt?aid=230524546666&wid=001&eno=01&mid=s00000009685003020000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3T8XVM+B0IPO2+22QA+HZAGX" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QX+33XIIA+50SM+5ZU29" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www23.a8.net/svt/bgt?aid=230304057188&wid=001&eno=01&mid=s00000023431001007000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3T47QX+33XIIA+50SM+5ZU29" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+9UUDBM+1T5K+15OZHT" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www26.a8.net/svt/bgt?aid=230304058596&wid=001&eno=01&mid=s00000008444007003000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3T47QY+9UUDBM+1T5K+15OZHT" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+A5K67M+42O+C6BBL" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www23.a8.net/svt/bgt?aid=230304058614&wid=001&eno=01&mid=s00000000528002045000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3T47QY+A5K67M+42O+C6BBL" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+9MIAUQ+1KZ4+67C4H" rel="nofollow">
<img border="0" width="236" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230304058582&wid=001&eno=01&mid=s00000007384001042000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3T47QY+9MIAUQ+1KZ4+67C4H" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+A9Q7G2+3QG0+601S1" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www28.a8.net/svt/bgt?aid=230304058621&wid=001&eno=01&mid=s00000017424001008000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3T47QY+A9Q7G2+3QG0+601S1" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+9HQU0I+2M6+TWLPT" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www21.a8.net/svt/bgt?aid=230304058574&wid=001&eno=01&mid=s00000000339005023000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=3T47QY+9HQU0I+2M6+TWLPT" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+9TNI42+JCY+C6QR5" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www27.a8.net/svt/bgt?aid=230304058594&wid=001&eno=01&mid=s00000002509002047000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T47QY+9TNI42+JCY+C6QR5" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+A94RUA+46ZK+60WN5" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230304058620&wid=001&eno=01&mid=s00000019568001012000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T47QY+A94RUA+46ZK+60WN5" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T8XVM+BIZ5F6+32P0+61RI9" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230524546697&wid=001&eno=01&mid=s00000014346001016000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3T8XVM+BIZ5F6+32P0+61RI9" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6BPQ+FKUCMQ+3VV0+61Z81" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www27.a8.net/svt/bgt?aid=230402510942&wid=001&eno=01&mid=s00000018126001017000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T6BPQ+FKUCMQ+3VV0+61Z81" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T8XVM+ATYY0I+1PJA+2BETUP" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230524546655&wid=001&eno=01&mid=s00000007975014010000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T8XVM+ATYY0I+1PJA+2BETUP" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T8XVM+AVR8TU+4HHW+61JSH" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www28.a8.net/svt/bgt?aid=230524546658&wid=001&eno=01&mid=s00000020930001015000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3T8XVM+AVR8TU+4HHW+61JSH" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T8XVM+BGLF02+17R0+5Z6WX" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www20.a8.net/svt/bgt?aid=230524546693&wid=001&eno=01&mid=s00000005670001004000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3T8XVM+BGLF02+17R0+5Z6WX" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6H7V+941V3M+32P0+HWI5T" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230409643551&wid=001&eno=01&mid=s00000014346003007000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=3T6H7V+941V3M+32P0+HWI5T" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+9QOC36+38GS+61JSH" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230304058589&wid=001&eno=01&mid=s00000015094001015000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3T47QY+9QOC36+38GS+61JSH" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+9X83QQ+2RIS+5ZU29" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www28.a8.net/svt/bgt?aid=230304058600&wid=001&eno=01&mid=s00000012898001007000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3T47QY+9X83QQ+2RIS+5ZU29" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T8XVM+C8KSFM+3N2M+6T75T" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230524546740&wid=001&eno=01&mid=s00000016987001144000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3T8XVM+C8KSFM+3N2M+6T75T" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+9IXP82+1J1E+5YRHD" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230304058576&wid=001&eno=01&mid=s00000007133001002000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T47QY+9IXP82+1J1E+5YRHD" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+9RV7AQ+FOG+3HBQU9" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www21.a8.net/svt/bgt?aid=230304058591&wid=001&eno=01&mid=s00000002032021050000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3T47QY+9RV7AQ+FOG+3HBQU9" alt="">
                


            </div>


            <div class="box71">
                <div class="box-title">🌀人気記事Top3🌀</div>
                　　　　　　　　　　
                <div class="div_design006">
                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/busaiku.jpg'%}">
                        <a href="humor_busaiku">ブスと言われたときのユーモアな返し7選</a>
                    </div>

                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/ikemen.jpg'%}">
                        <a href="humor_smart">モテる男の条件7選</a>
                    </div>

                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/nickname.jpg'%}">
                        <a href="humor_nickname">ユーモアなあだな11選</a>
                    </div>
                </div>

            </div>

            <!--
            <div class="box72">
                <div class="box-title">🌀カテゴリ一覧🌀</div>
                <a href="" class="btn_04">名言</a>
                <a href="" class="btn_04">お金</a>
                <a href="" class="btn_04">お金</a>
                <a href="" class="btn_04">aaaaaaaaa</a>
                <a href="" class="btn_04">お金</a>
                <a href="" class="btn_04">お金</a>
            </div> -->

        </div>


    </div>
    <footer class="footer">

        <p>ユーモアな館</p>
        <ul class="md-flex">
            <li><a href="{% url 'blog:index' %}">表紙</a></li>
            <li><a href="humor_summary">ユーモア語録</a></li>
            <li><a href="life_summary">ユーモア小道具</a></li>
            <li><a href="trivia_summary">ユーモア豆知識</a></li>
            <li><a href="diary_summary">ユーモア日記</a></li>
        </ul>
    </footer>

</div>
</body>
</html>