<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/humor_badbreath.css?22238">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <link rel="icon" type="image/ico" href="{% static 'media_local/favicon.ico'%}">
    <title>口臭が臭い人に対するユーモアな指摘</title>
</head>
<body>

<div class="container">

    <nav>
        <a href="{% url 'blog:index' %}">表紙</a>
        <a href="humor_summary">ユーモア語録</a>
        <a href="life_summary">ユーモア小道具</a>
        <a href="trivia_summary">ユーモア豆知識</a>
        <a href="fashion_summary">ユーモア身嗜み</a>
        <div class="animation start-home"></div>
    </nav>


    <div class="main-img">
        <img src="{% static 'media_local/Image.jpg'%}" width="100%">
        　　　　<h1>口臭が臭い人に対するユーモアな指摘</h1>
        　　　　　　　<p>Hello</p>
    </div>

<!--吹き出しはじまり-->
<div class="balloon5">
  <div class="faceicon">
    <img src="{% static 'media_local/cat.jpg'%}">
  </div>
  <div class="chatting">
    <div class="says">
      <p>皆さんこんちには、murachanです。口臭が臭い人に対するユーモアな指摘をまとめました。
指摘された回数は数知れずmurachanが考えた言葉を参考にしてください。</p>
    </div>
  </div>
</div>
<!--吹き出し終わり-->


    <div class="flex">
        <div class="pr-area">
        <p class="sample_h_4">口臭が臭い人に対するユーモアな指摘</p>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/1.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「口の中からサバンナのような匂いするけど」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/2.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「アウシュヴィッツの毒ガスかて」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

 <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/3.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「口の中からすごい生命力を感じる」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/4.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「新種の化学兵器かて」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/5.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「名探偵コナンでも解決出来ん匂いやな」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

            <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/5.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「うんこ食べた？」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

              <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/5.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「喉奥に匂い玉100個溜まってない？」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

            <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/5.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「懐かしいな、おばあちゃんを思い出させるな」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

            <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/5.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「冒険の匂いがするな」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>



             <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/5.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「今日のラッキアイテムは口臭やった？」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>


             <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/5.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「口臭という武装するなよ」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<!--広告　-->
            <script async
                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
                    crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-format="autorelaxed"
                 data-ad-client="ca-pub-7095790727260609"
                 data-ad-slot="2203879905"></ins>
            <script>
     (adsbygoogle = window.adsbygoogle || []).push({});

            </script>
　　　　　　　 <!--広告　-->

        </div>


        <div class="sidebar">
            <div class="box71">
                <div class="box-title">🌀ユーモアな商材🌀</div>


                <a href="https://px.a8.net/svt/ejp?a8mat=3T8UQ4+5I9D82+3G8S+C03K1" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www21.a8.net/svt/bgt?aid=230520460333&wid=001&eno=01&mid=s00000016102002016000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3T8UQ4+5I9D82+3G8S+C03K1" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T8UQ4+59XAR6+3NZO+5ZU29" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www27.a8.net/svt/bgt?aid=230520460319&wid=001&eno=01&mid=s00000017106001007000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3T8UQ4+59XAR6+3NZO+5ZU29" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T8UQ4+50ZSOI+4KVA+NYHDT" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www26.a8.net/svt/bgt?aid=230520460304&wid=001&eno=01&mid=s00000021367004024000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=3T8UQ4+50ZSOI+4KVA+NYHDT" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T8UQ4+5FA776+2TZO+1HMIGH" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www22.a8.net/svt/bgt?aid=230520460328&wid=001&eno=01&mid=s00000013218009007000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3T8UQ4+5FA776+2TZO+1HMIGH" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T8UQ4+5EORLE+2TZO+15Q9SH" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230520460327&wid=001&eno=01&mid=s00000013218007009000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3T8UQ4+5EORLE+2TZO+15Q9SH" alt="">


<a href="https://px.a8.net/svt/ejp?a8mat=3T8UQ4+56CP4I+4KVA+60H7L" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www22.a8.net/svt/bgt?aid=230520460313&wid=001&eno=01&mid=s00000021367001010000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3T8UQ4+56CP4I+4KVA+60H7L" alt="">


<a href="https://px.a8.net/svt/ejp?a8mat=3T8UQ4+5H2I0I+549C+601S1" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www26.a8.net/svt/bgt?aid=230520460331&wid=001&eno=01&mid=s00000023880001008000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3T8UQ4+5H2I0I+549C+601S1" alt="">


                <a href="https://px.a8.net/svt/ejp?a8mat=3T8UQ4+5AIQCY+32O6+TSQTT" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www28.a8.net/svt/bgt?aid=230520460320&wid=001&eno=01&mid=s00000014343005005000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3T8UQ4+5AIQCY+32O6+TSQTT" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T8UQ4+5GH2EQ+3RVY+NV9N5" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www25.a8.net/svt/bgt?aid=230520460330&wid=001&eno=01&mid=s00000017611004009000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T8UQ4+5GH2EQ+3RVY+NV9N5" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T8UQ4+52S3HU+1XKG+ZSD69" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www25.a8.net/svt/bgt?aid=230520460307&wid=001&eno=01&mid=s00000009016006011000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=3T8UQ4+52S3HU+1XKG+ZSD69" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T8UQ4+55R9IQ+55UU+609HT" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www21.a8.net/svt/bgt?aid=230520460312&wid=001&eno=01&mid=s00000024087001009000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=3T8UQ4+55R9IQ+55UU+609HT" alt="">

<a href="https://px.a8.net/svt/ejp?a8mat=3T8UQ4+4VMW8I+1SRY+60WN5" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www21.a8.net/svt/bgt?aid=230520460295&wid=001&eno=01&mid=s00000008395001012000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3T8UQ4+4VMW8I+1SRY+60WN5" alt="">

<a href="https://px.a8.net/svt/ejp?a8mat=3T8UQ4+5DHWDU+52W6+BYT9D" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www21.a8.net/svt/bgt?aid=230520460325&wid=001&eno=01&mid=s00000023703002010000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T8UQ4+5DHWDU+52W6+BYT9D" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T8UQ4+5CB16A+4P8S+5ZU29" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www23.a8.net/svt/bgt?aid=230520460323&wid=001&eno=01&mid=s00000021934001007000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3T8UQ4+5CB16A+4P8S+5ZU29" alt="">


                <a href="https://px.a8.net/svt/ejp?a8mat=3T8UQ4+54KEB6+4KVA+C03K1" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www27.a8.net/svt/bgt?aid=230520460310&wid=001&eno=01&mid=s00000021367002016000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3T8UQ4+54KEB6+4KVA+C03K1" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T8UQ4+5LTYUQ+3DWW+1BOLU9" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www20.a8.net/svt/bgt?aid=230520460339&wid=001&eno=01&mid=s00000015800008009000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T8UQ4+5LTYUQ+3DWW+1BOLU9" alt="">


                <a href="https://px.a8.net/svt/ejp?a8mat=3T8UQ4+4ZSXGY+3JSK+60OXD" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www25.a8.net/svt/bgt?aid=230520460302&wid=001&eno=01&mid=s00000016562001011000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3T8UQ4+4ZSXGY+3JSK+60OXD" alt="">


<a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+8EG836+4O2U+BYDTT" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230304058508&wid=001&eno=01&mid=s00000021783002008000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3T47QY+8EG836+4O2U+BYDTT" alt="">


                <a href="https://px.a8.net/svt/ejp?a8mat=3T8UQ4+584ZXU+2HYC+TTDZ5" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www25.a8.net/svt/bgt?aid=230520460316&wid=001&eno=01&mid=s00000011658005008000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3T8UQ4+584ZXU+2HYC+TTDZ5" alt="">


                <a href="https://px.a8.net/svt/ejp?a8mat=3T8UQ4+57JKC2+2UOE+15R4NL" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www27.a8.net/svt/bgt?aid=230520460315&wid=001&eno=01&mid=s00000013307007013000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=3T8UQ4+57JKC2+2UOE+15R4NL" alt="">

<a href="https://px.a8.net/svt/ejp?a8mat=3T8UQ4+5B45YQ+2OQI+1TKOKH" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230520460321&wid=001&eno=01&mid=s00000012537011014000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3T8UQ4+5B45YQ+2OQI+1TKOKH" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T8UQ4+555TWY+2HYC+5Z6WX" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www23.a8.net/svt/bgt?aid=230520460311&wid=001&eno=01&mid=s00000011658001004000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=3T8UQ4+555TWY+2HYC+5Z6WX" alt="">









            </div>


            <div class="box71">
                <div class="box-title">🌀人気記事Top3🌀</div>
                　　　　　　　　　　
                <div class="div_design006">
                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/busaiku.jpg'%}">
                        <a href="humor_busaiku">ブスと言われたときのユーモアな返し7選</a>
                    </div>

                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/ikemen.jpg'%}">
                        <a href="humor_smart">モテる男の条件7選</a>
                    </div>

                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/nickname.jpg'%}">
                        <a href="humor_nickname">ユーモアなあだな11選</a>
                    </div>
                </div>

            </div>

            <!--
            <div class="box72">
                <div class="box-title">🌀カテゴリ一覧🌀</div>
                <a href="" class="btn_04">名言</a>
                <a href="" class="btn_04">お金</a>
                <a href="" class="btn_04">お金</a>
                <a href="" class="btn_04">aaaaaaaaa</a>
                <a href="" class="btn_04">お金</a>
                <a href="" class="btn_04">お金</a>
            </div> -->

        </div>


    </div>
    <footer class="footer">

        <p>ユーモアな館</p>
        <ul class="md-flex">
            <li><a href="{% url 'blog:index' %}">表紙</a></li>
            <li><a href="humor_summary">ユーモア語録</a></li>
            <li><a href="life_summary">ユーモア小道具</a></li>
            <li><a href="trivia_summary">ユーモア豆知識</a></li>
            <li><a href="diary_summary">ユーモア日記</a></li>
        </ul>
    </footer>

</div>
</body>
</html>