
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
     crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/css/humor_macchan.css?2224">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat" >
    <title>私が選ぶ松本人志の名言集</title>
</head>
<body>

<div class="container">

<nav>
  <a href="humor_summary">Humor</a>
  <a href="humor_summary">Top Page</a>
  <a href="life_summary">Life</a>
  <a href="trivia_summary">Trivia</a>
  <a href="diary_summary">Diary</a>
  <div class="animation start-home"></div>
</nav>


 <div class="main-img">
            <img src="{% static 'media_local/Image.jpg'%}"width="100%">
    　　　　<h1>私が選ぶ松本人志の名言集</h1>
　　　　　　　<p>Hello</p>
        </div>






<p>皆さんこんちには、murachanです。</p>

<p>今回は私の尊敬する松本人志の名言をまとめました。面白かっこいいのでぜひ見てください。</p>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/1.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「アホ！その子らも腹いっぱいになったら残すわ！」</h2>
            <p class="card-description"> 世の中には食べられへん子もおるんやで、残したらいけないと親から言われた際の返し。</li>
</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/2.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「モンゴルからの留学生や」</h2>
            <p class="card-description">→浜田雅功に初めて出会った際に思った言葉。</p>
        </div>
    </div>
</a>

 <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/3.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「100点は無理かもしれん。でもMAXなら出せるやろ」</h2>
            <p class="card-description">→100点＝全力じゃない</p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/4.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「笑う事だけが、人間に許された唯一の特権なんや」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/5.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「人生なんて楽しいもんやないんや。だから楽しまなあかんねん」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/6.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「未完成でも一生懸命やったら伝わるもんやなあ」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/7.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「笑いは0円で作れる」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>


<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/8.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「オチとプロポーズだけは死んでも噛むな。」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/9.jpg'%}">
        <div class="card-box">
            <h2 class="card-title">「殺人鬼を殺しそうな顔やな」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

</div>

</body>
      </html>