<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/humor_ladytalk.css?v=9">
    <title>ユーモアな第二人称の呼び方8選</title>
</head>


<body>

<article>
<h1>ユーモアな第二人称の呼び方8選</h1>
<p>皆さんこんちには、murachanです。</p>

<p>ユーモアある第二人称の呼び方をまとめてみました。ユーモアさには自信がある
murachanが考えた呼び方を参考にしてください。合コンなどでお勧めです。<br>※嫌われても自己責任です</p>
    <ol>
        <li>「貴様」<br>
             例：貴様は何飲む？</li>
        <li>「おぬし」<br>
             例：おぬしは何食べたい？</li>
        <li>「小僧」<br>
             例：小僧は何が好き？</li>
        <li>「ベルサイユ」<br>
             例：ベルサイユは何のスポーツが好きなん？</li>
        <li>「上様」<br>
             例：上様は何頼まれますか？て</li>
        <li>「あんさん」<br>
             例：あんさんの名前は何て言うの？</li>
        <li>「そなた」<br>
             例：そなたは何処出身？</li>
        <li>「そのほう」<br>
             例：そのほうは何て申すのだ？</li>

    </ol>

<div class="footer01">

  <p class="copyright">
    &copy; My Site
  </p>
</div>
    </article>
</body>



</html>