<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    　<title>別れる時のユーモア溢れる理由</title>
    <link rel="stylesheet" href="/static/css/humor_master.css?v=22">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
     crossorigin="anonymous"></script>
<meta name="google-site-verification" content="0VtXnJ27yzGz0CEiPOL2d8_mVlvpZCxg6tq3uoYw35Y" />
</head>

<body>

<!--▽▽ヘッダー▽▽-->
<header class="header">

    <!--▽▽ヘッダーロゴ▽▽-->
    <div class="logo">
        <a href="{% url 'blog:index' %}">ユーモアな館</a>
    </div>
    <!--△△ヘッダーロゴ△△-->

    <!--▽▽ヘッダーリスト▽▽-->
    <nav>
        <ul>
            <li><a href="humor_summary1">ユーモア語録</a></li>
            <li><a href="life_summary1">ユーモア小道具</a></li>
            <li><a href="trivia_summary1">ユーモア豆知識</a></li>
            <li><a href="fashion_summary1">ユーモア身嗜み</a></li>
        </ul>
    </nav>
    <!--△△ヘッダーリスト△△-->

</header>

<!--ルートディレクトリ-->
<div class="root">
    <div class="rootp">
        <a href="{% url 'blog:index' %}">Home<</a><a href="humor_summary5">ユーモア語録⑤<</a><div class="roota">
        <a href="humor_bye1">別れる時のユーモア溢れる理由</a></div>
    </div>
    </div>

<!--メイン画像-->

<div class="globalNavigation">
    <div class="main-img">
        <img src="{% static 'media_local/disc.jpg'%}">
        <h1>別れる時の<br><br>
            ユーモア溢れる理由。<br><br>の巻</h1>
    </div>
</div>


<!--△△記事△△-->
<main>

    <div class="content">

 <div class="balloon5">
        <div class="faceicon">
            <img src="{% static 'media_local/cat.jpg'%}">
        </div>
        <div class="chatting">
            <div class="says">
                <p>皆さんこんちには、murachanです。別れる理由を聞かれた時のユーモア溢れる回答をまとめました。
聞かれたことはないですが、murachanが考えた言葉を参考にしてください。</p>
     </div>
        </div>
    </div>


<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/1-.png'%}">
        <div class="card-box">
            <h2 class="card-title">「喉奥に臭い玉溜まりすぎ」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/2-.png'%}">
        <div class="card-box">
            <h2 class="card-title">「つむじが右回りだから」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

 <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/3-.png'%}">
        <div class="card-box">
            <h2 class="card-title">「かかとガサガサすぎな件」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/4-.png'%}">
        <div class="card-box">
            <h2 class="card-title">「爪垢溜まりすぎ」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

<a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/5-.png'%}">
        <div class="card-box">
            <h2 class="card-title">「出家するから」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

            <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/6-.png'%}">
        <div class="card-box">
            <h2 class="card-title">「ユニクロを馬鹿にしたから」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

              <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/7-.png'%}">
        <div class="card-box">
            <h2 class="card-title">「お風呂でかけ湯をせずに湯船入るから」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

            <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/8-.png'%}">
        <div class="card-box">
            <h2 class="card-title">「エクボが無いから」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>

            <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/9-.png'%}">
        <div class="card-box">
            <h2 class="card-title">「男性の自分より男性っぽいから」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>



             <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/10-.png'%}">
        <div class="card-box">
            <h2 class="card-title">「くしゃみが独特だから」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>


             <a href="#" class="card-link" target="_blank">
    <div class="card pic-image">
        <img class="card-image" src="{% static 'media_local/11-.png'%}">
        <div class="card-box">
            <h2 class="card-title">「どうしてもホクロ毛に目が行ってしまうから」</h2>
            <p class="card-description"></p>
        </div>
    </div>
</a>


    </div>


    <!--△△右側サイドバー△△-->
    <div class="ad">

        <!--自己紹介-->


        <!--人気記事-->
        <div class="sidebar">
            <h2>人気記事</h2>
            <div class="popular-articles">
                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/nosehair.png'%}" alt=""></div>
                     <div class="text">
                         <a href="humor_nosehair">鼻毛が出ている人に対するユーモアな指摘</a>
                     </div>
                </div>

                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/hobby.png'%}" alt=""></div>
                     <div class="text">
                         <a href="humor_hobby">趣味を聞かれた時のユーモア溢れる回答</a>
                     </div>
                </div>

                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/cinema.jpg'%}" alt=""></div>
                     <div class="text">
                         <a href="humor_cinema">好きな映画聞かれた時の返しがユーモア溢れる回答選手権</a>
                     </div>
                </div>

                <!-- 追加の人気記事をここに追加 -->
            </div>
        </div>
 <!--広告-->
        <div class="sidebarx">
            <h2>ユーモア商材</h2>
            <div class="popular-articlesx">

                <a href="https://px.a8.net/svt/ejp?a8mat=3NL52J+40OCS2+1WP2+65EOH" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www26.a8.net/svt/bgt?aid=221016043243&wid=001&eno=01&mid=s00000008903001033000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3NL52J+40OCS2+1WP2+65EOH"
                     alt="">


                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+BOXHGY+2GMK+ZTFR5" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www22.a8.net/svt/bgt?aid=230304058707&wid=001&eno=01&mid=s00000011486006016000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3T47QY+BOXHGY+2GMK+ZTFR5"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+AQZRZM+2GMK+61C2P" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www26.a8.net/svt/bgt?aid=230304058650&wid=001&eno=01&mid=s00000011486001014000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3T47QY+AQZRZM+2GMK+61C2P"
                     alt="">


                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+BUADWY+6HW+3T0HG1" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www20.a8.net/svt/bgt?aid=230304058716&wid=001&eno=01&mid=s00000000842023013000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3T47QY+BUADWY+6HW+3T0HG1"
                     alt="">


                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+67V08I+1WP2+NX735" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www26.a8.net/svt/bgt?aid=230308128376&wid=001&eno=01&mid=s00000008903004018000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3T4AW0+67V08I+1WP2+NX735"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QZ+1FSQEQ+2J9U+5ZMCH" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www28.a8.net/svt/bgt?aid=230304059087&wid=001&eno=01&mid=s00000011829001006000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3T47QZ+1FSQEQ+2J9U+5ZMCH"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+65H9TE+3OP8+HX5B5" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www20.a8.net/svt/bgt?aid=230308128372&wid=001&eno=01&mid=s00000017198003010000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T4AW0+65H9TE+3OP8+HX5B5"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+4QVFEA+ONS+68EPD" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www28.a8.net/svt/bgt?aid=230308128287&wid=001&eno=01&mid=s00000003196001047000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T4AW0+4QVFEA+ONS+68EPD"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+662PF6+4LV4+61JSH" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www22.a8.net/svt/bgt?aid=230308128373&wid=001&eno=01&mid=s00000021496001015000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3T4AW0+662PF6+4LV4+61JSH"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+64AELU+53AC+614CX" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www29.a8.net/svt/bgt?aid=230308128370&wid=001&eno=01&mid=s00000023754001013000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T4AW0+64AELU+53AC+614CX"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+4YM29E+1IRY+25J2E9" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www28.a8.net/svt/bgt?aid=230308128300&wid=001&eno=01&mid=s00000007099013022000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T4AW0+4YM29E+1IRY+25J2E9"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+4WTRG2+11FS+67Z9T" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www27.a8.net/svt/bgt?aid=230308128297&wid=001&eno=01&mid=s00000004852001045000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T4AW0+4WTRG2+11FS+67Z9T"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+4VMW8I+34QW+BYDTT" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www24.a8.net/svt/bgt?aid=230308128295&wid=001&eno=01&mid=s00000014612002008000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T4AW0+4VMW8I+34QW+BYDTT"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QZ+42GNLE+3SJ0+609HT" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www29.a8.net/svt/bgt?aid=230304059246&wid=001&eno=01&mid=s00000017694001009000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3T47QZ+42GNLE+3SJ0+609HT"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QZ+BWOVM+408S+5ZU29" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www25.a8.net/svt/bgt?aid=230304059020&wid=001&eno=01&mid=s00000018694001007000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T47QZ+BWOVM+408S+5ZU29"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+CSTJ02+4RNG+60WN5" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www22.a8.net/svt/bgt?aid=230304058774&wid=001&eno=01&mid=s00000022246001012000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T47QY+CSTJ02+4RNG+60WN5"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QX+36B8XE+ONS+TTDZ5" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www23.a8.net/svt/bgt?aid=230304057192&wid=001&eno=01&mid=s00000003196005008000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T47QX+36B8XE+ONS+TTDZ5"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QX+IGGJ6+53AC+ZRALD" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www21.a8.net/svt/bgt?aid=230304057031&wid=001&eno=01&mid=s00000023754006006000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T47QX+IGGJ6+53AC+ZRALD"
                     alt="">




                <!-- 追加の人気記事をここに追加 -->
            </div>
        </div>

        <!--タグ-->
        <div class="tag">
            <h2>タグ一覧</h2>
            <a href="#">お仕事</a>
            <a href="#">お酒</a>
            <a href="#">お笑い</a>
            <a href="#">お友達</a>
            <a href="#">お金</a>
            <a href="#">モテモテ</a>
            <a href="#">身嗜み</a>
            <a href="#">心の健康</a>
            <a href="#">定石</a>
        </div>


    </div>
</main>




<footer class="footer">
    <p class="copyright">ユーモア溢れる世界を作りたい　byむらちゃん</p>

</footer>

</body>