<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/life_glasses.css?2345">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <title>モテる眼鏡ブランド5選</title>
</head>
<body>

<div class="container">

    <nav>
        <a href="{% url 'blog:index' %}">表紙</a>
        <a href="humor_summary">ユーモア語録</a>
        <a href="life_summary">ユーモア小道具</a>
        <a href="trivia_summary">ユーモア豆知識</a>
        <a href="diary_summary">ユーモア日記</a>
        <div class="animation start-home"></div>
    </nav>


    <div class="main-img">
        <img src="{% static 'media_local/glasses.jpg'%}" width="100%">
        　　　　<h1>モテる眼鏡ブランド5選</h1>
        　　　　　　　<p>Hello</p>
    </div>

    <!--吹き出しはじまり-->
    <div class="balloon5">
        <div class="faceicon">
            <img src="{% static 'media_local/cat.jpg'%}">
        </div>
        <div class="chatting">
            <div class="says">
                <p>こんにちは村ちゃんです。今回はモテる眼鏡ブランド5選をまとめました。
                    参考にしてください。</div>
        </div>
    </div>
    <!--吹き出し終わり-->


    <p class="sample_h_4">モテる眼鏡ブランド5選</p>


    <ul class="table_content">
        <p>目次</p>
        <li>Ray-Ban(レイバン)</li>
        <li>TOM FORD(トムフォード)</li>
        <li>OLIVER PEOPLES(オリバーピープルズ)</li>
        <li>金子眼鏡店</li>
        <li>白山眼鏡店</li>
    </ul>

    <hr class="cp_hr10"/>
    <div class="flex">
        <div class="pr-area">

            <div class="text">
                　　　　　　　<h2>①Ray-Ban/レイバン</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/rayban.png'%}">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐⭐️⭐️</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>20代〜50代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>
                        最大の強みは米軍ミリタリースペックを実現する高性能レンズ。過酷な耐久テストに合格したものだけを選び抜き、用途に応じてUVカットやブルーライトカット、偏光、反射防止などの機能を備えています。タフな使用シーンを想定した防水・防油コーティングを施されたモデルがあるのも、正真正銘のミルスペックグラスが原点のRay-Banならでは。
                        さらに多機能なレンズだけでなく、その後に続くサングラスのオリジンとなったオーセンティックなデザインも、Ray-Banの魅力です。時代を超えた普遍的なスタイルは、やがてサングラスの代名詞としての存在を確立しています。
                    </td>
                </tr>
                <tr>
                    <td>デザイン</td>　

                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fglassmania%2Frx5345d-2000%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fglassmania%2Fi%2F10014921%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/glassmania/cabinet/00804161/rayban_rx/rayban_rx2/rx5345d2000_0.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>
                        　　　　　　　　　　
                </tr>
                <tr>
                    <td>価格帯</td>
                    <td>20,000円〜50,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://www.ray-ban.com/japan?cid=PM-SGA_300419-1.JP-RayBan-JA-B-Core-Exact_Trademark-EN_ray-ban&s_kwcid=AL!16196!3!634923267795!e!!g!!ray-ban!14048451252!123877992223&gclid=Cj0KCQjwocShBhCOARIsAFVYq0j4UJXWRxA-iMH32PdfIqWjJnahEsWjp8jZZgTVt5o8-JxXp_bEp9caApx_EALw_wcB&gclsrc=aw.ds">Ray-Ban公式ストア</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>


            <div class="box77">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6GFR+DB9YR6+4PGK+5Z6WX" rel="nofollow">
                    <img border="0" width="468" height="60" alt=""
                         src="https://www28.a8.net/svt/bgt?aid=230408631805&wid=001&eno=01&mid=s00000021962001004000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T6GFR+DB9YR6+4PGK+5Z6WX"
                     alt="">


            </div>

<hr class="hr3">

            <div class="text">
                　　　　　　　<h2>②TOM FORD/トムフォード</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/tomford.jpg'%}" width="300px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐⭐️⭐️</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>20代〜60代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>ラグジュアリーブランド『GUCCI(グッチ』、『YVES SAINT LAURENT(イブサンローラン)』のクリエイティブディレクターを経て、2005年に誕生したブランド『TOM
                        FORD』。力強く、タフでしかもセクシーであるべき』というコンセプトで生み出されるトムフォードのアイウェアは瞬く間に世界中のセレブが愛用し、ここ日本でも一気にトップブランドへと駆け上がりました。
                        ブランドの象徴と言える『T』マークがフロントサイドにデザインされたトムフォードの眼鏡。丁寧に埋め込まれ、一切の凹凸もないように磨き込まれています。
                        太く大胆なラインで描かれたモデルでも、逆に細く繊細なデザインでもこの『T』マークがあることで一気にラグジュアリーな雰囲気へと変貌します。
                    </td>
                </tr>
                <tr>
                    <td>デザイン</td>　

                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fglassmaster%2Ftomf01-00115%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fglassmaster%2Fi%2F10052534%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/glassmaster/cabinet/m01/tomf/tomf01-00115-m01.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>
                        　　　　　　　　　　
                </tr>
                <tr>
                    <td>価格帯</td>
                    <td>20,000円〜300,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://tomford.jp">TOM FORD公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>


            <div class="box77">
                <a href="https://px.a8.net/svt/ejp?a8mat=3T6GFR+CV79F6+3VWO+HVV0H" rel="nofollow">
                    <img border="0" width="468" height="60" alt=""
                         src="https://www26.a8.net/svt/bgt?aid=230408631778&wid=001&eno=01&mid=s00000018132003004000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T6GFR+CV79F6+3VWO+HVV0H"
                     alt="">

            </div>

            <hr class="hr3">

            <div class="text">
                　　　　　　　<h2>③OLIVER PEOPLES/オリバーピープルズ</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/oliver.png'%}" width="300px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐⭐️✳︎</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>20代〜30代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>
                        最たる魅力は、創業者であり、今もなお現場の最先端に立つクリエイティブ・ディレクターのラニー・レイト氏が提案した“ラグジュアリーヴィンテージ”。クラシックなコンビネーションフレームをモダンに魅せる繊細なデザイン力と、職人的な仕上げによる圧倒的な美しさは、視力矯正の道具をファッションアイテムのひとつとして昇華させています。
                        アイテム単体の良さだけではなく、クラシック志向が高まる大人の気分にマッチするのも『オリバーピープルズ』の長所。ベーシックな着こなしを大人らしく、今らしく彩る顔周りのアイテムとしてはうってつけ。
                    </td>
                </tr>
                <tr>
                    <td>デザイン</td>　

                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fsunglassoutlet%2Fov1186-5036%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fsunglassoutlet%2Fi%2F10046711%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/sunglassoutlet/cabinet/ov/ov1186-5036.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>
                        　　　　　　　　　　
                </tr>
                <tr>
                    <td>価格帯</td>
                    <td>35,000円〜50,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://www.oliverpeoples.com/japan">OLIVER PEOPLES公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>
            <div class="box77">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6DAU+4TULF6+3OGW+5ZMCH" rel="nofollow">
                    <img border="0" width="468" height="60" alt=""
                         src="https://www20.a8.net/svt/bgt?aid=230404566292&wid=001&eno=01&mid=s00000017168001006000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T6DAU+4TULF6+3OGW+5ZMCH"
                     alt="">

            </div>

            <hr class="hr3">

            <div class="text">
                　　　　　　　<h2>④金子眼鏡</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/kaneko.jpg'%}" width="300px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐⭐✳︎</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>30代〜40代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>
                        メガネの卸商をスタートさせてから、60年の歴史を誇る日本の眼鏡メーカーです。世界最高峰の技術を持った職人によって作られた代表ブランド「職人シリーズ」を展開しています。
                        職人が丹精込めて作り上げたメガネはもはや芸術品。一度購入すれば長年にわたって使い続けることができます。フレームのデザインは、近年再び注目を集める「日本のヴィンテージ」。男らしささえ感じられるような骨太なデザインの中にも、手作りの温かさが伝わり、使い込むほどに愛着が湧きます。
                    </td>
                </tr>
                <tr>
                    <td>デザイン</td>　

                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fdirect-glass-labo%2Fec003-brs%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fdirect-glass-labo%2Fi%2F10001775%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/direct-glass-labo/cabinet/common/item5/ec003-brs_s.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>
                        　　　　　　　　　　
                </tr>
                <tr>
                    <td>価格帯</td>
                    <td>20,000円〜40,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="https://www.kaneko-optical.co.jp">金子眼鏡公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>

            <div class="box77">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6DAU+679KMQ+523A+5ZU29" rel="nofollow">
                    <img border="0" width="468" height="60" alt=""
                         src="https://www26.a8.net/svt/bgt?aid=230404566375&wid=001&eno=01&mid=s00000023599001007000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T6DAU+679KMQ+523A+5ZU29"
                     alt="">

            </div>

            <hr class="hr3">

            <div class="text">
                　　　　　　　<h2>⑤白山眼鏡</h2>

            </div>
            <div class="icon">
                <img src="{% static 'media_local/hakusan.png'%}" width="300px">
            </div>
            <div class="bubble01-p">
                <div class="bubble01">詳細</div>
            </div>
            <table class="wTable">
                <tr>
                    <td>女子ウケ度</td>
                    <td>⭐️⭐️⭐✳︎✳︎</td>
                </tr>
                <tr>
                    <td>年齢層</td>
                    <td>50代〜60代</td>
                </tr>
                <tr>
                    <td>特徴</td>
                    <td>
                        1883年の白山眼鏡店（しらやまめがねてん）をルーツに持つ、老舗の中の老舗。日本製にこだわったフレームを展開しています。長い歴史の中で培われてきたメガネ作りの高い技術は世界中で評価されています。「デザインしすぎない」ことをコンセプトにしたフレームは、かけた人の顔に馴染むナチュラルな形。どのようなファッションにも合わせやすく、1本持っているだけでコーディネートの幅がグッと広がります。高品質な日本製のメガネにこだわる大人に手にとっていただきたいメガネブランドです。

                </tr>
                <tr>
                    <td>デザイン</td>　

                    <td><div style="text-align: center;"><a href="//af.moshimo.com/af/c/click?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Ffoolsjudge%2F20758194%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Ffoolsjudge%2Fi%2F10086491%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/foolsjudge/cabinet/230224/20758194.jpg?_ex=300x300" alt="" style="border: none;" /></a><img src="//i.moshimo.com/af/i/impression?a_id=3926107&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" width="1" height="1" style="border: 0px;" /></div></td>
                        　　　　　　　　　　
                </tr>
                <tr>
                    <td>価格帯</td>
                    <td>25,000円〜40,000円</td>
                </tr>
                <tr>
                    <td>正規品</td>
                    <td>
                        <a href="http://hakusan-megane.co.jp">白山眼鏡公式</a>
                    </td>
                </tr>

            </table>

            <div class="bubble01-p">
                <div class="bubble01">関連リンク</div>
            </div>

            <div class="box77">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6DAU+9W18J6+41C8+609HT" rel="nofollow">
                    <img border="0" width="468" height="60" alt=""
                         src="https://www25.a8.net/svt/bgt?aid=230404566598&wid=001&eno=01&mid=s00000018836001009000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T6DAU+9W18J6+41C8+609HT"
                     alt="">
            </div>


        </div>

        <div class="sidebar">
            <div class="box71">
                <div class="box-title">🌀ユーモアな商材🌀</div>
<a href="https://px.a8.net/svt/ejp?a8mat=3T6GFR+DBVECY+1RNO+5Z6WX" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www22.a8.net/svt/bgt?aid=230408631806&wid=001&eno=01&mid=s00000008250001004000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=3T6GFR+DBVECY+1RNO+5Z6WX" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6GFR+D8W8C2+2WGA+HWAG1" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www25.a8.net/svt/bgt?aid=230408631801&wid=001&eno=01&mid=s00000013537003006000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T6GFR+D8W8C2+2WGA+HWAG1" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6GFR+D6IHWY+76W+TUGK1" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www28.a8.net/svt/bgt?aid=230408631797&wid=001&eno=01&mid=s00000000932005013000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T6GFR+D6IHWY+76W+TUGK1" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6GFR+D3JBW2+4XSA+61RI9" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www27.a8.net/svt/bgt?aid=230408631792&wid=001&eno=01&mid=s00000023041001016000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=3T6GFR+D3JBW2+4XSA+61RI9" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6GFR+D15LGY+31U6+66H9D" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www23.a8.net/svt/bgt?aid=230408631788&wid=001&eno=01&mid=s00000014235001038000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T6GFR+D15LGY+31U6+66H9D" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6GFR+CZYQ9E+1X1A+TSYJL" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www29.a8.net/svt/bgt?aid=230408631786&wid=001&eno=01&mid=s00000008947005006000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=3T6GFR+CZYQ9E+1X1A+TSYJL" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6GFR+CY6FG2+20YY+ZSKW1" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www28.a8.net/svt/bgt?aid=230408631783&wid=001&eno=01&mid=s00000009457006012000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T6GFR+CY6FG2+20YY+ZSKW1" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6GFR+CWZK8I+1X1A+62U35" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www22.a8.net/svt/bgt?aid=230408631781&wid=001&eno=01&mid=s00000008947001021000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3T6GFR+CWZK8I+1X1A+62U35" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6GFR+CVSP0Y+20YY+BZ8OX" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www27.a8.net/svt/bgt?aid=230408631779&wid=001&eno=01&mid=s00000009457002012000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3T6GFR+CVSP0Y+20YY+BZ8OX" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6GFR+CU0E7M+1PQI+HWPVL" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www29.a8.net/svt/bgt?aid=230408631776&wid=001&eno=01&mid=s00000008001003008000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T6GFR+CU0E7M+1PQI+HWPVL" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6GFR+CULTTE+1X1A+HZ2R5" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www21.a8.net/svt/bgt?aid=230408631777&wid=001&eno=01&mid=s00000008947003019000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T6GFR+CULTTE+1X1A+HZ2R5" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6GFR+CR186Q+3S0E+6BEQ9" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www22.a8.net/svt/bgt?aid=230408631771&wid=001&eno=01&mid=s00000017627001061000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T6GFR+CR186Q+3S0E+6BEQ9" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6DAU+68GFUA+76W+5YZ75" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=230404566377&wid=001&eno=01&mid=s00000000932001003000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T6DAU+68GFUA+76W+5YZ75" alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T6DAU+4TULF6+3OGW+62MDD" rel="nofollow">
<img border="0" width="234" height="60" alt="" src="https://www21.a8.net/svt/bgt?aid=230404566292&wid=001&eno=01&mid=s00000017168001020000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T6DAU+4TULF6+3OGW+62MDD" alt="">


            </div>


            <div class="box71">
                <div class="box-title">🌀人気記事Top3🌀</div>
                　　　　　　<div class="div_design006">
                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/busaiku.jpg'%}">
                        <a href="humor_busaiku">ブスと言われたときのユーモアな返し7選</a>
                    </div>

                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/ikemen.jpg'%}">
                        <a href="humor_smart">モテる男の条件7選</a>
                    </div>

                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/nickname.jpg'%}">
                        <a href="humor_nickname">ユーモアなあだな11選</a>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
<footer class="footer">

    <p>ユーモアな館</p>
    <ul class="md-flex">
        <li><a href="{% url 'blog:index' %}">表紙</a></li>
        <li><a href="humor_summary">ユーモア語録</a></li>
        <li><a href="life_summary">ユーモア小道具</a></li>
        <li><a href="trivia_summary">ユーモア豆知識</a></li>
        <li><a href="diary_summary">ユーモア日記</a></li>
    </ul>
</footer>

</body>
</html>