<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    　<title>おすすめ株証券会社Top10</title>
    <link rel="stylesheet" href="/static/css/life_master.css?v=24">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
     crossorigin="anonymous"></script>

</head>

<body>

<!--▽▽ヘッダー▽▽-->
<header class="header">

    <!--▽▽ヘッダーロゴ▽▽-->
    <div class="logo">
        <a href="{% url 'blog:index' %}">ユーモアな館</a>
    </div>
    <!--△△ヘッダーロゴ△△-->

    <!--▽▽ヘッダーリスト▽▽-->
    <nav>
        <ul>
            <li><a href="humor_summary1">ユーモア語録</a></li>
            <li><a href="life_summary1">ユーモア小道具</a></li>
            <li><a href="trivia_summary1">ユーモア豆知識</a></li>
            <li><a href="fashion_summary1">ユーモア身嗜み</a></li>
        </ul>
    </nav>
    <!--△△ヘッダーリスト△△-->

</header>

<!--ルートディレクトリ-->
<div class="root">
    <div class="rootp">
        <a href="{% url 'blog:index' %}">Home<</a><a href="life_summary1">ユーモア小道具①<</a><div class="roota">
        <a href="life_kabu1">おすすめ株証券会社Top10</a></div>
    </div>
    </div>

<!--メイン画像-->

<div class="globalNavigation">
    <div class="main-img">
        <img src="{% static 'media_local/suika.jpg'%}">
        <h1>おすすめ<br><br>
            株証券会社Top10。<br><br>の巻</h1>
    </div>
</div>


<!--△△記事△△-->
<main>

    <div class="content">

        <div class="balloon5">
            <div class="faceicon">
                <img src="{% static 'media_local/cat.jpg'%}">
            </div>
            <div class="chatting">
                <div class="says">
                   <p>こんにちは村ちゃんです。今回は株投資を始める方向けにお勧め証券会社Top10をまとめました。
                    参考にしてください。</p></div>
            </div>
        </div>

        <img src="{% static 'media_local/kabu.jpg'%}" width="100%">

        <hr class="cp_hr10"/>

        <div class="flex2">
                <h2 class="text2">第1位　SBI証券</h2>
                <figure class="image2"><img src="{% static 'media_local/star5.png'%}" width="20%"></figure>
            </div>

            <div class="blackboard-box">
                <ul>
                    <p>GOODポイント</p>
                    <li>個人取引シェアNo.1</li>
                    <li>商品ラインナップがトップクラス</li>
                    <li>世界各国に投資可能</li>
                    <li>ポイント投資など投資サービス網羅</li>
                    <li>NISA口座も取扱豊富</li>
                </ul>
                <div class="chalk1"></div>
                <div class="chalk2"></div>
            </div>

            <div class="blackboard-box">
                <ul>
                    <p>BADポイント</p>
                    <li>アプリ通信障害が多い</li>
                    <li>問合せに対するサービスが悪い</li>
                </ul>
                <div class="chalk1"></div>
                <div class="chalk2"></div>
            </div>


            <hr class="cp_hr10"/>

            <div class="flex2">
                <h2 class="text2">第2位　楽天証券</h2>
                <figure class="image2"><img src="{% static 'media_local/star4.png'%}" width="20%"></figure>
            </div>


            <div class="blackboard-box">
                <ul>
                    <p>GOODポイント</p>
                    <li>投資しながら楽天ポイントが貯まる</li>
                    <li>高性能な株アプリ所有</li>
                    <li>楽天会員なら口座開設カンタン</li>
                    <li>取引スピードが速い</li>
                </ul>
                <div class="chalk1"></div>
                <div class="chalk2"></div>
            </div>

            <div class="blackboard-box">
                <ul>
                    <p>BADポイント</p>
                    <li></li>
                    <li>問合せに対するサービスが悪い</li>
                    <li>口座開設の時間が掛かる</li>
                </ul>
                <div class="chalk1"></div>
                <div class="chalk2"></div>
            </div>

            <hr class="cp_hr10"/>

            <div class="flex2">
                <h2 class="text2">第3位　auカブコム証券</h2>
                <figure class="image2"><img src="{% static 'media_local/star4.png'%}" width="20%"></figure>
            </div>

            <div class="blackboard-box">
                <ul>
                    <p>GOODポイント</p>
                    <li>専門性の高い分析ツール所有</li>
                    <li>取引手数料が無料になる対象豊富</li>
                    <li>積立投資が100円から可能</li>
                    <li>スクリーニング機能が充実</li>
                </ul>
                <div class="chalk1"></div>
                <div class="chalk2"></div>
            </div>

            <div class="blackboard-box">
                <ul>
                    <p>BADポイント</p>
                    <li></li>
                    <li>アプリの表示画面が見難い</li>
                    <li>電話対応サービスが悪い</li>
                    <li>手数料が高め</li>
                </ul>
                <div class="chalk1"></div>
                <div class="chalk2"></div>
            </div>

            <hr class="cp_hr10"/>

            <div class="flex2">
                <h2 class="text2">第4位　松井証券</h2>
                <figure class="image2"><img src="{% static 'media_local/star3.png'%}" width="20%"></figure>
            </div>


            <div class="blackboard-box">
                <ul>
                    <p>GOODポイント</p>
                    <li>1日信用取引がデイトレーダー向け</li>
                    <li>投信の信託報酬一部がキャッシュバック</li>
                    <li>手数料が最安値</li>
                </ul>
                <div class="chalk1"></div>
                <div class="chalk2"></div>
            </div>

            <div class="blackboard-box">
                <ul>
                    <p>BADポイント</p>
                    <li>アプリのフリーズがしばしば発生</li>
                    <li>アプリが使いづらい</li>
                    <li>ブラウザサイトが見難い</li>
                </ul>
                <div class="chalk1"></div>
                <div class="chalk2"></div>
            </div>

            <hr class="cp_hr10"/>

            <div class="flex2">
                <h2 class="text2">第5位　マネックス証券</h2>
                <figure class="image2"><img src="{% static 'media_local/star3.png'%}" width="20%"></figure>
            </div>
            <div class="blackboard-box">
                <ul>
                    <p>GOODポイント</p>
                    <li>米国株取扱4500銘柄超え</li>
                    <li>公平なIPO抽選ルール採用</li>
                    <li>ブラウザサイトが見やすい</li>
                </ul>
                <div class="chalk1"></div>
                <div class="chalk2"></div>
            </div>

            <div class="blackboard-box">
                <ul>
                    <p>BADポイント</p>
                    <li>反応スピードが遅い</li>
                    <li>出金に時間がかかる</li>
                    <li>スマホツールでの情報量が少ない</li>
                </ul>
                <div class="chalk1"></div>
                <div class="chalk2"></div>
            </div>

            <hr class="cp_hr10"/>


            <div class="flex2">
                <h2 class="text2">第6位　岡三オンライン</h2>
                <figure class="image2"><img src="{% static 'media_local/star2.png'%}" width="20%"></figure>
            </div>

            <div class="blackboard-box">
                <ul>
                    <p>GOODポイント</p>
                    <li>指標、ランキング、スクリーニングが充実</li>
                    <li>機能面、情報面で使いやすさ高め</li>
                    <li>話題銘柄の事前情報展開あり</li>
                </ul>
                <div class="chalk1"></div>
                <div class="chalk2"></div>
            </div>

            <div class="blackboard-box">
                <ul>
                    <p>BADポイント</p>
                    <li>手数料が高め</li>
                    <li>電話が繋がりにくい</li>
                </ul>
                <div class="chalk1"></div>
                <div class="chalk2"></div>
            </div>

            <hr class="cp_hr10"/>

            <div class="flex2">
                <h2 class="text2">第7位　GMOクリック証券</h2>
                <figure class="image2"><img src="{% static 'media_local/star2.png'%}" width="20%"></figure>
            </div>

            <div class="blackboard-box">
                <ul>
                    <p>GOODポイント</p>
                    <li>最安クラスの手数料</li>
                    <li>スマホアプリが使いやすい</li>
                    <li>株、FX、ETF間のお金の移動が早い</li>
                </ul>
                <div class="chalk1"></div>
                <div class="chalk2"></div>
            </div>

            <div class="blackboard-box">
                <ul>
                    <p>BADポイント</p>
                    <li>電話対応が悪い</li>
                    <li>出金手続きが面倒</li>
                </ul>
                <div class="chalk1"></div>
                <div class="chalk2"></div>
            </div>

            <hr class="cp_hr10"/>

            <div class="flex2">
                <h2 class="text2">第8位　SBIネオトレード証券</h2>
                <figure class="image2"><img src="{% static 'media_local/star1.png'%}" width="20%"></figure>
            </div>

            <div class="blackboard-box">
                <ul>
                    <p>GOODポイント</p>
                    <li>IPOの事前入金不要</li>
                    <li>手数料が安め</li>
                    <li>取引ツールが日々改善される</li>
                </ul>
                <div class="chalk1"></div>
                <div class="chalk2"></div>
            </div>

            <div class="blackboard-box">
                <ul>
                    <p>BADポイント</p>
                    <li>IPOの取扱が少ない</li>
                    <li>FXの取扱がない</li>
                    <li>投資信託の本数が少ない</li>
                </ul>
                <div class="chalk1"></div>
                <div class="chalk2"></div>
            </div>

            <hr class="cp_hr10"/>

            <div class="flex2">
                <h2 class="text2">第9位　DMM証券</h2>
                <figure class="image2"><img src="{% static 'media_local/star1.png'%}" width="20%"></figure>
            </div>


            <div class="blackboard-box">
                <ul>
                    <p>GOODポイント</p>
                    <li>初心者向けの簡単モード搭載</li>
                    <li>DMMポイントが取引に応じて加算</li>
                    <li>米国株を信用取引の担保に出来る</li>
                </ul>
                <div class="chalk1"></div>
                <div class="chalk2"></div>
            </div>

            <div class="blackboard-box">
                <ul>
                    <p>BADポイント</p>
                    <li>IPOが当たりにくい</li>
                    <li>米国株の取引銘柄が少ない</li>
                    <li>単元未満株の取扱不可</li>
                </ul>
                <div class="chalk1"></div>
                <div class="chalk2"></div>
            </div>

            <hr class="cp_hr10"/>

            <div class="flex2">
                <h2 class="text2">第10位　立花証券</h2>
                <figure class="image2"><img src="{% static 'media_local/star1.png'%}" width="20%"></figure>
            </div>


            <div class="blackboard-box">
                <ul>
                    <p>GOODポイント</p>
                    <li>無料閲覧出来る情報多数</li>
                </ul>
                <div class="chalk1"></div>
                <div class="chalk2"></div>
            </div>

            <div class="blackboard-box">
                <ul>
                    <p>BADポイント</p>
                    <li>取扱銘柄が少ない</li>
                </ul>
                <div class="chalk1"></div>
                <div class="chalk2"></div>
            </div>

        <hr class="cp_hr10"/>



    </div>


    <!--△△右側サイドバー△△-->
    <div class="ad">

        <!--自己紹介-->


        <!--人気記事-->
        <div class="sidebar">
            <h2>人気記事</h2>
            <div class="popular-articles">
                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/nosehair.png'%}" alt=""></div>
                    <div class="text">
                        <a href="humor_nosehair">鼻毛が出ている人に対するユーモアな指摘</a>
                    </div>
                </div>

                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/hobby.png'%}" alt=""></div>
                    <div class="text">
                        <a href="humor_hobby">趣味を聞かれた時のユーモア溢れる回答</a>
                    </div>
                </div>

                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/cinema.jpg'%}" alt=""></div>
                    <div class="text">
                        <a href="humor_cinema">好きな映画聞かれた時の返しがユーモア溢れる回答選手権</a>
                    </div>
                </div>

                <!-- 追加の人気記事をここに追加 -->
            </div>
        </div>


         <!--広告-->
        <div class="sidebarx">
            <h2>ユーモア商材</h2>
            <div class="popular-articlesx">

                <a href="https://px.a8.net/svt/ejp?a8mat=3NL52J+40OCS2+1WP2+65EOH" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www26.a8.net/svt/bgt?aid=221016043243&wid=001&eno=01&mid=s00000008903001033000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3NL52J+40OCS2+1WP2+65EOH"
                     alt="">


                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+BOXHGY+2GMK+ZTFR5" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www22.a8.net/svt/bgt?aid=230304058707&wid=001&eno=01&mid=s00000011486006016000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3T47QY+BOXHGY+2GMK+ZTFR5"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+AQZRZM+2GMK+61C2P" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www26.a8.net/svt/bgt?aid=230304058650&wid=001&eno=01&mid=s00000011486001014000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3T47QY+AQZRZM+2GMK+61C2P"
                     alt="">


                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+BUADWY+6HW+3T0HG1" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www20.a8.net/svt/bgt?aid=230304058716&wid=001&eno=01&mid=s00000000842023013000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3T47QY+BUADWY+6HW+3T0HG1"
                     alt="">


                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+67V08I+1WP2+NX735" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www26.a8.net/svt/bgt?aid=230308128376&wid=001&eno=01&mid=s00000008903004018000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3T4AW0+67V08I+1WP2+NX735"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QZ+1FSQEQ+2J9U+5ZMCH" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www28.a8.net/svt/bgt?aid=230304059087&wid=001&eno=01&mid=s00000011829001006000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3T47QZ+1FSQEQ+2J9U+5ZMCH"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+65H9TE+3OP8+HX5B5" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www20.a8.net/svt/bgt?aid=230308128372&wid=001&eno=01&mid=s00000017198003010000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T4AW0+65H9TE+3OP8+HX5B5"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+4QVFEA+ONS+68EPD" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www28.a8.net/svt/bgt?aid=230308128287&wid=001&eno=01&mid=s00000003196001047000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T4AW0+4QVFEA+ONS+68EPD"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+662PF6+4LV4+61JSH" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www22.a8.net/svt/bgt?aid=230308128373&wid=001&eno=01&mid=s00000021496001015000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3T4AW0+662PF6+4LV4+61JSH"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+64AELU+53AC+614CX" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www29.a8.net/svt/bgt?aid=230308128370&wid=001&eno=01&mid=s00000023754001013000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T4AW0+64AELU+53AC+614CX"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+4YM29E+1IRY+25J2E9" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www28.a8.net/svt/bgt?aid=230308128300&wid=001&eno=01&mid=s00000007099013022000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T4AW0+4YM29E+1IRY+25J2E9"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+4WTRG2+11FS+67Z9T" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www27.a8.net/svt/bgt?aid=230308128297&wid=001&eno=01&mid=s00000004852001045000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T4AW0+4WTRG2+11FS+67Z9T"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+4VMW8I+34QW+BYDTT" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www24.a8.net/svt/bgt?aid=230308128295&wid=001&eno=01&mid=s00000014612002008000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T4AW0+4VMW8I+34QW+BYDTT"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QZ+42GNLE+3SJ0+609HT" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www29.a8.net/svt/bgt?aid=230304059246&wid=001&eno=01&mid=s00000017694001009000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3T47QZ+42GNLE+3SJ0+609HT"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QZ+BWOVM+408S+5ZU29" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www25.a8.net/svt/bgt?aid=230304059020&wid=001&eno=01&mid=s00000018694001007000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T47QZ+BWOVM+408S+5ZU29"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+CSTJ02+4RNG+60WN5" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www22.a8.net/svt/bgt?aid=230304058774&wid=001&eno=01&mid=s00000022246001012000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T47QY+CSTJ02+4RNG+60WN5"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QX+36B8XE+ONS+TTDZ5" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www23.a8.net/svt/bgt?aid=230304057192&wid=001&eno=01&mid=s00000003196005008000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T47QX+36B8XE+ONS+TTDZ5"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QX+IGGJ6+53AC+ZRALD" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www21.a8.net/svt/bgt?aid=230304057031&wid=001&eno=01&mid=s00000023754006006000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T47QX+IGGJ6+53AC+ZRALD"
                     alt="">




                <!-- 追加の人気記事をここに追加 -->
            </div>
        </div>


        <!--タグ-->
        <div class="tag">
            <h2>タグ一覧</h2>
            <a href="#">お仕事</a>
            <a href="#">お酒</a>
            <a href="#">お笑い</a>
            <a href="#">お友達</a>
            <a href="#">お金</a>
            <a href="#">モテモテ</a>
            <a href="#">身嗜み</a>
            <a href="#">心の健康</a>
            <a href="#">定石</a>
        </div>


    </div>
</main>


<footer class="footer">
    <p class="copyright">ユーモア溢れる世界を作りたい　byむらちゃん</p>

</footer>

</body>