<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    　<title>ユーモアな館</title>
    <link rel="stylesheet" href="/static/css/main2.css?v=19">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
     crossorigin="anonymous"></script>

</head>

<body>

<!--▽▽ヘッダー▽▽-->
<header class="header">

    <!--▽▽ヘッダーロゴ▽▽-->
    <div class="logo">
        <a href="{% url 'blog:index' %}">ユーモアな館</a>
    </div>
    <!--△△ヘッダーロゴ△△-->

    <!--▽▽ヘッダーリスト▽▽-->
    <nav>
        <ul>
            <li><a href="humor-summary1">ユーモア語録</a></li>
            <li><a href="life-summary1">ユーモア小道具</a></li>
            <li><a href="trivia-summary1">ユーモア豆知識</a></li>
            <li><a href="fashion-summary1">ユーモア身嗜み</a></li>
        </ul>
    </nav>
    <!--△△ヘッダーリスト△△-->

</header>

<!--メイン画像-->

<div class="globalNavigation">
    <div class="main-img">
        <img src="{% static 'media_local/rabbit.png'%}">
        <p>ユーモア(humor)とは・・・<br><br>
            人間生活に滲み出るおかしみ。<br>上品なおしゃれ。<br>人生の矛盾・滑稽等を、<br>人間共通の弱点として寛大な態度で眺め楽しむ気持ち。</p>
    </div>
</div>


<!--△△記事△△-->
<main>

    <div class="content">

        <div class="pr-area">
            <ul class="clearfix">
                <li>
                    <h2>ユーモア語録</h2>
                    <a href="humor-summary1">
                        <div class="shadow">
                            <img src="{% static 'media_local/dictation.jpg'%}" alt="" width="500px" height="300px">
                        </div>
                    </a>
                    <div class="intro">
                        <a href="humor-summary1">
                            <p>ユーモアな人はワードセンス高い</p>
                        </a>
                    </div>
                    <div class="button_line001">
                        <a href="humor-summary1">一覧を確認する</a>
                    </div>
                </li>
                <li>
                    <h2>ユーモア小道具</h2>
                    <a href="life-summary1">
                        <div class="shadow">
                            <div class="trim-img">
                                <img src="{% static 'media_local/tool.jpg'%}" alt="" width="500px" height="300px">
                            </div>
                        </div>
                    </a>
                    <div class="intro">
                        <a href="life-summary1">
                            <p>ユーモアな人はお金に余裕がある</p>
                        </a>
                    </div>
                    <div class="button_line001">
                        <a href="life-summary1">一覧を確認する</a>
                    </div>
                </li>
                <li>
                    <h2>ユーモア豆知識</h2>
                    <a href="trivia-summary1">
                        <div class="shadow">
                            <div class="trim-img">
                                <img src="{% static 'media_local/knowledge.jpg'%}" alt="" width="500px" height="300px">
                            </div>
                        </div>
                    </a>
                    <div class="intro">
                        <a href="trivia-summary1"><p>ユーモアな人は雑学豊富</p></a>
                    </div>
                    <div class="button_line001">
                        <a href="trivia-summary1">一覧を確認する</a>
                    </div>
                </li>
                <li>
                    <h2>ユーモア身嗜み</h2>
                    <a href="fashion-summary1">
                        <div class="shadow">
                            <div class="trim-img">
                                <img src="{% static 'media_local/fashion.jpg'%}" alt="" width="500px" height="300px">
                            </div>
                        </div>
                    </a>
                    <div class="intro">
                        <a href="fashion-summary1"><p>ユーモアな人はファッショナブル</p></a>
                    </div>
                    <div class="button_line001">
                        <a href="fashion-summary1">一覧を確認する</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <!--△△右側サイドバー△△-->
    <div class="ad">

        <!--自己紹介-->
        <div class="profile-card">
            <div class="profile-card__inner">
                <div class="profile-thumb">
                    <img src="{% static 'media_local/mei.jpg'%}" alt="" width="50px">
                </div>
                <div class="profile-content">
                    <span class="profile-name">おぶり</span>
                    <span class="profile-job">家と職場の往復 会社員</span>
                    <span class="profile-intro">ユーモアな雰囲気大好きな会社員です。外出苦手、家に籠りがちです。ユーモアな世界観に突出したブログ書いてます</span>
                </div>
            </div>
        </div>

        <!--人気記事-->
        <div class="sidebar">
            <h2>人気記事</h2>
            <div class="popular-articles">
                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/nosehair.png'%}" alt=""></div>
                     <div class="text">
                         <a href="humor-nosehair">鼻毛が出ている人に対するユーモアな指摘</a>
                     </div>
                </div>

                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/hobby.png'%}" alt=""></div>
                     <div class="text">
                         <a href="humor-hobby">趣味を聞かれた時のユーモア溢れる回答</a>
                     </div>
                </div>

                <div class="flex">
                    <div class="image"><img src="{% static 'media_local/cinema.jpg'%}" alt=""></div>
                     <div class="text">
                         <a href="humor-cinema">好きな映画聞かれた時の返しがユーモア溢れる回答選手権</a>
                     </div>
                </div>

                <!-- 追加の人気記事をここに追加 -->
            </div>
        </div>


        <!--タグ-->
        <div class="tag">
            <h2>タグ一覧</h2>
            <a href="#">お仕事</a>
            <a href="#">お酒</a>
            <a href="#">お笑い</a>
            <a href="#">お友達</a>
            <a href="#">お金</a>
            <a href="#">モテモテ</a>
            <a href="#">身嗜み</a>
            <a href="#">心の健康</a>
            <a href="#">定石</a>
        </div>


    </div>
</main>

<footer class="footer">
    <p class="copyright">ユーモア溢れる世界を作りたい　byむらちゃん</p>

</footer>

</body>