<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="/static/css/trivia_rich.css?20221107">
    <title>Title</title>
</head>
<body>

<h1>お金持ちランキング</h1>
<h2>Top10</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/ambani.jpg'%}">
  <div class="profile__name">ムケシュ・アンパニ</div>
  <div class="profile__answer">資産11.1兆円</div>
  <div class="profile__desc">インド出身、リライアンス会長</div>
</div>

<h2>Top9</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/ballmer.jpg'%}">
  <div class="profile__name">スティーブ・バルマー</div>
  <div class="profile__answer">資産11.2兆円</div>
  <div class="profile__desc">アメリカ出身、マイクロソフト社元最高責任者</div>
</div>

<h2>Top8</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/ellison.jpg'%}">
  <div class="profile__name">ラリー・エリソン</div>
  <div class="profile__answer">資産13.0兆円</div>
  <div class="profile__desc">アメリカ出身、オラクル設立者</div>
</div>

<h2>Top7</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/brin.jpg'%}">
  <div class="profile__name">セルゲイ・ブリン</div>
  <div class="profile__answer">資産13.1兆円</div>
  <div class="profile__desc">アメリカ出身、google共同創設者</div>
</div>

<h2>Top6</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/larry.jpg'%}">
  <div class="profile__name">ラリー・ペイジ</div>
  <div class="profile__answer">資産13.6兆円</div>
  <div class="profile__desc">アメリカ出身、google共同創業者</div>
</div>

<h2>Top5</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/warren.jpg'%}">
  <div class="profile__name">ウォーレン・バフェット</div>
  <div class="profile__answer">資産14.5兆円</div>
  <div class="profile__desc">アメリカ出身、投資家</div>
</div>

<h2>Top4</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/bill.jpg'%}">
  <div class="profile__name">ビル・ゲイツ</div>
  <div class="profile__answer">資産15.8兆円</div>
  <div class="profile__desc">アメリカ出身、マイクロソフト創設者</div>
</div>

<h2>Top3</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/bernard.jpg'%}">
  <div class="profile__name">ベルナール・アルノー</div>
  <div class="profile__answer">資産19.3兆円</div>
  <div class="profile__desc">フランス出身、LVMHのCEO</div>
</div>

<h2>Top2</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/jeffrey.jpg'%}">
  <div class="profile__name">ジェフ・ベゾス</div>
  <div class="profile__answer">資産21.0兆円</div>
  <div class="profile__desc">アメリカ出身、アマゾン創設者</div>
</div>

<h2>Top1</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/iron_mask.jpg'%}">
  <div class="profile__name">イーロン・マスク</div>
  <div class="profile__answer">資産26.9兆円</div>
  <div class="profile__desc">アメリカ出身、テスラ創設者</div>
</div>




</body>
</html>