<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="/static/css/trivia_athlete_rich.css?20221107">
    <title>Title</title>
</head>
<body>

<h1>スポーツ選手お金持ちランキング</h1>
<h2>Top10</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/oneal.jpg'%}">
  <div class="profile__name">シャキール・オニール</div>
  <div class="profile__answer">生涯収入700億円</div>
  <div class="profile__desc">アメリカ出身、バスケットボール</div>
</div>

<h2>Top9</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/beckham.jpg'%}">
  <div class="profile__name">デビット・ベッカム</div>
  <div class="profile__answer">生涯収入730億円</div>
  <div class="profile__desc">イングランド出身、サッカー</div>
</div>

<h2>Top8</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/mickelson.jpg'%}">
  <div class="profile__name">フィル・ミケルソン</div>
  <div class="profile__answer">生涯年収760億円</div>
  <div class="profile__desc">アメリカ出身、ゴルフ</div>
</div>

<h2>Top7</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/floyd.jpg'%}">
  <div class="profile__name">フロイド・メイウェザーJr</div>
  <div class="profile__answer">生涯年収765億円</div>
  <div class="profile__desc">アメリカ出身、ボクシング</div>
</div>

<h2>Top6</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/kobe.jpg'%}">
  <div class="profile__name">コービー・ブライアント</div>
  <div class="profile__answer">生涯年収770億円</div>
  <div class="profile__desc">アメリカ出身、バスケットボール</div>
</div>

<h2>Top5</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/schumacher.jpg'%}">
  <div class="profile__name">ミハエル・シューマッハ</div>
  <div class="profile__answer">生涯年収1000億円</div>
  <div class="profile__desc">ドイツ、F1</div>
</div>

<h2>Top4</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/jack.jpg'%}">
  <div class="profile__name">ジャック・ニクラウス</div>
  <div class="profile__answer">生涯年収1150億円</div>
  <div class="profile__desc">アメリカ出身、ゴルフ</div>
</div>

<h2>Top3</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/palmer.jpg'%}">
  <div class="profile__name">アーノルド・パーマー</div>
  <div class="profile__answer">生涯年収1350億円</div>
  <div class="profile__desc">アメリカ出身、ゴルフ</div>
</div>

<h2>Top2</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/tiger.jpg'%}">
  <div class="profile__name">タイガー・ウッズ</div>
  <div class="profile__answer">生涯年収1650億円</div>
  <div class="profile__desc">アメリカ出身、ゴルフ</div>
</div>

<h2>Top1</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/michael.jpg'%}">
  <div class="profile__name">マイケル・ジョーダン</div>
  <div class="profile__answer">生涯年収1700億円</div>
  <div class="profile__desc">アメリカ出身、ゴルフ</div>
</div>

</body>
</html>