<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="/static/css/trivia_soccer_goal.css?20221107">
    <title>Title</title>
</head>
<body>

<h1>サッカーゴール数ランキング</h1>
<h2>Top10</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/deak.jpg'%}">
  <div class="profile__name">ダーク・フェレンツ</div>
  <div class="profile__answer">576ゴール</div>
  <div class="profile__desc">ハンガリー出身、フェレンツヴァロシュ</div>
</div>

<h2>Top9</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/lewandowski.jpg'%}">
  <div class="profile__name">ロベルト・レヴァンドフスキ</div>
  <div class="profile__answer">603ゴール</div>
  <div class="profile__desc">ポーランド出身、バイエルンミュンヘン</div>
</div>

<h2>Top8</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/eusebio.jpg'%}">
  <div class="profile__name">エウセビオ</div>
  <div class="profile__answer">623ゴール</div>
  <div class="profile__desc">ポルトガル出身、ベンフィカ</div>
</div>

<h2>Top7</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/gerd.jpg'%}">
  <div class="profile__name">ゲルト・ミュラー</div>
  <div class="profile__answer">735ゴール</div>
  <div class="profile__desc">ドイツ出身、バイエルンミュンヘン</div>
</div>

<h2>Top6</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/puskas.jpg'%}">
  <div class="profile__name">フェレンツ・プスカシュ</div>
  <div class="profile__answer">746ゴール</div>
  <div class="profile__desc">ハンガリー出身、レアルマドリード</div>
</div>

<h2>Top5</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/messi.jpg'%}">
  <div class="profile__name">リオネル・メッシ</div>
  <div class="profile__answer">759ゴール</div>
  <div class="profile__desc">アルゼンチン出身、バルセロナ</div>
</div>

<h2>Top4</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/pele.jpg'%}">
  <div class="profile__name">ペレ</div>
  <div class="profile__answer">767ゴール</div>
  <div class="profile__desc">ブラジル出身、サントスFC</div>
</div>

<h2>Top3</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/romario.jpg'%}">
  <div class="profile__name">ロマーリオ</div>
  <div class="profile__answer">772ゴール</div>
  <div class="profile__desc">ブラジル出身、バルセロナ</div>
</div>

<h2>Top2</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/bican.jpg'%}">
  <div class="profile__name">ヨーゼフ・ビカン</div>
  <div class="profile__answer">805ゴール</div>
  <div class="profile__desc">オーストリア出身、VZヴィートコヴィツェ</div>
</div>

<h2>Top1</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/cristiano.jpg'%}">
  <div class="profile__name">クリスティアーノ・ロナウド</div>
  <div class="profile__answer">807ゴール</div>
  <div class="profile__desc">ポルトガル出身、レアルマドリード</div>
</div>

</body>
</html>