<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="/static/css/trivia_comedian.css?20221107">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat" >
    <title>Title</title>
</head>
<body>

<div class="container">

<nav>
  <a href="humor_summary">Humor</a>
  <a href="humor_summary">Top Page</a>
  <a href="life_summary">Life</a>
  <a href="trivia_summary">Trivia</a>
  <a href="diary_summary">Diary</a>
  <div class="animation start-home"></div>
</nav>

 <div class="main-img">
            <img src="{% static 'media_local/Image.jpg'%}"width="100%">
    　　　　<h1>芸人年収ランキング</h1>
　　　　　　　<p>Hello</p>
        </div>
  </div>

<h2>Top10</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/arita.jpg'%}">
  <div class="profile__name">有田哲平</div>
  <div class="profile__answer">年収5億3000万円</div>
  <div class="profile__desc">ナチュラルエイト</div>
</div>

<h2>Top9</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/ueda.jpg'%}">
  <div class="profile__name">上田晋也</div>
  <div class="profile__answer">年収6億2000万円</div>
  <div class="profile__desc">ナチュラルエイト</div>
</div>

<h2>Top8</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/hamada.jpg'%}">
  <div class="profile__name">浜田雅功</div>
  <div class="profile__answer">年収6億4000万円</div>
  <div class="profile__desc">吉本芸能</div>
</div>

<h2>Top7</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/sanma.jpg'%}">
  <div class="profile__name">明石家さんま</div>
  <div class="profile__answer">年収6億7000万円</div>
  <div class="profile__desc">吉本芸能</div>
</div>

<h2>Top6</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/tamori.jpg'%}">
  <div class="profile__name">タモリ</div>
  <div class="profile__answer">年収6億5000万円</div>
  <div class="profile__desc">田辺エージェンシー</div>
</div>

<h2>Top5</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/utimura.jpg'%}">
  <div class="profile__name">内村光良</div>
  <div class="profile__answer">年収7億3500万円</div>
  <div class="profile__desc">マセキ芸能</div>
</div>

<h2>Top4</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/matsumoto.jpg'%}">
  <div class="profile__name">松本人志</div>
  <div class="profile__answer">年収7億8000万円</div>
  <div class="profile__desc">吉本芸能</div>
</div>

<h2>Top3</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/bakusyo.jpg'%}">
  <div class="profile__name">爆笑問題</div>
  <div class="profile__answer">年収8億2000万円</div>
  <div class="profile__desc">タイタン</div>
</div>

<h2>Top2</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/ariyoshi.jpg'%}">
  <div class="profile__name">有吉弘行</div>
  <div class="profile__answer">年収8億4000万円</div>
  <div class="profile__desc">太田プロダクション</div>
</div>

<h2>Top1</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/takeshi.jpg'%}">
  <div class="profile__name">ビートたけし</div>
  <div class="profile__answer">年収15億8000万円</div>
  <div class="profile__desc">T.Nゴン</div>
</div>

</body>
</html>