<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="/static/css/population.css?20221227">
    <title>Title</title>
</head>
<body>

<h1>世界の人工ランキング</h1>
<h2>Top10</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/mexico.jpg'%}">
  <div class="profile__name">メキシコ</div>
  <div class="profile__answer">1.3億人</div>
</div>

<h2>Top9</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/russian.jpg'%}">
  <div class="profile__name">ロシア</div>
  <div class="profile__answer">1.4億人</div>
</div>

<h2>Top8</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/bangladesh.jpg'%}">
  <div class="profile__name">バングラデシュ</div>
  <div class="profile__answer">1.6億人</div>
</div>

<h2>Top7</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/brazil.jpg'%}">
  <div class="profile__name">ブラジル</div>
  <div class="profile__answer">2.1億人</div>
</div>

<h2>Top6</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/nigeria.jpg'%}">
  <div class="profile__name">ナイジェリア</div>
  <div class="profile__answer">2.1億人</div>
</div>

<h2>Top5</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/pakistan.jpg'%}">
  <div class="profile__name">パキスタン</div>
  <div class="profile__answer">2.2億人</div>
</div>

<h2>Top4</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/indonesia.jpg'%}">
  <div class="profile__name">インドネシア</div>
  <div class="profile__answer">2.7億人</div>
</div>

<h2>Top3</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/america.jpg'%}">
  <div class="profile__name">アメリカ</div>
  <div class="profile__answer">3.3億人</div>
</div>

<h2>Top2</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/india.jpg'%}">
  <div class="profile__name">インド</div>
  <div class="profile__answer">14億人</div>
</div>

<h2>Top1</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/china.jpg'%}">
  <div class="profile__name">中国</div>
  <div class="profile__answer">14.4億人</div>
</div>

</body>
</html>