<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/trivia_rich.css?2229">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <title>世界の金持ちランキング</title>
</head>
<body>

<div class="container">

    <nav>
        <a href="{% url 'blog:index' %}">表紙</a>
        <a href="humor_summary">ユーモア語録</a>
        <a href="life_summary">ユーモア小道具</a>
        <a href="trivia_summary">ユーモア豆知識</a>
        <a href="diary_summary">ユーモア日記</a>
        <div class="animation start-home"></div>
    </nav>


    <div class="main-img">
        <img src="{% static 'media_local/Image.jpg'%}" width="100%">
        　　　　<h1>世界の金持ちランキング</h1>
        　　　　　　　<p>Hello</p>
    </div>

    <!--吹き出しはじまり-->
    <div class="balloon5">
        <div class="faceicon">
            <img src="{% static 'media_local/cat.jpg'%}">
        </div>
        <div class="chatting">
            <div class="says">
                <p>皆さんこんちには、murachanです。今回は世界の金持ちランキングをまとめました。</p>
            </div>
        </div>
    </div>
    <!--吹き出し終わり-->


    <div class="flex">
        <div class="pr-area">
            <p class="sample_h_4">世界の金持ちランキング</p>

         <h2>Top10</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/ambani.jpg'%}">
  <div class="profile__name">ムケシュ・アンパニ</div>
  <div class="profile__answer">資産11.1兆円</div>
  <div class="profile__desc">インド出身、リライアンス会長</div>
</div>

<h2>Top9</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/ballmer.jpg'%}">
  <div class="profile__name">スティーブ・バルマー</div>
  <div class="profile__answer">資産11.2兆円</div>
  <div class="profile__desc">アメリカ出身、マイクロソフト社元最高責任者</div>
</div>

<h2>Top8</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/ellison.jpg'%}">
  <div class="profile__name">ラリー・エリソン</div>
  <div class="profile__answer">資産13.0兆円</div>
  <div class="profile__desc">アメリカ出身、オラクル設立者</div>
</div>

<h2>Top7</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/brin.jpg'%}">
  <div class="profile__name">セルゲイ・ブリン</div>
  <div class="profile__answer">資産13.1兆円</div>
  <div class="profile__desc">アメリカ出身、google共同創設者</div>
</div>

<h2>Top6</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/larry.jpg'%}">
  <div class="profile__name">ラリー・ペイジ</div>
  <div class="profile__answer">資産13.6兆円</div>
  <div class="profile__desc">アメリカ出身、google共同創業者</div>
</div>

<h2>Top5</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/warren.jpg'%}">
  <div class="profile__name">ウォーレン・バフェット</div>
  <div class="profile__answer">資産14.5兆円</div>
  <div class="profile__desc">アメリカ出身、投資家</div>
</div>

<h2>Top4</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/bill.jpg'%}">
  <div class="profile__name">ビル・ゲイツ</div>
  <div class="profile__answer">資産15.8兆円</div>
  <div class="profile__desc">アメリカ出身、マイクロソフト創設者</div>
</div>

<h2>Top3</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/bernard.jpg'%}">
  <div class="profile__name">ベルナール・アルノー</div>
  <div class="profile__answer">資産19.3兆円</div>
  <div class="profile__desc">フランス出身、LVMHのCEO</div>
</div>

<h2>Top2</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/jeffrey.jpg'%}">
  <div class="profile__name">ジェフ・ベゾス</div>
  <div class="profile__answer">資産21.0兆円</div>
  <div class="profile__desc">アメリカ出身、アマゾン創設者</div>
</div>

<h2>Top1</h2>
<div class="profile">
  <img class="profile__img" src="{% static 'media_local/iron_mask.jpg'%}">
  <div class="profile__name">イーロン・マスク</div>
  <div class="profile__answer">資産26.9兆円</div>
  <div class="profile__desc">アメリカ出身、テスラ創設者</div>
</div>

            <!--広告　-->
            <script async
                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
                    crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-format="autorelaxed"
                 data-ad-client="ca-pub-7095790727260609"
                 data-ad-slot="2203879905"></ins>
            <script>
     (adsbygoogle = window.adsbygoogle || []).push({});

            </script>
　　　　　　　 <!--広告　-->
        </div>


        <div class="sidebar">
            <div class="box71">
                <div class="box-title">🌀ユーモアな商材🌀</div>

                <a href="https://px.a8.net/svt/ejp?a8mat=3NL52J+40OCS2+1WP2+65EOH" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www26.a8.net/svt/bgt?aid=221016043243&wid=001&eno=01&mid=s00000008903001033000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3NL52J+40OCS2+1WP2+65EOH"
                     alt="">


                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+BOXHGY+2GMK+ZTFR5" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www22.a8.net/svt/bgt?aid=230304058707&wid=001&eno=01&mid=s00000011486006016000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3T47QY+BOXHGY+2GMK+ZTFR5"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+AQZRZM+2GMK+61C2P" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www26.a8.net/svt/bgt?aid=230304058650&wid=001&eno=01&mid=s00000011486001014000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3T47QY+AQZRZM+2GMK+61C2P"
                     alt="">


                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+BUADWY+6HW+3T0HG1" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www20.a8.net/svt/bgt?aid=230304058716&wid=001&eno=01&mid=s00000000842023013000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3T47QY+BUADWY+6HW+3T0HG1"
                     alt="">


                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+67V08I+1WP2+NX735" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www26.a8.net/svt/bgt?aid=230308128376&wid=001&eno=01&mid=s00000008903004018000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3T4AW0+67V08I+1WP2+NX735"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QZ+1FSQEQ+2J9U+5ZMCH" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www28.a8.net/svt/bgt?aid=230304059087&wid=001&eno=01&mid=s00000011829001006000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3T47QZ+1FSQEQ+2J9U+5ZMCH"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+65H9TE+3OP8+HX5B5" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www20.a8.net/svt/bgt?aid=230308128372&wid=001&eno=01&mid=s00000017198003010000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T4AW0+65H9TE+3OP8+HX5B5"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+4QVFEA+ONS+68EPD" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www28.a8.net/svt/bgt?aid=230308128287&wid=001&eno=01&mid=s00000003196001047000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T4AW0+4QVFEA+ONS+68EPD"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+662PF6+4LV4+61JSH" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www22.a8.net/svt/bgt?aid=230308128373&wid=001&eno=01&mid=s00000021496001015000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3T4AW0+662PF6+4LV4+61JSH"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+64AELU+53AC+614CX" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www29.a8.net/svt/bgt?aid=230308128370&wid=001&eno=01&mid=s00000023754001013000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T4AW0+64AELU+53AC+614CX"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+4YM29E+1IRY+25J2E9" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www28.a8.net/svt/bgt?aid=230308128300&wid=001&eno=01&mid=s00000007099013022000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T4AW0+4YM29E+1IRY+25J2E9"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+4WTRG2+11FS+67Z9T" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www27.a8.net/svt/bgt?aid=230308128297&wid=001&eno=01&mid=s00000004852001045000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3T4AW0+4WTRG2+11FS+67Z9T"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+4VMW8I+34QW+BYDTT" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www24.a8.net/svt/bgt?aid=230308128295&wid=001&eno=01&mid=s00000014612002008000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T4AW0+4VMW8I+34QW+BYDTT"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QZ+42GNLE+3SJ0+609HT" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www29.a8.net/svt/bgt?aid=230304059246&wid=001&eno=01&mid=s00000017694001009000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3T47QZ+42GNLE+3SJ0+609HT"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QZ+BWOVM+408S+5ZU29" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www25.a8.net/svt/bgt?aid=230304059020&wid=001&eno=01&mid=s00000018694001007000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T47QZ+BWOVM+408S+5ZU29"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+CSTJ02+4RNG+60WN5" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www22.a8.net/svt/bgt?aid=230304058774&wid=001&eno=01&mid=s00000022246001012000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T47QY+CSTJ02+4RNG+60WN5"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QX+36B8XE+ONS+TTDZ5" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www23.a8.net/svt/bgt?aid=230304057192&wid=001&eno=01&mid=s00000003196005008000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T47QX+36B8XE+ONS+TTDZ5"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QX+IGGJ6+53AC+ZRALD" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www21.a8.net/svt/bgt?aid=230304057031&wid=001&eno=01&mid=s00000023754006006000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3T47QX+IGGJ6+53AC+ZRALD"
                     alt="">


            </div>


            <div class="box71">
                <div class="box-title">🌀人気記事Top3🌀</div>
                　　　　　　　　　　
                <div class="div_design006">
                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/busaiku.jpg'%}">
                        <a href="humor_busaiku">ブスと言われたときのユーモアな返し7選</a>
                    </div>

                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/ikemen.jpg'%}">
                        <a href="humor_smart">モテる男の条件7選</a>
                    </div>

                    <div class="div_design006_contents">
                        <img src="{% static 'media_local/nickname.jpg'%}">
                        <a href="humor_nickname">ユーモアなあだな11選</a>
                    </div>
                </div>

            </div>

            <!--
            <div class="box72">
                <div class="box-title">🌀カテゴリ一覧🌀</div>
                <a href="" class="btn_04">名言</a>
                <a href="" class="btn_04">お金</a>
                <a href="" class="btn_04">お金</a>
                <a href="" class="btn_04">aaaaaaaaa</a>
                <a href="" class="btn_04">お金</a>
                <a href="" class="btn_04">お金</a>
            </div> -->

        </div>


    </div>
    <footer class="footer">

        <p>ユーモアな館</p>
        <ul class="md-flex">
            <li><a href="{% url 'blog:index' %}">表紙</a></li>
            <li><a href="humor_summary">ユーモア語録</a></li>
            <li><a href="life_summary">ユーモア小道具</a></li>
            <li><a href="trivia_summary">ユーモア豆知識</a></li>
            <li><a href="diary_summary">ユーモア日記</a></li>
        </ul>
    </footer>

</div>
</body>
</html>