<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
     crossorigin="anonymous"></script>
     <link rel="stylesheet" href="/static/css/trivia_game.css?20221113">
    <title>Title</title>
</head>
<body>
<h1>合コンで盛り上がるゲーム5厳選</h1>
<a href=""><img src="{% static 'media_local/party_game.jpg' %}"width="500px" height="300px"></a>
<div class="box11">

<h2>10円ゲーム</h2>
  <a href=""><img src="{% static 'media_local/10.jpg'%}"width="250px" height="150px"></a>
<h3>〔必要人数〕</h3>
<p>4人以上</p>
<h3>〔準備物〕</h3>
<ul>
  <li>おしぼり</li>
  <li>10円（人数分）</li>
  <li>下心（したごころ）</li>
</ul>

<ol class="list2">
  <li>List1</li>
  <li>List2</li>
  <li>List3</li>
  <li>List4</li>
</ol>


<h3>〔ルール説明〕</h3>
<ul>
  <li>机の真ん中におしぼりを広げて置く</li>
  <li>参加者全員に10円玉を1枚ずつ配る</li>
  <li>はい or いいえ で答えられるお題を1つ出す</li>
  <li>質問に対して「はい」の場合は10円の10を表にして、机の中央にあるおしぼりの下に入れる
  　　　質問に対して「いいえ」の場合は10円の家を表にして、おしぼりの下に入れる</li>
  <li>おしぼりの中に10円玉を入れる際は、他の人に見られないよう注意する</li>
  <li>全員が10円を入れ終わってから、10円玉がはみ出ないようおしぼりを回転させる（３回転くらいでOK）</li>
  <li>おしぼりを取り払い、10円の裏表を開票する</li>
</ul>

<h3>〔お題の例〕</h3>
<ul>
  <li>今日の飲み会が楽しい人</li>
  <li>この飲み会の中に気になる人がいる</li>
  <li>この中に後日2人でデートに行ってもいい人がいる</li>
  <li>この中にキスしたい人がいる</li>
  <li>今日は身を任せたい気分の人</li>
  <p>など</p>
</ul>

<h3>〔ワンポイントアドバイス〕</h3>
  <p>誰が「はい」に入れたかなどの犯人探しをしない方が
  相手側も正直に投票できるため、盛り上がると思います</p>
</div>

<div class="box12">
<h2>山手線ゲーム</h2>
<a href=""><img src="{% static 'media_local/trainmap.jpg'%}"width="250px" height="150px"></a>
  <h3>〔最低人数〕</h3>
<p>2人</p>
<h3>〔準備物〕</h3>
<ul>
  <li>個室（推奨)</li>
</ul>
<h3>〔ルール説明〕</h3>
<ul>
  <li>誰か1人がお題を決める</li>
  <li>お題を決めた人から時計回りで手拍子と共に順番に答える</li>
  <li>ゲームフロー</li>
  <p>お題提供者「〇〇から始まる〜」　※〇〇はお題提供者の名前</p>
  <p>参加者「イエーイ」　</p>
  <p>お題提供者「山手線ゲーム〜」</p>
  <p>参加者「イエーイ」</p>
  <p>お題提供者「お題は✖︎✖︎」　※✖︎✖︎は下記のお題例を参考下さい</p>
  <p>全員「せーのっ」</p>
  <p>全員「パンパン（手拍子）」→回答者「△△ （回答）」→全員「パンパン」→次の回答者「☆☆(回答)」</p>
  <li>以後繰り返し</li>
</ul>

<h3>〔お題の例〕</h3>
<ul>
  <li>〔色の種類〕</li>
  <li>国の名前</li>
  <li>スポーツの種類</li>
  <li>SMAPのメンバーの名前</li>
  <p>など</p>
</ul>

  <h3>〔ワンポイントアドバイス〕</h3>
  <p>たまに嵐のメンバーなど、回答数が限られるお題をチョイスすると
  　　盛り上がると思います</p>
</div>

<div class="box13">
<h2>31ゲーム</h2>
<a href=""><img src="{% static 'media_local/31.jpg'%}"width="250px" height="150px"></a>
<h3>〔最低人数〕</h3>
<p>2人</p>
<h3>〔準備物〕</h3>
<ul>
  <li>個室（推奨)</li>
</ul>
<h3>〔ルール説明〕</h3>
<ul>
  <li>1から順番に数字を言っていき、31を言ってしまった人が負けです。</li>
  <li>ゲームフロー</li>
  <p>Aさん「1,2,3」
  <p>Bさん「4、5」</p>
  <p>Cさん「6,7,8」</p>
  <p>・・・・Aさん「29,30」</p>
  <p>Bさん「31」（Bさんの負けです）</p>
</ul>

  <h3>〔ワンポイントアドバイス〕</h3>
  <p>席順を男女交互に座って行うことで、ハメ技や優しさ（敢えて31をいう)などレパートリーが増えるので
  　　より盛り上がると思います。</p>
</div>

<div class="box14">

<h2>ポッキーゲーム</h2>
<a href=""><img src="{% static 'media_local/pokki.jpg'%}"width="250px" height="150px"></a>
<h3>〔最低人数〕</h3>
<p>4人</p>
<h3>〔準備物〕</h3>
<ul>
  <li>個室（推奨)</li>
</ul>
<h3>〔ルール説明〕</h3>
<ul>
  <li>男女1組のペアになる</li>
  <li>ポッキーを1本取り出して、両端から2人で食べていく（ポテトなど、細長い食べ物でOK）</li>
  <li>顔を離したり、ポッキーが折れてしまったら負け</li>
  <li></li>
</ul>

  <h3>〔ワンポイントアドバイス〕</h3>
  <p>女性が嫌がっていたら辞めましょう</p>


</div>

<div class="box15">
<h2>笑ってはいけないゲーム</h2>
<a href=""><img src="{% static 'media_local/lauth.jpg'%}"width="250px" height="150px"></a>
<h3>〔最低人数〕</h3>
<p>4人</p>
<h3>〔準備物〕</h3>
<ul>
  <li>特になし</li>
</ul>
<h3>〔ルール説明〕</h3>
<ul>
  <li>10分間のストップウォッチを掛けます。</li>
  <li>スタートと同時に会話を始めます</li>
  <li>たわいもない会話の中でボケをかまし、笑いを取りに行く</li>
  <li>または何かのお題に沿って会話を進行して、笑いを取りに行く</li>

  <h3>〔ワンポイントアドバイス〕</h3>
  <p>女性が嫌がっていたら辞めましょう</p>
</ul>
</div>

</body>
</html>