<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/trivia_greatman.css?230339">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <link rel="icon" type="image/ico" href="{% static 'media_local/favicon.ico'%}">
    <title>偉人の名言集</title>
    <meta name="google-site-verification" content="0VtXnJ27yzGz0CEiPOL2d8_mVlvpZCxg6tq3uoYw35Y" />
</head>
<body>

<div class="container">

    <nav>
  <a href="{% url 'blog:index' %}">表紙</a>
  <a href="humor_summary">ユーモア語録</a>
  <a href="life_summary">ユーモア小道具</a>
  <a href="trivia_summary">ユーモア豆知識</a>
  <a href="fashion_summary">ユーモア身嗜み</a>
        <div class="animation start-home"></div>
    </nav>

    <div class="main-img">
        <img src="{% static 'media_local/Image.jpg'%}" width="100%">
        　　　　<h1>偉人の名言集</h1>
        　　　　　　　<p>Hello</p>
    </div>
    <div class="main-under">
        <p>こんにちは村ちゃんです。今回は偉人の「名言」についてまとめてみました。</p>

    </div>
    <div class="contents">
        <ol>
            <p>お品書き</p>
            <li><a href="#soccer">サッカー選手</a></li>
            <li><a href="#baseball">野球選手</a></li>
            <li><a href="#fighter">格闘家</a></li>
            <li><a href="#richer">社長</a></li>
            <li><a href="#vote">投資家</a></li>
            <li><a href="#actor">俳優</a></li>
            <li><a href="#actress">女優</a></li>
            <li><a href="#murachan">murachan</a></li>

        </ol>
    </div>

    <div class="main">
        <hr class="cp_hr10"/>
　　　　　
        <h2 id="soccer">サッカー選手</h2>

        <!--右の吹き出し-->
        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/messi2.jpg'%}">
                <figcaption>リオネル・メッシ</figcaption>
            </figure>
            <div class="talking-left">
                <p>乗るべき列車は一度しか通らない</p>
            </div>
        </div>
        <!--右の吹き出し終わり-->

        <div class="talking">
            <figure class="talking-right_icon">
                <img src="{% static 'media_local/beckham.jpg'%}">
                <figcaption>デビット・ベッカム</figcaption>
            </figure>
            <div class="talking-right">
                <p>何かを必死でやりたいと思えば、<br>道は開けていくものだ</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/craif.jpg'%}">
                <figcaption>ヨハン・クライフ</figcaption>
            </figure>
            <div class="talking-left">
                <p>自分に何ができないかを知ることが<br>出来ねばならない</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-right_icon">
                <img src="{% static 'media_local/graudiola.jpg'%}">
                <figcaption>グラウディオラ</figcaption>
            </figure>
            <div class="talking-right">
                <p>調子の悪かった選手は許せるが<br>努力をしない選手は絶対に許せない</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/miura.jpg'%}">
                <figcaption>三浦知良</figcaption>
            </figure>
            <div class="talking-left">
                <p>相手はいるんだけど、敵は自分自身なんだよね</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-right_icon">
                <img src="{% static 'media_local/honda.jpg'%}">
                <figcaption>本田圭介</figcaption>
            </figure>
            <div class="talking-right">
                <p>一年後の成功を想像すると<br>日々の地道な作業を取り組むことができる</p>
            </div>
        </div>

         <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/nagatomo.jpg'%}">
                <figcaption>長友佑都</figcaption>
            </figure>
            <div class="talking-left">
                <p>小さな幸せを意識するからこそ<br>努力も継続できる</p>
            </div>
        </div>
        <hr class="cp_hr10"/>
        <h2 id="baseball">野球選手</h2>


        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/oh.jpg'%}">
                <figcaption>王貞治</figcaption>
            </figure>
            <div class="talking-left">
                <p>敵と戦う時間は短い。<br>自分との戦いこそが明暗を分ける</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-right_icon">
                <img src="{% static 'media_local/nomura.jpg'%}">
                <figcaption>野村克也</figcaption>
            </figure>
            <div class="talking-right">
                <p>若い時に流さなかった汗は<br>年をとった時の涙となる</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/hara.jpg'%}">
                <figcaption>原辰徳</figcaption>
            </figure>
            <div class="talking-left">
                <p>目標の定まった人というのは<br>波風があったとしてもブレない</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-right_icon">
                <img src="{% static 'media_local/shinjo.jpg'%}">
                <figcaption>新庄剛志</figcaption>
            </figure>
            <div class="talking-right">
                <p>まわりにバカにされようが自分を信じて<br>トライしていれば必ず道は開ける</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/matsui.jpg'%}">
                <figcaption>松井秀喜</figcaption>
            </figure>
            <div class="talking-left">
                <p>悔しさはそれに耐えられる<br>人間にしか与えられない</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-right_icon">
                <img src="{% static 'media_local/kuroda.jpg'%}">
                <figcaption>黒田博樹</figcaption>
            </figure>
            <div class="talking-right">
                <p>恐怖なくして、一流の道無し</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/darubish.jpg'%}">
                <figcaption>ダルビッシュ有</figcaption>
            </figure>
            <div class="talking-left">
                <p>一瞬一瞬、今日を一生懸命に生きたい</p>
            </div>
        </div>

        <hr class="cp_hr10"/>
        <h2 id="fighter">格闘家</h2>

        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/callman.jpg'%}">
                <figcaption>マーク・コールマン</figcaption>
            </figure>
            <div class="talking-left">
                <p>人生とはうまくいかないものだ</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-right_icon">
                <img src="{% static 'media_local/asakura.jpg'%}">
                <figcaption>朝倉未来</figcaption>
            </figure>
            <div class="talking-right">
                <p>人生の中で信じられるものが<br>一つでもあればそれは幸せなこと</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/shibata.jpg'%}">
                <figcaption>シバター</figcaption>
            </figure>
            <div class="talking-left">
                <p>映画にも人生にも意味なんてなくて良い。<br>楽しければ</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-right_icon">
                <img src="{% static 'media_local/horiguchi.jpg'%}">
                <figcaption>堀口恭二</figcaption>
            </figure>
            <div class="talking-right">
                <p>自分が自分自身を信じられるぐらい<br>努力しています</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/ari.jpg'%}">
                <figcaption>モハメド・アリ</figcaption>
            </figure>
            <div class="talking-left">
                <p>辞めるな。今苦しんで、<br>残りの人生をチャンピョンとして生きろ</p>
            </div>
        </div>

         <div class="talking">
            <figure class="talking-right_icon">
                <img src="{% static 'media_local/taison.jpg'%}">
                <figcaption>マイク・タイソン</figcaption>
            </figure>
            <div class="talking-right">
                <p>偉大さへの誘惑は、世界最大の薬である</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/meiwether.jpg'%}">
                <figcaption>メイウェザー</figcaption>
            </figure>
            <div class="talking-left">
                <p>良い日もあるだろう。悪い日もあるだろう。<br>一番重要なことは精神的に成長していくことだ</p>
            </div>
        </div>
　　　　　
        <hr class="cp_hr10"/>
         <h2 id="richer">社長</h2>

        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/sohichiro.jpg'%}">
                <figcaption>本田宗一郎</figcaption>
            </figure>
            <div class="talking-left">
                <p>成功とは99%の失敗に支えられた1%良い日も<br>あるだろう。悪い日もあるだろう。<br>一番重要なことは精神的に成長していくことだ</p>
            </div>
        </div>


        <div class="talking">
            <figure class="talking-right_icon">
                <img src="{% static 'media_local/takata.jpg'%}">
                <figcaption>高田明（ジャパネット）</figcaption>
            </figure>
            <div class="talking-right">
                <p>一生懸命やらなかったことが失敗、<br>やってだめだったことは失敗じゃない</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/ando.jpg'%}">
                <figcaption>安藤百福(日清食品)</figcaption>
            </figure>
            <div class="talking-left">
                <p>順調な時ほど危機が訪れる</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-right_icon">
                <img src="{% static 'media_local/fujita.jpg'%}">
                <figcaption>藤田晋(サイバーエージェント)</figcaption>
            </figure>
            <div class="talking-right">
                <p>これからはもう何があっても信念を曲げない</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/jobs.jpg'%}">
                <figcaption>ジョブズ</figcaption>
            </figure>
            <div class="talking-left">
                <p>今はまだリスクが溢れている<br>これはとても良いことだ</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-right_icon">
                <img src="{% static 'media_local/masui.jpg'%}">
                <figcaption>柳井正(ユニクロ)</figcaption>
            </figure>
            <div class="talking-right">
                <p>成功の陰には必ず失敗がある</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/karnegi.jpg'%}">
                <figcaption>カーネギー</figcaption>
            </figure>
            <div class="talking-left">
                <p>現状に不満を持つことはいいことだ</p>
            </div>
        </div>
　　　　　
        <hr class="cp_hr10"/>
         <h2 id="vote">投資家</h2>　


        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/hawarld.jpg'%}">
                <figcaption>ハワード・マークス</figcaption>
            </figure>
            <div class="talking-left">
                <p>何が起きるか確信を持てたことなど一度もない</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-right_icon">
                <img src="{% static 'media_local/ushida.jpg'%}">
                <figcaption>牛田権三郎</figcaption>
            </figure>
            <div class="talking-right">
                <p>人の行く裏に道あり花の山</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/paphet.jpg'%}">
                <figcaption>バフェット</figcaption>
            </figure>
            <div class="talking-left">
                <p>失敗にこだわり過ぎてはいけません。<br>明日は来ます</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-right_icon">
                <img src="{% static 'media_local/sorosu.jpg'%}">
                <figcaption>ジョージ・ソロス</figcaption>
            </figure>
            <div class="talking-right">
                <p>自分の思考と現実の違いを思い知らせれるのは<br>苦い経験によってのみである</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/chaly.jpg'%}">
                <figcaption>チャーリー</figcaption>
            </figure>
            <div class="talking-left">
                <p>クソに干しブドウを混ぜてみても<br>クソはクソに変わりはない</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-right_icon">
                <img src="{% static 'media_local/peater.jpg'%}">
                <figcaption>ピーター・リンチ</figcaption>
            </figure>
            <div class="talking-right">
                <p>大当たりを狙った投資が<br>報われることはほとんどないい</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/kiyosaki.jpg'%}">
                <figcaption>ロバート・キヨサキ</figcaption>
            </figure>
            <div class="talking-left">
                <p>お金のために働いてはならない。<br>お金をあなたのために働かせなさい</p>
            </div>
        </div>

        <hr class="cp_hr10"/>
         <h2 id="actor">俳優</h2>

        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/takeshi2.jpg'%}">
                <figcaption>ビートたけし</figcaption>
            </figure>
            <div class="talking-left">
                <p>勉強するから、何をしたいか分かる。<br>勉強しないから、何をしたいか分からない</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-right_icon">
                <img src="{% static 'media_local/odagiri.jpg'%}">
                <figcaption>オダギリジョー</figcaption>
            </figure>
            <div class="talking-right">
                <p>洗濯するのは時間がかかるけど、<br>汚れるのはあっという間</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/tom.jpg'%}">
                <figcaption>トム・クルーズ</figcaption>
            </figure>
            <div class="talking-left">
                <p>困難に直面したのなら、溺れるか,<br>泳ぐかのどちらかしかないんだ</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-right_icon">
                <img src="{% static 'media_local/sheiku.jpg'%}">
                <figcaption>シェイクスピア</figcaption>
            </figure>
            <div class="talking-right">
                <p>人生は舞台。人はみな大根役者</p>
            </div>
        </div>
　　　　　
        <hr class="cp_hr10"/>
         <h2 id="actress">女優</h2>


         <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/odori.jpg'%}">
                <figcaption>オードリー・ヘップバーン</figcaption>
            </figure>
            <div class="talking-left">
                <p>不可能なんて言葉は存在しないわ。<br>言葉自体が私にはできると言ってるんだから</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-right_icon">
                <img src="{% static 'media_local/kiki.jpg'%}">
                <figcaption>樹木希林</figcaption>
            </figure>
            <div class="talking-right">
                <p>おごらず、人と比べず、<br>面白がって平気に生きればいい</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/anjerina.jpg'%}">
                <figcaption>アンジェリーナ・ジョリー</figcaption>
            </figure>
            <div class="talking-left">
                <p>幸せになる方法はたったひとつ。<br>それは毎日を、人生の最後の日であるか<br>のように生きること</p>
            </div>
        </div>

         <div class="talking">
            <figure class="talking-right_icon">
                <img src="{% static 'media_local/diet.jpg'%}">
                <figcaption>ディートリッヒ</figcaption>
            </figure>
            <div class="talking-right">
                <p>愛とは、愛することを楽しむこと。<br>愛されることを待つことではない</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/rasseru.jpg'%}">
                <figcaption>ラッセル</figcaption>
            </figure>
            <div class="talking-left">
                <p>女性が一番キレイに見えるメイクは、<br>人生を楽しむことよ</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-right_icon">
                <img src="{% static 'media_local/maririn.jpg'%}">
                <figcaption>マリリン・モンロー</figcaption>
            </figure>
            <div class="talking-right">
                <p>もし私が全てのルールを守ってたら、<br>成功なんてしていなかったでしょうね</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/barimoa.jpg'%}">
                <figcaption>ドリュー・バリモア</figcaption>
            </figure>
            <div class="talking-left">
                <p>私にとってお金は<br>人を火傷させる燃える紙よ</p>
            </div>
        </div>
　　　　　
        <hr class="cp_hr10"/>

         <h2 id="murachan">murachan</h2>


        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/Image.jpg'%}">
                <figcaption>murachan</figcaption>
            </figure>
            <div class="talking-left">
                <p>全ては夢に尽きる</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-right_icon">
                <img src="{% static 'media_local/Image.jpg'%}">
                <figcaption>murachan</figcaption>
            </figure>
            <div class="talking-right">
                <p>人生なるとかなる</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/Image.jpg'%}">
                <figcaption>murachan</figcaption>
            </figure>
            <div class="talking-left">
                <p>夢を持ち、夢に向かい、夢を掴む</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-right_icon">
                <img src="{% static 'media_local/Image.jpg'%}">
                <figcaption>murachan</figcaption>
            </figure>
            <div class="talking-right">
                <p>朝はまた来る</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/Image.jpg'%}">
                <figcaption>murachan</figcaption>
            </figure>
            <div class="talking-left">
                <p>自分を信じろ</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-right_icon">
                <img src="{% static 'media_local/Image.jpg'%}">
                <figcaption>murachan</figcaption>
            </figure>
            <div class="talking-right">
                <p>自分に負けるな</p>
            </div>
        </div>

        <div class="talking">
            <figure class="talking-left_icon">
                <img src="{% static 'media_local/Image.jpg'%}">
                <figcaption>murachan</figcaption>
            </figure>
            <div class="talking-left">
                <p>最期はろくでもない人生だったと笑って<br>死ねるほど走り抜けたい</p>
            </div>
        </div>


        <!--広告　-->
            <script async
                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
                    crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-format="autorelaxed"
                 data-ad-client="ca-pub-7095790727260609"
                 data-ad-slot="2203879905"></ins>
            <script>
     (adsbygoogle = window.adsbygoogle || []).push({});

            </script>
　　　　　　　 <!--広告　-->



        <footer>
            <div class="clearfix">
                <div class="footer-left">

                    <p>ユーモアな館</p>

                </div>

            </div>
            <p class="copyright"></p>
        </footer>

    </div>

    <div class="sidebar">
        <p>🌀ユーモアな商材🌀</p>


        <table cellpadding="0" cellspacing="0" border="0" style=" border:1px solid #ccc; width:300px;">
            <tbody>
            <tr style="border-style:none;">
                <td style="vertical-align:top; border-style:none; padding:10px; width:44px;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00s6jz4.2bo11801.g00s6jz4.2bo1291f%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fkosupure55%252Fd102-44-potato%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fkosupure55%252Fi%252F10001591%252F"
                        rel="nofollow"><img border="0" alt=""
                                            src="https://thumbnail.image.rakuten.co.jp/@0_mall/kosupure55/cabinet/sp09/spd_1564973611973_0.jpg?_ex=64x64"/></a>
                </td>
                <td style="font-size:12px; vertical-align:middle; border-style:none; padding:10px;"><p
                        style="padding:0; margin:0;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00s6jz4.2bo11801.g00s6jz4.2bo1291f%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fkosupure55%252Fd102-44-potato%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fkosupure55%252Fi%252F10001591%252F"
                        rel="nofollow">面白い コスプレ ハロウィン フライドポテト 着ぐるみ おもしろ コスチューム ポテト 衣装 おもしろい 仮装</a></p>
                    <p style="color:#666; margin-top:5px line-height:1.5;"></p></td>
            </tr>
            </tbody>
        </table>
        <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT" alt="">

        <table cellpadding="0" cellspacing="0" border="0" style=" border:1px solid #ccc; width:300px;">
            <tbody>
            <tr style="border-style:none;">
                <td style="vertical-align:top; border-style:none; padding:10px; width:44px;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00s9ql4.2bo1176d.g00s9ql4.2bo12372%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Foilhonpo%252Ftoy-16320-120%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Foilhonpo%252Fi%252F10000400%252F"
                        rel="nofollow"><img border="0" alt=""
                                            src="https://thumbnail.image.rakuten.co.jp/@0_mall/oilhonpo/cabinet/06366786/imgrc0070117066.jpg?_ex=64x64"/></a>
                </td>
                <td style="font-size:12px; vertical-align:middle; border-style:none; padding:10px;"><p
                        style="padding:0; margin:0;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00s9ql4.2bo1176d.g00s9ql4.2bo12372%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Foilhonpo%252Ftoy-16320-120%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Foilhonpo%252Fi%252F10000400%252F"
                        rel="nofollow">送料無料 ぬいぐるみ 人形 抱き枕 男の子 昼休みクッション 面白いぬいぐるみ 大きい クリスマス お誕生日 記念日 プレゼント お祝い 飾り物 撮影道具
                    ギフト100cm</a></p>
                    <p style="color:#666; margin-top:5px line-height:1.5;"></p></td>
            </tr>
            </tbody>
        </table>
        <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT" alt="">

        <table cellpadding="0" cellspacing="0" border="0" style=" border:1px solid #ccc; width:300px;">
            <tbody>
            <tr style="border-style:none;">
                <td style="vertical-align:top; border-style:none; padding:10px; width:44px;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00q0724.2bo11c45.g00q0724.2bo12179%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fbook%252F16417867%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fbook%252Fi%252F20095081%252F"
                        rel="nofollow"><img border="0" alt=""
                                            src="https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/8381/9784537218381_1_3.jpg?_ex=64x64"/></a>
                </td>
                <td style="font-size:12px; vertical-align:middle; border-style:none; padding:10px;"><p
                        style="padding:0; margin:0;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00q0724.2bo11c45.g00q0724.2bo12179%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fbook%252F16417867%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fbook%252Fi%252F20095081%252F"
                        rel="nofollow">眠れなくなるほど面白い 図解 世界史 世界史の流れとつながり 地理・出来事がまるわかり！ [ 鈴木 旭 ]</a></p>
                    <p style="color:#666; margin-top:5px line-height:1.5;"></p></td>
            </tr>
            </tbody>
        </table>
        <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT" alt="">
        　
        <table cellpadding="0" cellspacing="0" border="0" style=" border:1px solid #ccc; width:300px;">
            <tbody>
            <tr style="border-style:none;">
                <td style="vertical-align:top; border-style:none; padding:10px; width:44px;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00s4gp4.2bo1145a.g00s4gp4.2bo12e90%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fdear-book%252Fb09pfzt8dg%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fdear-book%252Fi%252F10545864%252F"
                        rel="nofollow"><img border="0" alt=""
                                            src="https://thumbnail.image.rakuten.co.jp/@0_mall/dear-book/cabinet/nonst0432/b09pfzt8dg00.jpg?_ex=64x64"/></a>
                </td>
                <td style="font-size:12px; vertical-align:middle; border-style:none; padding:10px;"><p
                        style="padding:0; margin:0;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00s4gp4.2bo1145a.g00s4gp4.2bo12e90%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fdear-book%252Fb09pfzt8dg%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fdear-book%252Fi%252F10545864%252F"
                        rel="nofollow">ナイトライト 授乳ライト ベッドサイドランプ キウイ鳥 口でコントロール 間接照明 USB充電式 タイマー機能 暖光&amp;白い光 無段階輝度調節
                    面白いデザイン
                    目に優しい 可愛い 寝室 テーブ...</a></p>
                    <p style="color:#666; margin-top:5px line-height:1.5;"></p></td>
            </tr>
            </tbody>
        </table>
        <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT" alt="">

        <table cellpadding="0" cellspacing="0" border="0" style=" border:1px solid #ccc; width:300px;">
            <tbody>
            <tr style="border-style:none;">
                <td style="vertical-align:top; border-style:none; padding:10px; width:44px;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00s89a4.2bo11640.g00s89a4.2bo1261e%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fumineko-shoji%252Fpp-pert-adl-02-free-cpn%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fumineko-shoji%252Fi%252F10007511%252F"
                        rel="nofollow"><img border="0" alt=""
                                            src="https://thumbnail.image.rakuten.co.jp/@0_gold/umineko-shoji/umineko/img/PP-PERT-ADL-02-FREE_1.gif?_ex=64x64"/></a>
                </td>
                <td style="font-size:12px; vertical-align:middle; border-style:none; padding:10px;"><p
                        style="padding:0; margin:0;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00s89a4.2bo11640.g00s89a4.2bo1261e%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fumineko-shoji%252Fpp-pert-adl-02-free-cpn%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fumineko-shoji%252Fi%252F10007511%252F"
                        rel="nofollow">本格 ハロウィン 衣装 コスプレ 仮装 コスチューム 男 男性 メンズ レディース うける 面白い かっこいい お手軽13点セット ピエロ 道化師 人気者
                    なりきり 大人 フリーサイズ お買い物マラソン お家遊び 家 遊び 室内 遊び着 zoom オンライン 飲み会 宅飲み</a></p>
                    <p style="color:#666; margin-top:5px line-height:1.5;"></p></td>
            </tr>
            </tbody>
        </table>
        <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT" alt="">　　　　

        <table cellpadding="0" cellspacing="0" border="0" style=" border:1px solid #ccc; width:300px;">
            <tbody>
            <tr style="border-style:none;">
                <td style="vertical-align:top; border-style:none; padding:10px; width:44px;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00s89a4.2bo11640.g00s89a4.2bo1261e%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fumineko-shoji%252Fpp-md-adl-02-pk-m-np%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fumineko-shoji%252Fi%252F10006768%252F"
                        rel="nofollow"><img border="0" alt=""
                                            src="https://thumbnail.image.rakuten.co.jp/@0_gold/umineko-shoji/umineko/img/PP-MD-ADL-02_1.gif?_ex=64x64"/></a>
                </td>
                <td style="font-size:12px; vertical-align:middle; border-style:none; padding:10px;"><p
                        style="padding:0; margin:0;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00s89a4.2bo11640.g00s89a4.2bo1261e%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fumineko-shoji%252Fpp-md-adl-02-pk-m-np%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fumineko-shoji%252Fi%252F10006768%252F"
                        rel="nofollow">ハロウィン 衣装 コスプレ 仮装 コスチューム かわいい お手軽5点セット レディース 猫耳 メイド ドレス コスチューム M ピンク お家遊び 家 遊び 室内
                    遊び着 zoom オンライン 飲み会 宅飲み</a></p>
                    <p style="color:#666; margin-top:5px line-height:1.5;"></p></td>
            </tr>
            </tbody>
        </table>
        <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT" alt="">

        　　　
        <table cellpadding="0" cellspacing="0" border="0" style=" border:1px solid #ccc; width:300px;">
            <tbody>
            <tr style="border-style:none;">
                <td style="vertical-align:top; border-style:none; padding:10px; width:44px;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00psme4.2bo116ca.g00psme4.2bo12e0d%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fe-katorea%252F10000648c2%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fe-katorea%252Fi%252F10002481%252F"
                        rel="nofollow"><img border="0" alt=""
                                            src="https://thumbnail.image.rakuten.co.jp/@0_mall/e-katorea/cabinet/00207465/03037163/imgrc0070977758.jpg?_ex=64x64"/></a>
                </td>
                <td style="font-size:12px; vertical-align:middle; border-style:none; padding:10px;"><p
                        style="padding:0; margin:0;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00psme4.2bo116ca.g00psme4.2bo12e0d%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fe-katorea%252F10000648c2%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fe-katorea%252Fi%252F10002481%252F"
                        rel="nofollow">「ヘパリーゼGT270錠」【2個セットで送料無料】【第3類医薬品】【あす楽対応】(ヘパリーゼ/滋養強壮剤/錠剤/送料無料/へパリーゼ　錠剤/ゼリア新薬/宴会/忘年会/
                    接待 / 飲み会)</a></p>
                    <p style="color:#666; margin-top:5px line-height:1.5;"></p></td>
            </tr>
            </tbody>
        </table>
        <img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT" alt="">

        <table cellpadding="0" cellspacing="0" border="0" style=" border:1px solid #ccc; width:300px;">
            <tbody>
            <tr style="border-style:none;">
                <td style="vertical-align:top; border-style:none; padding:10px; width:44px;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00s1jx4.2bo11ce1.g00s1jx4.2bo125fd%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fkoplina%252F4975673110218-3%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fkoplina%252Fi%252F10000181%252F"
                        rel="nofollow"><img border="0" alt=""
                                            src="https://thumbnail.image.rakuten.co.jp/@0_mall/koplina/cabinet/07890061/02561-3p-fullimg01.jpg?_ex=64x64"/></a>
                </td>
                <td style="font-size:12px; vertical-align:middle; border-style:none; padding:10px;"><p
                        style="padding:0; margin:0;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00s1jx4.2bo11ce1.g00s1jx4.2bo125fd%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fkoplina%252F4975673110218-3%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fkoplina%252Fi%252F10000181%252F"
                        rel="nofollow">紀州産梅ハニップ 590g
                    3本セット【希釈ドリンク/梅ジュース/おうち飲み会/ノンアルコール/ウメ/4倍希釈10％果汁/手作り風/甘さ控えめ/健康食品/安心国内製造/コプリナ/送料無料】</a></p>
                    <p style="color:#666; margin-top:5px line-height:1.5;"></p></td>
            </tr>
            </tbody>
        </table>
        <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT" alt="">
        <table cellpadding="0" cellspacing="0" border="0" style=" border:1px solid #ccc; width:300px;">
            <tbody>
            <tr style="border-style:none;">
                <td style="vertical-align:top; border-style:none; padding:10px; width:44px;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00pt564.2bo11666.g00pt564.2bo12bfe%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fmixnuts%252Fmtr097%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fmixnuts%252Fi%252F10027358%252F"
                        rel="nofollow"><img border="0" alt=""
                                            src="https://thumbnail.image.rakuten.co.jp/@0_mall/mixnuts/cabinet/040/mtr097.jpg?_ex=64x64"/></a>
                </td>
                <td style="font-size:12px; vertical-align:middle; border-style:none; padding:10px;"><p
                        style="padding:0; margin:0;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00pt564.2bo11666.g00pt564.2bo12bfe%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fmixnuts%252Fmtr097%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fmixnuts%252Fi%252F10027358%252F"
                        rel="nofollow">パーティーグッズ 変顔マスク 爆笑 1個販売 お面 かぶりもの 覆面 衣装 変装グッズ 仮面 流行 仮装 コスプレ 大人用　忘年会 新年会 リアル ユニーク 余興
                    コスチューム ネタ 爆笑 宴会 学園祭 面白い ハロウィーン リモート 飲み会 拘束具 ホラー映画 博士 SM風 噛みつき魔</a></p>
                    <p style="color:#666; margin-top:5px line-height:1.5;"></p></td>
            </tr>
            </tbody>
        </table>
        <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT" alt="">
        <table cellpadding="0" cellspacing="0" border="0" style=" border:1px solid #ccc; width:300px;">
            <tbody>
            <tr style="border-style:none;">
                <td style="vertical-align:top; border-style:none; padding:10px; width:44px;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00tfux4.2bo11b2a.g00tfux4.2bo12eb5%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Farsion%252Fclo774%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Farsion%252Fi%252F10000549%252F"
                        rel="nofollow"><img border="0" alt=""
                                            src="https://thumbnail.image.rakuten.co.jp/@0_mall/arsion/cabinet/08918292/clo774_00.jpg?_ex=64x64"/></a>
                </td>
                <td style="font-size:12px; vertical-align:middle; border-style:none; padding:10px;"><p
                        style="padding:0; margin:0;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00tfux4.2bo11b2a.g00tfux4.2bo12eb5%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Farsion%252Fclo774%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Farsion%252Fi%252F10000549%252F"
                        rel="nofollow">ドラキュラゴースト マント 防風 フード コスチューム 仮装 コスプレ衣装 パーティー 飲み会 ハロウイン ライブ ひと盛り上がり 送料無料</a></p>
                    <p style="color:#666; margin-top:5px line-height:1.5;"></p></td>
            </tr>
            </tbody>
        </table>
        <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT" alt="">
        <table cellpadding="0" cellspacing="0" border="0" style=" border:1px solid #ccc; width:300px;">
            <tbody>
            <tr style="border-style:none;">
                <td style="vertical-align:top; border-style:none; padding:10px; width:44px;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00r7vg4.2bo11051.g00r7vg4.2bo124de%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fnijitora%252F10011975%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fnijitora%252Fi%252F10011975%252F"
                        rel="nofollow"><img border="0" alt=""
                                            src="https://thumbnail.image.rakuten.co.jp/@0_mall/nijitora/cabinet/2015/sam/ss0240.jpg?_ex=64x64"/></a>
                </td>
                <td style="font-size:12px; vertical-align:middle; border-style:none; padding:10px;"><p
                        style="padding:0; margin:0;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00r7vg4.2bo11051.g00r7vg4.2bo124de%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fnijitora%252F10011975%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fnijitora%252Fi%252F10011975%252F"
                        rel="nofollow">景品 セット 松阪牛 うなぎ 景品 4点 セット 商品引換券 あす楽 送料無料 | 二次会 景品 忘年会 景品 ビンゴ セット ボウリング大会 結婚式二次会 景品
                    結婚式 披露宴 ゴルフ景品 ゴルフコンペ ビンゴ景品 コンペ 賞品 コンペ景品 会社 イベント 社内 行事 飲み会 歓送迎会</a></p>
                    <p style="color:#666; margin-top:5px line-height:1.5;"></p></td>
            </tr>
            </tbody>
        </table>
        <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT" alt="">
        <table cellpadding="0" cellspacing="0" border="0" style=" border:1px solid #ccc; width:300px;">
            <tbody>
            <tr style="border-style:none;">
                <td style="vertical-align:top; border-style:none; padding:10px; width:44px;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00s51l4.2bo115c2.g00s51l4.2bo12b14%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fagripartner%252Fbeef-mutenka-j1600%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fagripartner%252Fi%252F10001771%252F"
                        rel="nofollow"><img border="0" alt=""
                                            src="https://thumbnail.image.rakuten.co.jp/@0_mall/agripartner/cabinet/meet/newmutenka/beef-mutenka1-40pr.jpg?_ex=64x64"/></a>
                </td>
                <td style="font-size:12px; vertical-align:middle; border-style:none; padding:10px;"><p
                        style="padding:0; margin:0;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00s51l4.2bo115c2.g00s51l4.2bo12b14%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fagripartner%252Fbeef-mutenka-j1600%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fagripartner%252Fi%252F10001771%252F"
                        rel="nofollow">期間限定 10％オフ 業務用 燻製職人の無添加ビーフジャーキー 40袋 セット おつまみ 珍味 送料無料 お試し おやつ 飲み会 山形 40g×40袋 セット
                    無添加[無添加ビーフジャーキー40袋]【ラッピング対応】 即送</a></p>
                    <p style="color:#666; margin-top:5px line-height:1.5;"></p></td>
            </tr>
            </tbody>
        </table>
        <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT" alt="">
        <table cellpadding="0" cellspacing="0" border="0" style=" border:1px solid #ccc; width:300px;">
            <tbody>
            <tr style="border-style:none;">
                <td style="vertical-align:top; border-style:none; padding:10px; width:44px;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00s1jy4.2bo119d2.g00s1jy4.2bo129ec%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Finstore%252Ftequilaball-50set%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Finstore%252Fi%252F10000987%252F"
                        rel="nofollow"><img border="0" alt=""
                                            src="https://thumbnail.image.rakuten.co.jp/@0_mall/instore/cabinet/tb/50_01.jpg?_ex=64x64"/></a>
                </td>
                <td style="font-size:12px; vertical-align:middle; border-style:none; padding:10px;"><p
                        style="padding:0; margin:0;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00s1jy4.2bo119d2.g00s1jy4.2bo129ec%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Finstore%252Ftequilaball-50set%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Finstore%252Fi%252F10000987%252F"
                        rel="nofollow">【SS中10％off】TEQUILA BALL テキーラボール 50個入り オレンジ パイナップル ヨーグルト カシス ストロベリー 各味わい10個 お酒 飲み会
                    パーティー 結婚式 二次会 三次会 盛り上がる お店 バー クラブ イベント フェス 幹事 パーティーグッズ リキュール入りスイーツ</a></p>
                    <p style="color:#666; margin-top:5px line-height:1.5;"></p></td>
            </tr>
            </tbody>
        </table>
        <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT" alt="">
        <table cellpadding="0" cellspacing="0" border="0" style=" border:1px solid #ccc; width:300px;">
            <tbody>
            <tr style="border-style:none;">
                <td style="vertical-align:top; border-style:none; padding:10px; width:44px;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00psme4.2bo116ca.g00psme4.2bo12e0d%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fe-katorea%252F4987103048466set5%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fe-katorea%252Fi%252F10002671%252F"
                        rel="nofollow"><img border="0" alt=""
                                            src="https://thumbnail.image.rakuten.co.jp/@0_mall/e-katorea/cabinet/08971453/09037259/4987103048466set5.jpg?_ex=64x64"/></a>
                </td>
                <td style="font-size:12px; vertical-align:middle; border-style:none; padding:10px;"><p
                        style="padding:0; margin:0;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00psme4.2bo116ca.g00psme4.2bo12e0d%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fe-katorea%252F4987103048466set5%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fe-katorea%252Fi%252F10002671%252F"
                        rel="nofollow">ヘパリーゼドリンク2　50mL×10本×【5個セット】【送料無料】【第3類医薬品】【あす楽対応】(ヘパリーゼ/滋養強壮/送料無料/へパリーゼ/ゼリア新薬/宴会/忘年会/
                    接待 / 飲み会)</a></p>
                    <p style="color:#666; margin-top:5px line-height:1.5;"></p></td>
            </tr>
            </tbody>
        </table>
        <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT" alt="">
        <table cellpadding="0" cellspacing="0" border="0" style=" border:1px solid #ccc; width:300px;">
            <tbody>
            <tr style="border-style:none;">
                <td style="vertical-align:top; border-style:none; padding:10px; width:44px;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00s89a4.2bo11640.g00s89a4.2bo1261e%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fumineko-shoji%252Fpp-zst-adl-01-cpn%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fumineko-shoji%252Fi%252F10007594%252F"
                        rel="nofollow"><img border="0" alt=""
                                            src="https://thumbnail.image.rakuten.co.jp/@0_gold/umineko-shoji/umineko/img/PP-ZST-ADL-01_1.gif?_ex=64x64"/></a>
                </td>
                <td style="font-size:12px; vertical-align:middle; border-style:none; padding:10px;"><p
                        style="padding:0; margin:0;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00s89a4.2bo11640.g00s89a4.2bo1261e%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fumineko-shoji%252Fpp-zst-adl-01-cpn%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fumineko-shoji%252Fi%252F10007594%252F"
                        rel="nofollow">ハロウィン 衣装 コスプレ 仮装 コスチューム 男 男性 女 女性 メンズ レディース 節分 鬼 青鬼 赤鬼 うける 面白い かっこいい お手軽 全身タイツ
                    モジモジくん 人気者 なりきり 大人 S M L XL 2XL 3XL 145cm-200cm 大きいサイズ 対応 家 遊び 全身 タイツ 飲み会 グッズ</a></p>
                    <p style="color:#666; margin-top:5px line-height:1.5;"></p></td>
            </tr>
            </tbody>
        </table>
        <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT" alt="">
        <table cellpadding="0" cellspacing="0" border="0" style=" border:1px solid #ccc; width:300px;">
            <tbody>
            <tr style="border-style:none;">
                <td style="vertical-align:top; border-style:none; padding:10px; width:44px;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00s89a4.2bo11640.g00s89a4.2bo1261e%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fumineko-shoji%252Fpp-mcho-adl-01%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fumineko-shoji%252Fi%252F10005369%252F"
                        rel="nofollow"><img border="0" alt=""
                                            src="https://thumbnail.image.rakuten.co.jp/@0_gold/umineko-shoji/umineko/img/PP-MCHO-ADL-01_1.gif?_ex=64x64"/></a>
                </td>
                <td style="font-size:12px; vertical-align:middle; border-style:none; padding:10px;"><p
                        style="padding:0; margin:0;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00s89a4.2bo11640.g00s89a4.2bo1261e%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fumineko-shoji%252Fpp-mcho-adl-01%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fumineko-shoji%252Fi%252F10005369%252F"
                        rel="nofollow">ハロウィン 衣装 コスプレ 仮装 コスチューム 男 男性 メンズ うける 生々しくて面白い かっこいい お手軽 軽くて丈夫 筋肉 マッスル マッチョ ムキムキ
                    腹筋 大胸筋 上半身 人気者 なりきり フリーサイズ お家遊び 家 遊び 室内 遊び着 zoom オンライン 飲み会 宅飲み</a></p>
                    <p style="color:#666; margin-top:5px line-height:1.5;"></p></td>
            </tr>
            </tbody>
        </table>
        <img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT" alt="">
        <table cellpadding="0" cellspacing="0" border="0" style=" border:1px solid #ccc; width:300px;">
            <tbody>
            <tr style="border-style:none;">
                <td style="vertical-align:top; border-style:none; padding:10px; width:44px;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00s89a4.2bo11640.g00s89a4.2bo1261e%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fumineko-shoji%252Firui-21-xl-np%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fumineko-shoji%252Fi%252F10002718%252F"
                        rel="nofollow"><img border="0" alt=""
                                            src="https://thumbnail.image.rakuten.co.jp/@0_gold/umineko-shoji/umineko/img/IRUI-21-L.gif?_ex=64x64"/></a>
                </td>
                <td style="font-size:12px; vertical-align:middle; border-style:none; padding:10px;"><p
                        style="padding:0; margin:0;"><a
                        href="https://rpx.a8.net/svt/ejp?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT&rakuten=y&a8ejpredirect=https%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00s89a4.2bo11640.g00s89a4.2bo1261e%2Fa22101656831_3NL52J_3ZHHKI_2HOM_BWGDT%3Fpc%3Dhttps%253A%252F%252Fitem.rakuten.co.jp%252Fumineko-shoji%252Firui-21-xl-np%252F%26amp%3Bm%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Fumineko-shoji%252Fi%252F10002718%252F"
                        rel="nofollow">ハロウィン 衣装 コスプレ 仮装 コスチューム かわいい お手軽セット 赤ずきん風コスチューム XLサイズ お家遊び 家 遊び 室内 おもちゃ 遊び着 ベランダ
                    庭 zoom オンライン 飲み会 宅飲み</a></p>
                    <p style="color:#666; margin-top:5px line-height:1.5;"></p></td>
            </tr>
            </tbody>
        </table>
        <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3NL52J+3ZHHKI+2HOM+BWGDT" alt="">

    </div>
</div>

</body>
</html>