<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7095790727260609"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <link rel="stylesheet" href="/static/css/main.css?v=10">
    <link rel="icon" type="image/ico" href="{% static 'media_local/favicon.ico'%}">
    <title>ユーモアな館</title>
</head>
<body>

<div class="container">
    <div>
        <header class="clearfix">

            　　　　　　　　　　

            <h1>ユーモアな館</h1>
            <div class="title">
                <p class="side_text">読めば「ユーモア溢れる人」になれるブログです。</p>
                <figure class="side_image"><img src="{% static 'media_local/main.jpg'%}" width="300" height="150">
                </figure>

            </div>

        </header>
    </div>
    <hr class="hr_stripe">
    　
    <div>
        <nav>
            <ul class="clearfix">
                <li><a href="{% url 'blog:index' %}">表紙</a></li>
                <li><a href="humor_summary">ユーモア語録</a></li>
                <li><a href="life_summary">ユーモア小道具</a></li>
                <li><a href="trivia_summary">ユーモア豆知識</a></li>
                <li><a href="fashion_summary">ユーモア身嗜み</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <div class="main-img">
            <img src="{% static 'media_local/Image.jpg'%}" width="800" height="250">
            　　　　　　　<p>ユーモア(humor)とは・・・<br>人間生活に滲み出るおかしみ。上品なおしゃれ。人生の矛盾・滑稽等を、人間共通の弱点として寛大な態度で眺め楽しむ気持。</p>

            <p></div>
    </div>

    <div class="clearfix">
        <div class="main">
            <div class="pr-area">
                <ul class="clearfix">
                    <li>
                        <h2>ユーモア語録</h2>
                        <a href="humor_summary">
                            <div class="shadow">
                                <img src="{% static 'media_local/laught.jpg'%}" alt="" width="100%">
                            </div>
                        </a>
                        <a href="humor_summary">
                            <p>ユーモア溢れるギャグ、面白い返し、ツッコミなど。</p>
                        </a>
                        <a class="button" href="humor_summary">一覧を確認する</a>
                    </li>
                    <li>
                        <h2>ユーモア小道具</h2>
                        <a href="life_summary">
                            <div class="shadow">
                                <div class="trim-img">
                                    <img src="{% static 'media_local/build.jpg'%}" alt="" width="100%">
                                </div>
                            </div>
                        </a>
                        <a href="life_summary">
                            <p>世知辛い世の中。人生を明るくするユーモアな考え方。</p>
                        </a>
                        <a class="button" href="life_summary">一覧を確認する</a>
                    </li>
                    <li>
                        <h2>ユーモア豆知識</h2>
                        <a href="trivia_summary">
                            <div class="shadow">
                                <div class="trim-img">
                                    <img src="{% static 'media_local/programing.jpg'%}" alt="" width="100%">
                                </div>
                            </div>
                        </a>
                        <a href="trivia_summary"><p>ユーモアな人は雑学あります。</p></a>
                        <a class="button" href="trivia_summary">一覧を確認する</a>
                    </li>
                    <li>
                        <h2>ユーモア身嗜み</h2>
                        <a href="fashion_summary">
                            <div class="shadow">
                                <div class="trim-img">
                                    <img src="{% static 'media_local/nostalgia.jpg'%}" alt="" width="105%">
                                </div>
                            </div>
                        </a>
                        <a href="fashion_summary"><p>ユーモアな人はファッショナブル</p></a>
                        <a class="button" href="fashion_summary">一覧を確認する</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="sidebar">
            <div class="box71">
                <div class="box-title">🌀ユーモアな商材🌀</div>
                <a href="https://px.a8.net/svt/ejp?a8mat=3NL52J+40OCS2+1WP2+65EOH" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www26.a8.net/svt/bgt?aid=221016043243&wid=001&eno=01&mid=s00000008903001033000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3NL52J+40OCS2+1WP2+65EOH"
                     alt="">


                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+BOXHGY+2GMK+ZTFR5" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www22.a8.net/svt/bgt?aid=230304058707&wid=001&eno=01&mid=s00000011486006016000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3T47QY+BOXHGY+2GMK+ZTFR5"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+AQZRZM+2GMK+61C2P" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www26.a8.net/svt/bgt?aid=230304058650&wid=001&eno=01&mid=s00000011486001014000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3T47QY+AQZRZM+2GMK+61C2P"
                     alt="">


                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QY+BUADWY+6HW+3T0HG1" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www20.a8.net/svt/bgt?aid=230304058716&wid=001&eno=01&mid=s00000000842023013000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3T47QY+BUADWY+6HW+3T0HG1"
                     alt="">


                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+67V08I+1WP2+NX735" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www26.a8.net/svt/bgt?aid=230308128376&wid=001&eno=01&mid=s00000008903004018000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3T4AW0+67V08I+1WP2+NX735"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T47QZ+1FSQEQ+2J9U+5ZMCH" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www28.a8.net/svt/bgt?aid=230304059087&wid=001&eno=01&mid=s00000011829001006000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3T47QZ+1FSQEQ+2J9U+5ZMCH"
                     alt="">

                <a href="https://px.a8.net/svt/ejp?a8mat=3T4AW0+65H9TE+3OP8+HX5B5" rel="nofollow">
                    <img border="0" width="234" height="60" alt=""
                         src="https://www20.a8.net/svt/bgt?aid=230308128372&wid=001&eno=01&mid=s00000017198003010000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3T4AW0+65H9TE+3OP8+HX5B5"
                     alt="">

            </div>
        </div>

        <div>
            <footer>
                <div class="clearfix">
                    <div class="footer-left">
                        <a href="index.html">
                            <h1 class="footer-logo">Introduce</h1>
                        </a>

                        <p>生息地：静岡県</p>
                        <p>あだ名：むらさん</p>
                        <p>趣味：特に無し</p>
                        <p>普段考えていること：家族の幸せ</p>
                        <p>一言：Life to enjoy</p>
                    </div>

                    <div class="footer-right">
                        <ul class="clearfix">
                            <li><a href="index.html"></a></li>
                            <li><a href="service.html"></a></li>
                            <li><a href="company.html"></a></li>
                            <li><a href="blog.html"></a></li>
                            <li><a href="contact.html"></a></li>
                        </ul>
                    </div>
                </div>
                <p class="copyright"></p>
            </footer>
        </div>
    </div>
</div>
</body>